// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// ActionServiceApi provides methods for the ActionService API group.
/// </summary>
public class ActionServiceApi : BaseApi
{
    private static readonly string[] ActivatePublicKeyAccepts = ["application/json"];

    private static readonly string[] AddPublicKeyAccepts = ["application/json"];

    private static readonly string[] CreateTargetAccepts = ["application/json"];

    private static readonly string[] DeactivatePublicKeyAccepts = ["application/json"];

    private static readonly string[] DeleteTargetAccepts = ["application/json"];

    private static readonly string[] GetTargetAccepts = ["application/json"];

    private static readonly string[] ListExecutionFunctionsAccepts = ["application/json"];

    private static readonly string[] ListExecutionMethodsAccepts = ["application/json"];

    private static readonly string[] ListExecutionServicesAccepts = ["application/json"];

    private static readonly string[] ListExecutionsAccepts = ["application/json"];

    private static readonly string[] ListPublicKeysAccepts = ["application/json"];

    private static readonly string[] ListTargetsAccepts = ["application/json"];

    private static readonly string[] RemovePublicKeyAccepts = ["application/json"];

    private static readonly string[] SetExecutionAccepts = ["application/json"];

    private static readonly string[] UpdateTargetAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="ActionServiceApi"/> with defaults.</summary>
    public ActionServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="ActionServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public ActionServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="ActionServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public ActionServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Public Key
    /// </summary>
    /// <remarks>Activates the public key for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  Activating a new key will deactivate the current active key. Only one key can be active at a time.  The active key is indicated in the `kid` header in the JWE token sent to the target.  Activating a key that is already active is a no-op.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceActivatePublicKeyRequest"></param>
    /// <returns><![CDATA[ActionServiceActivatePublicKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceActivatePublicKeyResponse> ActivatePublicKeyAsync(
        ActionServiceActivatePublicKeyRequest actionServiceActivatePublicKeyRequest
    )
    {
        Task<ApiResult<ActionServiceActivatePublicKeyResponse>> task =
            ActivatePublicKeyWithHttpInfoAsync(actionServiceActivatePublicKeyRequest);
        ApiResult<ActionServiceActivatePublicKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Activate Public Key (with HTTP info)
    /// </summary>
    /// <remarks>Activates the public key for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  Activating a new key will deactivate the current active key. Only one key can be active at a time.  The active key is indicated in the `kid` header in the JWE token sent to the target.  Activating a key that is already active is a no-op.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceActivatePublicKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceActivatePublicKeyResponse>
    > ActivatePublicKeyWithHttpInfoAsync(
        ActionServiceActivatePublicKeyRequest actionServiceActivatePublicKeyRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/ActivatePublicKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceActivatePublicKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceActivatePublicKeyRequest,
                ActivatePublicKeyAccepts,
                "application/json",
                typeof(ActionServiceActivatePublicKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Public Key
    /// </summary>
    /// <remarks>Adds a public key to the target for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  The public key must be in PEM format and be either an RSA or an EC key.  On a successful addition, a key ID is returned which can not only be used to manage the key (activate, remove),  but also will be used as the `kid` header in the JWE token sent to the target to indicate which key was used for encryption.  Note that newly added keys are inactive by default. You must activate the key to use it for payload encryption.  Providing an optional expiration date allows you to set a validity period for the key.  After the expiration date, the key will be automatically deactivated and no longer used for payload encryption.  Be sure to activate a new key before the current active key expires to avoid interruptions in your target executions.  You can have multiple inactive keys for rotation purposes, but only one active key at a time.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceAddPublicKeyRequest"></param>
    /// <returns><![CDATA[ActionServiceAddPublicKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceAddPublicKeyResponse> AddPublicKeyAsync(
        ActionServiceAddPublicKeyRequest actionServiceAddPublicKeyRequest
    )
    {
        Task<ApiResult<ActionServiceAddPublicKeyResponse>> task = AddPublicKeyWithHttpInfoAsync(
            actionServiceAddPublicKeyRequest
        );
        ApiResult<ActionServiceAddPublicKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add Public Key (with HTTP info)
    /// </summary>
    /// <remarks>Adds a public key to the target for payload encryption.  The public key is used to encrypt the payload sent to the target when the payload type is set to `PAYLOAD_TYPE_JWE`.  The public key must be in PEM format and be either an RSA or an EC key.  On a successful addition, a key ID is returned which can not only be used to manage the key (activate, remove),  but also will be used as the `kid` header in the JWE token sent to the target to indicate which key was used for encryption.  Note that newly added keys are inactive by default. You must activate the key to use it for payload encryption.  Providing an optional expiration date allows you to set a validity period for the key.  After the expiration date, the key will be automatically deactivated and no longer used for payload encryption.  Be sure to activate a new key before the current active key expires to avoid interruptions in your target executions.  You can have multiple inactive keys for rotation purposes, but only one active key at a time.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceAddPublicKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ActionServiceAddPublicKeyResponse>> AddPublicKeyWithHttpInfoAsync(
        ActionServiceAddPublicKeyRequest actionServiceAddPublicKeyRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/AddPublicKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceAddPublicKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceAddPublicKeyRequest,
                AddPublicKeyAccepts,
                "application/json",
                typeof(ActionServiceAddPublicKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Target
    /// </summary>
    /// <remarks>Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceCreateTargetRequest"></param>
    /// <returns><![CDATA[ActionServiceCreateTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceCreateTargetResponse> CreateTargetAsync(
        ActionServiceCreateTargetRequest actionServiceCreateTargetRequest
    )
    {
        Task<ApiResult<ActionServiceCreateTargetResponse>> task = CreateTargetWithHttpInfoAsync(
            actionServiceCreateTargetRequest
        );
        ApiResult<ActionServiceCreateTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create Target (with HTTP info)
    /// </summary>
    /// <remarks>Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceCreateTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ActionServiceCreateTargetResponse>> CreateTargetWithHttpInfoAsync(
        ActionServiceCreateTargetRequest actionServiceCreateTargetRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/CreateTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceCreateTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceCreateTargetRequest,
                CreateTargetAccepts,
                "application/json",
                typeof(ActionServiceCreateTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Public Key
    /// </summary>
    /// <remarks>Deactivates the public key for payload encryption.  The public key will no longer be used to encrypt payloads sent to the target.  Be aware that deactivating the active key will leave the target without an active key.  Subsequent calls to the target with payload type `PAYLOAD_TYPE_JWE` will fail until a new key is activated.  This endpoint can be used in break glass scenarios to quickly disable a compromised key.  Deactivating a key that is already inactive is a no-op.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceDeactivatePublicKeyRequest"></param>
    /// <returns><![CDATA[ActionServiceDeactivatePublicKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceDeactivatePublicKeyResponse> DeactivatePublicKeyAsync(
        ActionServiceDeactivatePublicKeyRequest actionServiceDeactivatePublicKeyRequest
    )
    {
        Task<ApiResult<ActionServiceDeactivatePublicKeyResponse>> task =
            DeactivatePublicKeyWithHttpInfoAsync(actionServiceDeactivatePublicKeyRequest);
        ApiResult<ActionServiceDeactivatePublicKeyResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Deactivate Public Key (with HTTP info)
    /// </summary>
    /// <remarks>Deactivates the public key for payload encryption.  The public key will no longer be used to encrypt payloads sent to the target.  Be aware that deactivating the active key will leave the target without an active key.  Subsequent calls to the target with payload type `PAYLOAD_TYPE_JWE` will fail until a new key is activated.  This endpoint can be used in break glass scenarios to quickly disable a compromised key.  Deactivating a key that is already inactive is a no-op.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceDeactivatePublicKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceDeactivatePublicKeyResponse>
    > DeactivatePublicKeyWithHttpInfoAsync(
        ActionServiceDeactivatePublicKeyRequest actionServiceDeactivatePublicKeyRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/DeactivatePublicKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceDeactivatePublicKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceDeactivatePublicKeyRequest,
                DeactivatePublicKeyAccepts,
                "application/json",
                typeof(ActionServiceDeactivatePublicKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Target
    /// </summary>
    /// <remarks>Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`</remarks>
    /// <param name="actionServiceDeleteTargetRequest"></param>
    /// <returns><![CDATA[ActionServiceDeleteTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceDeleteTargetResponse> DeleteTargetAsync(
        ActionServiceDeleteTargetRequest actionServiceDeleteTargetRequest
    )
    {
        Task<ApiResult<ActionServiceDeleteTargetResponse>> task = DeleteTargetWithHttpInfoAsync(
            actionServiceDeleteTargetRequest
        );
        ApiResult<ActionServiceDeleteTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Target (with HTTP info)
    /// </summary>
    /// <remarks>Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`</remarks>
    /// <param name="actionServiceDeleteTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ActionServiceDeleteTargetResponse>> DeleteTargetWithHttpInfoAsync(
        ActionServiceDeleteTargetRequest actionServiceDeleteTargetRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/DeleteTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceDeleteTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceDeleteTargetRequest,
                DeleteTargetAccepts,
                "application/json",
                typeof(ActionServiceDeleteTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Target
    /// </summary>
    /// <remarks>Returns the target identified by the requested ID.   Required permission:    - `action.target.read`</remarks>
    /// <param name="actionServiceGetTargetRequest"></param>
    /// <returns><![CDATA[ActionServiceGetTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceGetTargetResponse> GetTargetAsync(
        ActionServiceGetTargetRequest actionServiceGetTargetRequest
    )
    {
        Task<ApiResult<ActionServiceGetTargetResponse>> task = GetTargetWithHttpInfoAsync(
            actionServiceGetTargetRequest
        );
        ApiResult<ActionServiceGetTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get Target (with HTTP info)
    /// </summary>
    /// <remarks>Returns the target identified by the requested ID.   Required permission:    - `action.target.read`</remarks>
    /// <param name="actionServiceGetTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ActionServiceGetTargetResponse>> GetTargetWithHttpInfoAsync(
        ActionServiceGetTargetRequest actionServiceGetTargetRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/GetTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceGetTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceGetTargetRequest,
                GetTargetAccepts,
                "application/json",
                typeof(ActionServiceGetTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Execution Functions
    /// </summary>
    /// <remarks>List all available functions which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[ActionServiceListExecutionFunctionsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceListExecutionFunctionsResponse> ListExecutionFunctionsAsync(
        Object body
    )
    {
        Task<ApiResult<ActionServiceListExecutionFunctionsResponse>> task =
            ListExecutionFunctionsWithHttpInfoAsync(body);
        ApiResult<ActionServiceListExecutionFunctionsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Execution Functions (with HTTP info)
    /// </summary>
    /// <remarks>List all available functions which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceListExecutionFunctionsResponse>
    > ListExecutionFunctionsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.action.v2.ActionService/ListExecutionFunctions";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceListExecutionFunctionsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListExecutionFunctionsAccepts,
                "application/json",
                typeof(ActionServiceListExecutionFunctionsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Execution Methods
    /// </summary>
    /// <remarks>List all available methods which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[ActionServiceListExecutionMethodsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceListExecutionMethodsResponse> ListExecutionMethodsAsync(
        Object body
    )
    {
        Task<ApiResult<ActionServiceListExecutionMethodsResponse>> task =
            ListExecutionMethodsWithHttpInfoAsync(body);
        ApiResult<ActionServiceListExecutionMethodsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Execution Methods (with HTTP info)
    /// </summary>
    /// <remarks>List all available methods which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceListExecutionMethodsResponse>
    > ListExecutionMethodsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.action.v2.ActionService/ListExecutionMethods";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceListExecutionMethodsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListExecutionMethodsAccepts,
                "application/json",
                typeof(ActionServiceListExecutionMethodsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Execution Services
    /// </summary>
    /// <remarks>List all available services which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[ActionServiceListExecutionServicesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceListExecutionServicesResponse> ListExecutionServicesAsync(
        Object body
    )
    {
        Task<ApiResult<ActionServiceListExecutionServicesResponse>> task =
            ListExecutionServicesWithHttpInfoAsync(body);
        ApiResult<ActionServiceListExecutionServicesResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Execution Services (with HTTP info)
    /// </summary>
    /// <remarks>List all available services which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceListExecutionServicesResponse>
    > ListExecutionServicesWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.action.v2.ActionService/ListExecutionServices";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceListExecutionServicesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListExecutionServicesAccepts,
                "application/json",
                typeof(ActionServiceListExecutionServicesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Executions
    /// </summary>
    /// <remarks>List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`</remarks>
    /// <param name="actionServiceListExecutionsRequest"></param>
    /// <returns><![CDATA[ActionServiceListExecutionsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceListExecutionsResponse> ListExecutionsAsync(
        ActionServiceListExecutionsRequest actionServiceListExecutionsRequest
    )
    {
        Task<ApiResult<ActionServiceListExecutionsResponse>> task = ListExecutionsWithHttpInfoAsync(
            actionServiceListExecutionsRequest
        );
        ApiResult<ActionServiceListExecutionsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Executions (with HTTP info)
    /// </summary>
    /// <remarks>List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`</remarks>
    /// <param name="actionServiceListExecutionsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceListExecutionsResponse>
    > ListExecutionsWithHttpInfoAsync(
        ActionServiceListExecutionsRequest actionServiceListExecutionsRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/ListExecutions";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceListExecutionsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceListExecutionsRequest,
                ListExecutionsAccepts,
                "application/json",
                typeof(ActionServiceListExecutionsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Public Keys
    /// </summary>
    /// <remarks>Lists all public keys of a target.  The response includes which key is active and the key's expiration dates.  This allows you to manage key rotations and ensure that your target always has an active key for payload encryption.   Required permission:    - `action.target.read`</remarks>
    /// <param name="actionServiceListPublicKeysRequest"></param>
    /// <returns><![CDATA[ActionServiceListPublicKeysResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceListPublicKeysResponse> ListPublicKeysAsync(
        ActionServiceListPublicKeysRequest actionServiceListPublicKeysRequest
    )
    {
        Task<ApiResult<ActionServiceListPublicKeysResponse>> task = ListPublicKeysWithHttpInfoAsync(
            actionServiceListPublicKeysRequest
        );
        ApiResult<ActionServiceListPublicKeysResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Public Keys (with HTTP info)
    /// </summary>
    /// <remarks>Lists all public keys of a target.  The response includes which key is active and the key's expiration dates.  This allows you to manage key rotations and ensure that your target always has an active key for payload encryption.   Required permission:    - `action.target.read`</remarks>
    /// <param name="actionServiceListPublicKeysRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceListPublicKeysResponse>
    > ListPublicKeysWithHttpInfoAsync(
        ActionServiceListPublicKeysRequest actionServiceListPublicKeysRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/ListPublicKeys";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceListPublicKeysResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceListPublicKeysRequest,
                ListPublicKeysAccepts,
                "application/json",
                typeof(ActionServiceListPublicKeysResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List targets
    /// </summary>
    /// <remarks>List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`</remarks>
    /// <param name="actionServiceListTargetsRequest"></param>
    /// <returns><![CDATA[ActionServiceListTargetsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceListTargetsResponse> ListTargetsAsync(
        ActionServiceListTargetsRequest actionServiceListTargetsRequest
    )
    {
        Task<ApiResult<ActionServiceListTargetsResponse>> task = ListTargetsWithHttpInfoAsync(
            actionServiceListTargetsRequest
        );
        ApiResult<ActionServiceListTargetsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List targets (with HTTP info)
    /// </summary>
    /// <remarks>List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`</remarks>
    /// <param name="actionServiceListTargetsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ActionServiceListTargetsResponse>> ListTargetsWithHttpInfoAsync(
        ActionServiceListTargetsRequest actionServiceListTargetsRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/ListTargets";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceListTargetsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceListTargetsRequest,
                ListTargetsAccepts,
                "application/json",
                typeof(ActionServiceListTargetsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove Public Key
    /// </summary>
    /// <remarks>Removes the public key from the target. This is a permanent action and can not be undone.  Note that you can only remove inactive keys. Attempting to remove an active key will result in an error.  For break glass scenarios, deactivate the key first and then remove it.  Removing a non-existing key is a no-op.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceRemovePublicKeyRequest"></param>
    /// <returns><![CDATA[ActionServiceRemovePublicKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceRemovePublicKeyResponse> RemovePublicKeyAsync(
        ActionServiceRemovePublicKeyRequest actionServiceRemovePublicKeyRequest
    )
    {
        Task<ApiResult<ActionServiceRemovePublicKeyResponse>> task =
            RemovePublicKeyWithHttpInfoAsync(actionServiceRemovePublicKeyRequest);
        ApiResult<ActionServiceRemovePublicKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Remove Public Key (with HTTP info)
    /// </summary>
    /// <remarks>Removes the public key from the target. This is a permanent action and can not be undone.  Note that you can only remove inactive keys. Attempting to remove an active key will result in an error.  For break glass scenarios, deactivate the key first and then remove it.  Removing a non-existing key is a no-op.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceRemovePublicKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<ActionServiceRemovePublicKeyResponse>
    > RemovePublicKeyWithHttpInfoAsync(
        ActionServiceRemovePublicKeyRequest actionServiceRemovePublicKeyRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/RemovePublicKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceRemovePublicKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceRemovePublicKeyRequest,
                RemovePublicKeyAccepts,
                "application/json",
                typeof(ActionServiceRemovePublicKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Execution
    /// </summary>
    /// <remarks>Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`</remarks>
    /// <param name="actionServiceSetExecutionRequest"></param>
    /// <returns><![CDATA[ActionServiceSetExecutionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceSetExecutionResponse> SetExecutionAsync(
        ActionServiceSetExecutionRequest actionServiceSetExecutionRequest
    )
    {
        Task<ApiResult<ActionServiceSetExecutionResponse>> task = SetExecutionWithHttpInfoAsync(
            actionServiceSetExecutionRequest
        );
        ApiResult<ActionServiceSetExecutionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Set Execution (with HTTP info)
    /// </summary>
    /// <remarks>Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`</remarks>
    /// <param name="actionServiceSetExecutionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ActionServiceSetExecutionResponse>> SetExecutionWithHttpInfoAsync(
        ActionServiceSetExecutionRequest actionServiceSetExecutionRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/SetExecution";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceSetExecutionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceSetExecutionRequest,
                SetExecutionAccepts,
                "application/json",
                typeof(ActionServiceSetExecutionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Target
    /// </summary>
    /// <remarks>Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceUpdateTargetRequest"></param>
    /// <returns><![CDATA[ActionServiceUpdateTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ActionServiceUpdateTargetResponse> UpdateTargetAsync(
        ActionServiceUpdateTargetRequest actionServiceUpdateTargetRequest
    )
    {
        Task<ApiResult<ActionServiceUpdateTargetResponse>> task = UpdateTargetWithHttpInfoAsync(
            actionServiceUpdateTargetRequest
        );
        ApiResult<ActionServiceUpdateTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update Target (with HTTP info)
    /// </summary>
    /// <remarks>Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`</remarks>
    /// <param name="actionServiceUpdateTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ActionServiceUpdateTargetResponse>> UpdateTargetWithHttpInfoAsync(
        ActionServiceUpdateTargetRequest actionServiceUpdateTargetRequest
    )
    {
        string path = "/zitadel.action.v2.ActionService/UpdateTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ActionServiceUpdateTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                actionServiceUpdateTargetRequest,
                UpdateTargetAccepts,
                "application/json",
                typeof(ActionServiceUpdateTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
