// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// ApplicationServiceApi provides methods for the ApplicationService API group.
/// </summary>
public class ApplicationServiceApi : BaseApi
{

    private static readonly string[] CreateApplicationAccepts = ["application/json"];

    private static readonly string[] CreateApplicationKeyAccepts = ["application/json"];

    private static readonly string[] DeactivateApplicationAccepts = ["application/json"];

    private static readonly string[] DeleteApplicationAccepts = ["application/json"];

    private static readonly string[] DeleteApplicationKeyAccepts = ["application/json"];

    private static readonly string[] GenerateClientSecretAccepts = ["application/json"];

    private static readonly string[] GetApplicationAccepts = ["application/json"];

    private static readonly string[] GetApplicationKeyAccepts = ["application/json"];

    private static readonly string[] ListApplicationKeysAccepts = ["application/json"];

    private static readonly string[] ListApplicationsAccepts = ["application/json"];

    private static readonly string[] ReactivateApplicationAccepts = ["application/json"];

    private static readonly string[] UpdateApplicationAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="ApplicationServiceApi"/> with defaults.</summary>
    public ApplicationServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="ApplicationServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public ApplicationServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="ApplicationServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public ApplicationServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create Application
    /// </summary>
    /// <remarks>Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceCreateApplicationRequest"></param>
    /// <returns><![CDATA[ApplicationServiceCreateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceCreateApplicationResponse> CreateApplicationAsync(ApplicationServiceCreateApplicationRequest applicationServiceCreateApplicationRequest)
    {
        Task<ApiResult<ApplicationServiceCreateApplicationResponse>> task = CreateApplicationWithHttpInfoAsync(applicationServiceCreateApplicationRequest);
        ApiResult<ApplicationServiceCreateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Application (with HTTP info)
    /// </summary>
    /// <remarks>Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceCreateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceCreateApplicationResponse>> CreateApplicationWithHttpInfoAsync(ApplicationServiceCreateApplicationRequest applicationServiceCreateApplicationRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/CreateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceCreateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceCreateApplicationRequest,
                CreateApplicationAccepts,
                "application/json",
                typeof(ApplicationServiceCreateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Application Key
    /// </summary>
    /// <remarks>Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="applicationServiceCreateApplicationKeyRequest"></param>
    /// <returns><![CDATA[ApplicationServiceCreateApplicationKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceCreateApplicationKeyResponse> CreateApplicationKeyAsync(ApplicationServiceCreateApplicationKeyRequest applicationServiceCreateApplicationKeyRequest)
    {
        Task<ApiResult<ApplicationServiceCreateApplicationKeyResponse>> task = CreateApplicationKeyWithHttpInfoAsync(applicationServiceCreateApplicationKeyRequest);
        ApiResult<ApplicationServiceCreateApplicationKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Application Key (with HTTP info)
    /// </summary>
    /// <remarks>Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="applicationServiceCreateApplicationKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceCreateApplicationKeyResponse>> CreateApplicationKeyWithHttpInfoAsync(ApplicationServiceCreateApplicationKeyRequest applicationServiceCreateApplicationKeyRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/CreateApplicationKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceCreateApplicationKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceCreateApplicationKeyRequest,
                CreateApplicationKeyAccepts,
                "application/json",
                typeof(ApplicationServiceCreateApplicationKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Application
    /// </summary>
    /// <remarks>Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceDeactivateApplicationRequest"></param>
    /// <returns><![CDATA[ApplicationServiceDeactivateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceDeactivateApplicationResponse> DeactivateApplicationAsync(ApplicationServiceDeactivateApplicationRequest applicationServiceDeactivateApplicationRequest)
    {
        Task<ApiResult<ApplicationServiceDeactivateApplicationResponse>> task = DeactivateApplicationWithHttpInfoAsync(applicationServiceDeactivateApplicationRequest);
        ApiResult<ApplicationServiceDeactivateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Deactivate Application (with HTTP info)
    /// </summary>
    /// <remarks>Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceDeactivateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceDeactivateApplicationResponse>> DeactivateApplicationWithHttpInfoAsync(ApplicationServiceDeactivateApplicationRequest applicationServiceDeactivateApplicationRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/DeactivateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceDeactivateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceDeactivateApplicationRequest,
                DeactivateApplicationAccepts,
                "application/json",
                typeof(ApplicationServiceDeactivateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Application
    /// </summary>
    /// <remarks>Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete</remarks>
    /// <param name="applicationServiceDeleteApplicationRequest"></param>
    /// <returns><![CDATA[ApplicationServiceDeleteApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceDeleteApplicationResponse> DeleteApplicationAsync(ApplicationServiceDeleteApplicationRequest applicationServiceDeleteApplicationRequest)
    {
        Task<ApiResult<ApplicationServiceDeleteApplicationResponse>> task = DeleteApplicationWithHttpInfoAsync(applicationServiceDeleteApplicationRequest);
        ApiResult<ApplicationServiceDeleteApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Application (with HTTP info)
    /// </summary>
    /// <remarks>Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete</remarks>
    /// <param name="applicationServiceDeleteApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceDeleteApplicationResponse>> DeleteApplicationWithHttpInfoAsync(ApplicationServiceDeleteApplicationRequest applicationServiceDeleteApplicationRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/DeleteApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceDeleteApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceDeleteApplicationRequest,
                DeleteApplicationAccepts,
                "application/json",
                typeof(ApplicationServiceDeleteApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Application Key
    /// </summary>
    /// <remarks>Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="applicationServiceDeleteApplicationKeyRequest"></param>
    /// <returns><![CDATA[ApplicationServiceDeleteApplicationKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceDeleteApplicationKeyResponse> DeleteApplicationKeyAsync(ApplicationServiceDeleteApplicationKeyRequest applicationServiceDeleteApplicationKeyRequest)
    {
        Task<ApiResult<ApplicationServiceDeleteApplicationKeyResponse>> task = DeleteApplicationKeyWithHttpInfoAsync(applicationServiceDeleteApplicationKeyRequest);
        ApiResult<ApplicationServiceDeleteApplicationKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Application Key (with HTTP info)
    /// </summary>
    /// <remarks>Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="applicationServiceDeleteApplicationKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceDeleteApplicationKeyResponse>> DeleteApplicationKeyWithHttpInfoAsync(ApplicationServiceDeleteApplicationKeyRequest applicationServiceDeleteApplicationKeyRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/DeleteApplicationKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceDeleteApplicationKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceDeleteApplicationKeyRequest,
                DeleteApplicationKeyAccepts,
                "application/json",
                typeof(ApplicationServiceDeleteApplicationKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Generate Client Secret
    /// </summary>
    /// <remarks>Generates the client secret of an API or OIDC application that belongs to the input project.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceGenerateClientSecretRequest"></param>
    /// <returns><![CDATA[ApplicationServiceGenerateClientSecretResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceGenerateClientSecretResponse> GenerateClientSecretAsync(ApplicationServiceGenerateClientSecretRequest applicationServiceGenerateClientSecretRequest)
    {
        Task<ApiResult<ApplicationServiceGenerateClientSecretResponse>> task = GenerateClientSecretWithHttpInfoAsync(applicationServiceGenerateClientSecretRequest);
        ApiResult<ApplicationServiceGenerateClientSecretResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Generate Client Secret (with HTTP info)
    /// </summary>
    /// <remarks>Generates the client secret of an API or OIDC application that belongs to the input project.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceGenerateClientSecretRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceGenerateClientSecretResponse>> GenerateClientSecretWithHttpInfoAsync(ApplicationServiceGenerateClientSecretRequest applicationServiceGenerateClientSecretRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/GenerateClientSecret";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceGenerateClientSecretResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceGenerateClientSecretRequest,
                GenerateClientSecretAccepts,
                "application/json",
                typeof(ApplicationServiceGenerateClientSecretResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Application
    /// </summary>
    /// <remarks>Retrieves the application matching the provided ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceGetApplicationRequest"></param>
    /// <returns><![CDATA[ApplicationServiceGetApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceGetApplicationResponse> GetApplicationAsync(ApplicationServiceGetApplicationRequest applicationServiceGetApplicationRequest)
    {
        Task<ApiResult<ApplicationServiceGetApplicationResponse>> task = GetApplicationWithHttpInfoAsync(applicationServiceGetApplicationRequest);
        ApiResult<ApplicationServiceGetApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Application (with HTTP info)
    /// </summary>
    /// <remarks>Retrieves the application matching the provided ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceGetApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceGetApplicationResponse>> GetApplicationWithHttpInfoAsync(ApplicationServiceGetApplicationRequest applicationServiceGetApplicationRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/GetApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceGetApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceGetApplicationRequest,
                GetApplicationAccepts,
                "application/json",
                typeof(ApplicationServiceGetApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Application Key
    /// </summary>
    /// <remarks>Retrieves the application key matching the provided ID.   Specifying a project, organization and application ID is optional but help with filtering/performance.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceGetApplicationKeyRequest"></param>
    /// <returns><![CDATA[ApplicationServiceGetApplicationKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceGetApplicationKeyResponse> GetApplicationKeyAsync(ApplicationServiceGetApplicationKeyRequest applicationServiceGetApplicationKeyRequest)
    {
        Task<ApiResult<ApplicationServiceGetApplicationKeyResponse>> task = GetApplicationKeyWithHttpInfoAsync(applicationServiceGetApplicationKeyRequest);
        ApiResult<ApplicationServiceGetApplicationKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Application Key (with HTTP info)
    /// </summary>
    /// <remarks>Retrieves the application key matching the provided ID.   Specifying a project, organization and application ID is optional but help with filtering/performance.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceGetApplicationKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceGetApplicationKeyResponse>> GetApplicationKeyWithHttpInfoAsync(ApplicationServiceGetApplicationKeyRequest applicationServiceGetApplicationKeyRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/GetApplicationKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceGetApplicationKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceGetApplicationKeyRequest,
                GetApplicationKeyAccepts,
                "application/json",
                typeof(ApplicationServiceGetApplicationKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Application Keys
    /// </summary>
    /// <remarks>Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by application, project or organization ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceListApplicationKeysRequest"></param>
    /// <returns><![CDATA[ApplicationServiceListApplicationKeysResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceListApplicationKeysResponse> ListApplicationKeysAsync(ApplicationServiceListApplicationKeysRequest applicationServiceListApplicationKeysRequest)
    {
        Task<ApiResult<ApplicationServiceListApplicationKeysResponse>> task = ListApplicationKeysWithHttpInfoAsync(applicationServiceListApplicationKeysRequest);
        ApiResult<ApplicationServiceListApplicationKeysResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Application Keys (with HTTP info)
    /// </summary>
    /// <remarks>Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by application, project or organization ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceListApplicationKeysRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceListApplicationKeysResponse>> ListApplicationKeysWithHttpInfoAsync(ApplicationServiceListApplicationKeysRequest applicationServiceListApplicationKeysRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/ListApplicationKeys";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceListApplicationKeysResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceListApplicationKeysRequest,
                ListApplicationKeysAccepts,
                "application/json",
                typeof(ApplicationServiceListApplicationKeysResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Applications
    /// </summary>
    /// <remarks>Returns a list of applications matching the input parameters. The results can be filtered  by project, state, type and name. It can be sorted by id, name, creation date, change date or state.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceListApplicationsRequest"></param>
    /// <returns><![CDATA[ApplicationServiceListApplicationsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceListApplicationsResponse> ListApplicationsAsync(ApplicationServiceListApplicationsRequest applicationServiceListApplicationsRequest)
    {
        Task<ApiResult<ApplicationServiceListApplicationsResponse>> task = ListApplicationsWithHttpInfoAsync(applicationServiceListApplicationsRequest);
        ApiResult<ApplicationServiceListApplicationsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Applications (with HTTP info)
    /// </summary>
    /// <remarks>Returns a list of applications matching the input parameters. The results can be filtered  by project, state, type and name. It can be sorted by id, name, creation date, change date or state.   Required permissions:    - project.app.read</remarks>
    /// <param name="applicationServiceListApplicationsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceListApplicationsResponse>> ListApplicationsWithHttpInfoAsync(ApplicationServiceListApplicationsRequest applicationServiceListApplicationsRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/ListApplications";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceListApplicationsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceListApplicationsRequest,
                ListApplicationsAccepts,
                "application/json",
                typeof(ApplicationServiceListApplicationsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Reactivate Application
    /// </summary>
    /// <remarks>Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceReactivateApplicationRequest"></param>
    /// <returns><![CDATA[ApplicationServiceReactivateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceReactivateApplicationResponse> ReactivateApplicationAsync(ApplicationServiceReactivateApplicationRequest applicationServiceReactivateApplicationRequest)
    {
        Task<ApiResult<ApplicationServiceReactivateApplicationResponse>> task = ReactivateApplicationWithHttpInfoAsync(applicationServiceReactivateApplicationRequest);
        ApiResult<ApplicationServiceReactivateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Reactivate Application (with HTTP info)
    /// </summary>
    /// <remarks>Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceReactivateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceReactivateApplicationResponse>> ReactivateApplicationWithHttpInfoAsync(ApplicationServiceReactivateApplicationRequest applicationServiceReactivateApplicationRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/ReactivateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceReactivateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceReactivateApplicationRequest,
                ReactivateApplicationAccepts,
                "application/json",
                typeof(ApplicationServiceReactivateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Application
    /// </summary>
    /// <remarks>Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceUpdateApplicationRequest"></param>
    /// <returns><![CDATA[ApplicationServiceUpdateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApplicationServiceUpdateApplicationResponse> UpdateApplicationAsync(ApplicationServiceUpdateApplicationRequest applicationServiceUpdateApplicationRequest)
    {
        Task<ApiResult<ApplicationServiceUpdateApplicationResponse>> task = UpdateApplicationWithHttpInfoAsync(applicationServiceUpdateApplicationRequest);
        ApiResult<ApplicationServiceUpdateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Application (with HTTP info)
    /// </summary>
    /// <remarks>Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write</remarks>
    /// <param name="applicationServiceUpdateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ApplicationServiceUpdateApplicationResponse>> UpdateApplicationWithHttpInfoAsync(ApplicationServiceUpdateApplicationRequest applicationServiceUpdateApplicationRequest)
    {
        string path = "/zitadel.application.v2.ApplicationService/UpdateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ApplicationServiceUpdateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                applicationServiceUpdateApplicationRequest,
                UpdateApplicationAccepts,
                "application/json",
                typeof(ApplicationServiceUpdateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
