// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// AuthorizationServiceApi provides methods for the AuthorizationService API group.
/// </summary>
public class AuthorizationServiceApi : BaseApi
{
    private static readonly string[] ActivateAuthorizationAccepts = ["application/json"];

    private static readonly string[] CreateAuthorizationAccepts = ["application/json"];

    private static readonly string[] DeactivateAuthorizationAccepts = ["application/json"];

    private static readonly string[] DeleteAuthorizationAccepts = ["application/json"];

    private static readonly string[] ListAuthorizationsAccepts = ["application/json"];

    private static readonly string[] UpdateAuthorizationAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="AuthorizationServiceApi"/> with defaults.</summary>
    public AuthorizationServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="AuthorizationServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public AuthorizationServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="AuthorizationServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public AuthorizationServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Authorization
    /// </summary>
    /// <remarks>ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceActivateAuthorizationRequest"></param>
    /// <returns><![CDATA[AuthorizationServiceActivateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<AuthorizationServiceActivateAuthorizationResponse> ActivateAuthorizationAsync(
        AuthorizationServiceActivateAuthorizationRequest authorizationServiceActivateAuthorizationRequest
    )
    {
        Task<ApiResult<AuthorizationServiceActivateAuthorizationResponse>> task =
            ActivateAuthorizationWithHttpInfoAsync(
                authorizationServiceActivateAuthorizationRequest
            );
        ApiResult<AuthorizationServiceActivateAuthorizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Activate Authorization (with HTTP info)
    /// </summary>
    /// <remarks>ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceActivateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<AuthorizationServiceActivateAuthorizationResponse>
    > ActivateAuthorizationWithHttpInfoAsync(
        AuthorizationServiceActivateAuthorizationRequest authorizationServiceActivateAuthorizationRequest
    )
    {
        string path = "/zitadel.authorization.v2.AuthorizationService/ActivateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<AuthorizationServiceActivateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                authorizationServiceActivateAuthorizationRequest,
                ActivateAuthorizationAccepts,
                "application/json",
                typeof(AuthorizationServiceActivateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Authorization
    /// </summary>
    /// <remarks>CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceCreateAuthorizationRequest"></param>
    /// <returns><![CDATA[AuthorizationServiceCreateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<AuthorizationServiceCreateAuthorizationResponse> CreateAuthorizationAsync(
        AuthorizationServiceCreateAuthorizationRequest authorizationServiceCreateAuthorizationRequest
    )
    {
        Task<ApiResult<AuthorizationServiceCreateAuthorizationResponse>> task =
            CreateAuthorizationWithHttpInfoAsync(authorizationServiceCreateAuthorizationRequest);
        ApiResult<AuthorizationServiceCreateAuthorizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create Authorization (with HTTP info)
    /// </summary>
    /// <remarks>CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceCreateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<AuthorizationServiceCreateAuthorizationResponse>
    > CreateAuthorizationWithHttpInfoAsync(
        AuthorizationServiceCreateAuthorizationRequest authorizationServiceCreateAuthorizationRequest
    )
    {
        string path = "/zitadel.authorization.v2.AuthorizationService/CreateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<AuthorizationServiceCreateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                authorizationServiceCreateAuthorizationRequest,
                CreateAuthorizationAccepts,
                "application/json",
                typeof(AuthorizationServiceCreateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Authorization
    /// </summary>
    /// <remarks>DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceDeactivateAuthorizationRequest"></param>
    /// <returns><![CDATA[AuthorizationServiceDeactivateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<AuthorizationServiceDeactivateAuthorizationResponse> DeactivateAuthorizationAsync(
        AuthorizationServiceDeactivateAuthorizationRequest authorizationServiceDeactivateAuthorizationRequest
    )
    {
        Task<ApiResult<AuthorizationServiceDeactivateAuthorizationResponse>> task =
            DeactivateAuthorizationWithHttpInfoAsync(
                authorizationServiceDeactivateAuthorizationRequest
            );
        ApiResult<AuthorizationServiceDeactivateAuthorizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Deactivate Authorization (with HTTP info)
    /// </summary>
    /// <remarks>DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceDeactivateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<AuthorizationServiceDeactivateAuthorizationResponse>
    > DeactivateAuthorizationWithHttpInfoAsync(
        AuthorizationServiceDeactivateAuthorizationRequest authorizationServiceDeactivateAuthorizationRequest
    )
    {
        string path = "/zitadel.authorization.v2.AuthorizationService/DeactivateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<AuthorizationServiceDeactivateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                authorizationServiceDeactivateAuthorizationRequest,
                DeactivateAuthorizationAccepts,
                "application/json",
                typeof(AuthorizationServiceDeactivateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Authorization
    /// </summary>
    /// <remarks>DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"</remarks>
    /// <param name="authorizationServiceDeleteAuthorizationRequest"></param>
    /// <returns><![CDATA[AuthorizationServiceDeleteAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<AuthorizationServiceDeleteAuthorizationResponse> DeleteAuthorizationAsync(
        AuthorizationServiceDeleteAuthorizationRequest authorizationServiceDeleteAuthorizationRequest
    )
    {
        Task<ApiResult<AuthorizationServiceDeleteAuthorizationResponse>> task =
            DeleteAuthorizationWithHttpInfoAsync(authorizationServiceDeleteAuthorizationRequest);
        ApiResult<AuthorizationServiceDeleteAuthorizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Authorization (with HTTP info)
    /// </summary>
    /// <remarks>DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"</remarks>
    /// <param name="authorizationServiceDeleteAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<AuthorizationServiceDeleteAuthorizationResponse>
    > DeleteAuthorizationWithHttpInfoAsync(
        AuthorizationServiceDeleteAuthorizationRequest authorizationServiceDeleteAuthorizationRequest
    )
    {
        string path = "/zitadel.authorization.v2.AuthorizationService/DeleteAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<AuthorizationServiceDeleteAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                authorizationServiceDeleteAuthorizationRequest,
                DeleteAuthorizationAccepts,
                "application/json",
                typeof(AuthorizationServiceDeleteAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Authorizations
    /// </summary>
    /// <remarks>ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations</remarks>
    /// <param name="authorizationServiceListAuthorizationsRequest"></param>
    /// <returns><![CDATA[AuthorizationServiceListAuthorizationsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<AuthorizationServiceListAuthorizationsResponse> ListAuthorizationsAsync(
        AuthorizationServiceListAuthorizationsRequest authorizationServiceListAuthorizationsRequest
    )
    {
        Task<ApiResult<AuthorizationServiceListAuthorizationsResponse>> task =
            ListAuthorizationsWithHttpInfoAsync(authorizationServiceListAuthorizationsRequest);
        ApiResult<AuthorizationServiceListAuthorizationsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Authorizations (with HTTP info)
    /// </summary>
    /// <remarks>ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations</remarks>
    /// <param name="authorizationServiceListAuthorizationsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<AuthorizationServiceListAuthorizationsResponse>
    > ListAuthorizationsWithHttpInfoAsync(
        AuthorizationServiceListAuthorizationsRequest authorizationServiceListAuthorizationsRequest
    )
    {
        string path = "/zitadel.authorization.v2.AuthorizationService/ListAuthorizations";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<AuthorizationServiceListAuthorizationsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                authorizationServiceListAuthorizationsRequest,
                ListAuthorizationsAccepts,
                "application/json",
                typeof(AuthorizationServiceListAuthorizationsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Authorization
    /// </summary>
    /// <remarks>UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceUpdateAuthorizationRequest"></param>
    /// <returns><![CDATA[AuthorizationServiceUpdateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<AuthorizationServiceUpdateAuthorizationResponse> UpdateAuthorizationAsync(
        AuthorizationServiceUpdateAuthorizationRequest authorizationServiceUpdateAuthorizationRequest
    )
    {
        Task<ApiResult<AuthorizationServiceUpdateAuthorizationResponse>> task =
            UpdateAuthorizationWithHttpInfoAsync(authorizationServiceUpdateAuthorizationRequest);
        ApiResult<AuthorizationServiceUpdateAuthorizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update Authorization (with HTTP info)
    /// </summary>
    /// <remarks>UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="authorizationServiceUpdateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<AuthorizationServiceUpdateAuthorizationResponse>
    > UpdateAuthorizationWithHttpInfoAsync(
        AuthorizationServiceUpdateAuthorizationRequest authorizationServiceUpdateAuthorizationRequest
    )
    {
        string path = "/zitadel.authorization.v2.AuthorizationService/UpdateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<AuthorizationServiceUpdateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                authorizationServiceUpdateAuthorizationRequest,
                UpdateAuthorizationAccepts,
                "application/json",
                typeof(AuthorizationServiceUpdateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
