// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaInstanceServiceApi provides methods for the BetaInstanceService API group.
/// </summary>
public class BetaInstanceServiceApi : BaseApi
{

    private static readonly string[] AddCustomDomainAccepts = ["application/json"];

    private static readonly string[] AddTrustedDomainAccepts = ["application/json"];

    private static readonly string[] DeleteInstanceAccepts = ["application/json"];

    private static readonly string[] GetInstanceAccepts = ["application/json"];

    private static readonly string[] ListCustomDomainsAccepts = ["application/json"];

    private static readonly string[] ListInstancesAccepts = ["application/json"];

    private static readonly string[] ListTrustedDomainsAccepts = ["application/json"];

    private static readonly string[] RemoveCustomDomainAccepts = ["application/json"];

    private static readonly string[] RemoveTrustedDomainAccepts = ["application/json"];

    private static readonly string[] UpdateInstanceAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaInstanceServiceApi"/> with defaults.</summary>
    public BetaInstanceServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaInstanceServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaInstanceServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaInstanceServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaInstanceServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Add Custom Domain
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a custom domain to the instance in context.   The instance_id in the input message will be used in the future   Required permissions:    - `system.domain.write`</remarks>
    /// <param name="betaInstanceServiceAddCustomDomainRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceAddCustomDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceAddCustomDomainResponse> AddCustomDomainAsync(BetaInstanceServiceAddCustomDomainRequest betaInstanceServiceAddCustomDomainRequest)
    {
        Task<ApiResult<BetaInstanceServiceAddCustomDomainResponse>> task = AddCustomDomainWithHttpInfoAsync(betaInstanceServiceAddCustomDomainRequest);
        ApiResult<BetaInstanceServiceAddCustomDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Add Custom Domain (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a custom domain to the instance in context.   The instance_id in the input message will be used in the future   Required permissions:    - `system.domain.write`</remarks>
    /// <param name="betaInstanceServiceAddCustomDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceAddCustomDomainResponse>> AddCustomDomainWithHttpInfoAsync(BetaInstanceServiceAddCustomDomainRequest betaInstanceServiceAddCustomDomainRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/AddCustomDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceAddCustomDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceAddCustomDomainRequest,
                AddCustomDomainAccepts,
                "application/json",
                typeof(BetaInstanceServiceAddCustomDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Trusted Domain
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a trusted domain to the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`</remarks>
    /// <param name="betaInstanceServiceAddTrustedDomainRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceAddTrustedDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceAddTrustedDomainResponse> AddTrustedDomainAsync(BetaInstanceServiceAddTrustedDomainRequest betaInstanceServiceAddTrustedDomainRequest)
    {
        Task<ApiResult<BetaInstanceServiceAddTrustedDomainResponse>> task = AddTrustedDomainWithHttpInfoAsync(betaInstanceServiceAddTrustedDomainRequest);
        ApiResult<BetaInstanceServiceAddTrustedDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Add Trusted Domain (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds a trusted domain to the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`</remarks>
    /// <param name="betaInstanceServiceAddTrustedDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceAddTrustedDomainResponse>> AddTrustedDomainWithHttpInfoAsync(BetaInstanceServiceAddTrustedDomainRequest betaInstanceServiceAddTrustedDomainRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/AddTrustedDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceAddTrustedDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceAddTrustedDomainRequest,
                AddTrustedDomainAccepts,
                "application/json",
                typeof(BetaInstanceServiceAddTrustedDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Instance
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes an instance with the given ID.   Required permissions:    - `system.instance.delete`</remarks>
    /// <param name="betaInstanceServiceDeleteInstanceRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceDeleteInstanceResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceDeleteInstanceResponse> DeleteInstanceAsync(BetaInstanceServiceDeleteInstanceRequest betaInstanceServiceDeleteInstanceRequest)
    {
        Task<ApiResult<BetaInstanceServiceDeleteInstanceResponse>> task = DeleteInstanceWithHttpInfoAsync(betaInstanceServiceDeleteInstanceRequest);
        ApiResult<BetaInstanceServiceDeleteInstanceResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Instance (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes an instance with the given ID.   Required permissions:    - `system.instance.delete`</remarks>
    /// <param name="betaInstanceServiceDeleteInstanceRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceDeleteInstanceResponse>> DeleteInstanceWithHttpInfoAsync(BetaInstanceServiceDeleteInstanceRequest betaInstanceServiceDeleteInstanceRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/DeleteInstance";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceDeleteInstanceResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceDeleteInstanceRequest,
                DeleteInstanceAccepts,
                "application/json",
                typeof(BetaInstanceServiceDeleteInstanceResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Instance
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the instance in the current context.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`</remarks>
    /// <param name="betaInstanceServiceGetInstanceRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceGetInstanceResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceGetInstanceResponse> GetInstanceAsync(BetaInstanceServiceGetInstanceRequest betaInstanceServiceGetInstanceRequest)
    {
        Task<ApiResult<BetaInstanceServiceGetInstanceResponse>> task = GetInstanceWithHttpInfoAsync(betaInstanceServiceGetInstanceRequest);
        ApiResult<BetaInstanceServiceGetInstanceResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Instance (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the instance in the current context.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`</remarks>
    /// <param name="betaInstanceServiceGetInstanceRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceGetInstanceResponse>> GetInstanceWithHttpInfoAsync(BetaInstanceServiceGetInstanceRequest betaInstanceServiceGetInstanceRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/GetInstance";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceGetInstanceResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceGetInstanceRequest,
                GetInstanceAccepts,
                "application/json",
                typeof(BetaInstanceServiceGetInstanceResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Custom Domains
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists custom domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.read`</remarks>
    /// <param name="betaInstanceServiceListCustomDomainsRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceListCustomDomainsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceListCustomDomainsResponse> ListCustomDomainsAsync(BetaInstanceServiceListCustomDomainsRequest betaInstanceServiceListCustomDomainsRequest)
    {
        Task<ApiResult<BetaInstanceServiceListCustomDomainsResponse>> task = ListCustomDomainsWithHttpInfoAsync(betaInstanceServiceListCustomDomainsRequest);
        ApiResult<BetaInstanceServiceListCustomDomainsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Custom Domains (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists custom domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.read`</remarks>
    /// <param name="betaInstanceServiceListCustomDomainsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceListCustomDomainsResponse>> ListCustomDomainsWithHttpInfoAsync(BetaInstanceServiceListCustomDomainsRequest betaInstanceServiceListCustomDomainsRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/ListCustomDomains";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceListCustomDomainsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceListCustomDomainsRequest,
                ListCustomDomainsAccepts,
                "application/json",
                typeof(BetaInstanceServiceListCustomDomainsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Instances
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.   Required permissions:   - `system.instance.read`</remarks>
    /// <param name="betaInstanceServiceListInstancesRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceListInstancesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceListInstancesResponse> ListInstancesAsync(BetaInstanceServiceListInstancesRequest betaInstanceServiceListInstancesRequest)
    {
        Task<ApiResult<BetaInstanceServiceListInstancesResponse>> task = ListInstancesWithHttpInfoAsync(betaInstanceServiceListInstancesRequest);
        ApiResult<BetaInstanceServiceListInstancesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Instances (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.   Required permissions:   - `system.instance.read`</remarks>
    /// <param name="betaInstanceServiceListInstancesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceListInstancesResponse>> ListInstancesWithHttpInfoAsync(BetaInstanceServiceListInstancesRequest betaInstanceServiceListInstancesRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/ListInstances";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceListInstancesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceListInstancesRequest,
                ListInstancesAccepts,
                "application/json",
                typeof(BetaInstanceServiceListInstancesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Trusted Domains
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists trusted domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`</remarks>
    /// <param name="betaInstanceServiceListTrustedDomainsRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceListTrustedDomainsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceListTrustedDomainsResponse> ListTrustedDomainsAsync(BetaInstanceServiceListTrustedDomainsRequest betaInstanceServiceListTrustedDomainsRequest)
    {
        Task<ApiResult<BetaInstanceServiceListTrustedDomainsResponse>> task = ListTrustedDomainsWithHttpInfoAsync(betaInstanceServiceListTrustedDomainsRequest);
        ApiResult<BetaInstanceServiceListTrustedDomainsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Trusted Domains (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Lists trusted domains of the instance.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.read`</remarks>
    /// <param name="betaInstanceServiceListTrustedDomainsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceListTrustedDomainsResponse>> ListTrustedDomainsWithHttpInfoAsync(BetaInstanceServiceListTrustedDomainsRequest betaInstanceServiceListTrustedDomainsRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/ListTrustedDomains";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceListTrustedDomainsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceListTrustedDomainsRequest,
                ListTrustedDomainsAccepts,
                "application/json",
                typeof(BetaInstanceServiceListTrustedDomainsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove Custom Domain
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a custom domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `system.domain.write`</remarks>
    /// <param name="betaInstanceServiceRemoveCustomDomainRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceRemoveCustomDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceRemoveCustomDomainResponse> RemoveCustomDomainAsync(BetaInstanceServiceRemoveCustomDomainRequest betaInstanceServiceRemoveCustomDomainRequest)
    {
        Task<ApiResult<BetaInstanceServiceRemoveCustomDomainResponse>> task = RemoveCustomDomainWithHttpInfoAsync(betaInstanceServiceRemoveCustomDomainRequest);
        ApiResult<BetaInstanceServiceRemoveCustomDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Remove Custom Domain (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a custom domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `system.domain.write`</remarks>
    /// <param name="betaInstanceServiceRemoveCustomDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceRemoveCustomDomainResponse>> RemoveCustomDomainWithHttpInfoAsync(BetaInstanceServiceRemoveCustomDomainRequest betaInstanceServiceRemoveCustomDomainRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/RemoveCustomDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceRemoveCustomDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceRemoveCustomDomainRequest,
                RemoveCustomDomainAccepts,
                "application/json",
                typeof(BetaInstanceServiceRemoveCustomDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove Trusted Domain
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a trusted domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`</remarks>
    /// <param name="betaInstanceServiceRemoveTrustedDomainRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceRemoveTrustedDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceRemoveTrustedDomainResponse> RemoveTrustedDomainAsync(BetaInstanceServiceRemoveTrustedDomainRequest betaInstanceServiceRemoveTrustedDomainRequest)
    {
        Task<ApiResult<BetaInstanceServiceRemoveTrustedDomainResponse>> task = RemoveTrustedDomainWithHttpInfoAsync(betaInstanceServiceRemoveTrustedDomainRequest);
        ApiResult<BetaInstanceServiceRemoveTrustedDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Remove Trusted Domain (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes a trusted domain from the instance.   The instance_id in the input message will be used in the future.   Required permissions:   - `iam.write`</remarks>
    /// <param name="betaInstanceServiceRemoveTrustedDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceRemoveTrustedDomainResponse>> RemoveTrustedDomainWithHttpInfoAsync(BetaInstanceServiceRemoveTrustedDomainRequest betaInstanceServiceRemoveTrustedDomainRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/RemoveTrustedDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceRemoveTrustedDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceRemoveTrustedDomainRequest,
                RemoveTrustedDomainAccepts,
                "application/json",
                typeof(BetaInstanceServiceRemoveTrustedDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Instance
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Updates instance in context with the given name.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.write`</remarks>
    /// <param name="betaInstanceServiceUpdateInstanceRequest"></param>
    /// <returns><![CDATA[BetaInstanceServiceUpdateInstanceResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInstanceServiceUpdateInstanceResponse> UpdateInstanceAsync(BetaInstanceServiceUpdateInstanceRequest betaInstanceServiceUpdateInstanceRequest)
    {
        Task<ApiResult<BetaInstanceServiceUpdateInstanceResponse>> task = UpdateInstanceWithHttpInfoAsync(betaInstanceServiceUpdateInstanceRequest);
        ApiResult<BetaInstanceServiceUpdateInstanceResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Instance (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under instance service v2. This endpoint will be removed with the next major version of ZITADEL.   Updates instance in context with the given name.   The instance_id in the input message will be used in the future.   Required permissions:    - `iam.write`</remarks>
    /// <param name="betaInstanceServiceUpdateInstanceRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaInstanceServiceUpdateInstanceResponse>> UpdateInstanceWithHttpInfoAsync(BetaInstanceServiceUpdateInstanceRequest betaInstanceServiceUpdateInstanceRequest)
    {
        string path = "/zitadel.instance.v2beta.InstanceService/UpdateInstance";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInstanceServiceUpdateInstanceResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInstanceServiceUpdateInstanceRequest,
                UpdateInstanceAccepts,
                "application/json",
                typeof(BetaInstanceServiceUpdateInstanceResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
