// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaActionServiceApi provides methods for the BetaActionService API group.
/// </summary>
public class BetaActionServiceApi : BaseApi
{

    private static readonly string[] CreateTargetAccepts = ["application/json"];

    private static readonly string[] DeleteTargetAccepts = ["application/json"];

    private static readonly string[] GetTargetAccepts = ["application/json"];

    private static readonly string[] ListExecutionFunctionsAccepts = ["application/json"];

    private static readonly string[] ListExecutionMethodsAccepts = ["application/json"];

    private static readonly string[] ListExecutionServicesAccepts = ["application/json"];

    private static readonly string[] ListExecutionsAccepts = ["application/json"];

    private static readonly string[] ListTargetsAccepts = ["application/json"];

    private static readonly string[] SetExecutionAccepts = ["application/json"];

    private static readonly string[] UpdateTargetAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaActionServiceApi"/> with defaults.</summary>
    public BetaActionServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaActionServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaActionServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaActionServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaActionServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create Target
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`</remarks>
    /// <param name="betaActionServiceCreateTargetRequest"></param>
    /// <returns><![CDATA[BetaActionServiceCreateTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceCreateTargetResponse> CreateTargetAsync(BetaActionServiceCreateTargetRequest betaActionServiceCreateTargetRequest)
    {
        Task<ApiResult<BetaActionServiceCreateTargetResponse>> task = CreateTargetWithHttpInfoAsync(betaActionServiceCreateTargetRequest);
        ApiResult<BetaActionServiceCreateTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Target (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new target to your endpoint, which can be used in executions.   Required permission:    - `action.target.write`</remarks>
    /// <param name="betaActionServiceCreateTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceCreateTargetResponse>> CreateTargetWithHttpInfoAsync(BetaActionServiceCreateTargetRequest betaActionServiceCreateTargetRequest)
    {
        string path = "/zitadel.action.v2beta.ActionService/CreateTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceCreateTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaActionServiceCreateTargetRequest,
                CreateTargetAccepts,
                "application/json",
                typeof(BetaActionServiceCreateTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Target
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`</remarks>
    /// <param name="betaActionServiceDeleteTargetRequest"></param>
    /// <returns><![CDATA[BetaActionServiceDeleteTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceDeleteTargetResponse> DeleteTargetAsync(BetaActionServiceDeleteTargetRequest betaActionServiceDeleteTargetRequest)
    {
        Task<ApiResult<BetaActionServiceDeleteTargetResponse>> task = DeleteTargetWithHttpInfoAsync(betaActionServiceDeleteTargetRequest);
        ApiResult<BetaActionServiceDeleteTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Target (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing target. This will remove it from any configured execution as well.  In case the target is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `action.target.delete`</remarks>
    /// <param name="betaActionServiceDeleteTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceDeleteTargetResponse>> DeleteTargetWithHttpInfoAsync(BetaActionServiceDeleteTargetRequest betaActionServiceDeleteTargetRequest)
    {
        string path = "/zitadel.action.v2beta.ActionService/DeleteTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceDeleteTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaActionServiceDeleteTargetRequest,
                DeleteTargetAccepts,
                "application/json",
                typeof(BetaActionServiceDeleteTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Target
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the target identified by the requested ID.   Required permission:    - `action.target.read`</remarks>
    /// <param name="betaActionServiceGetTargetRequest"></param>
    /// <returns><![CDATA[BetaActionServiceGetTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceGetTargetResponse> GetTargetAsync(BetaActionServiceGetTargetRequest betaActionServiceGetTargetRequest)
    {
        Task<ApiResult<BetaActionServiceGetTargetResponse>> task = GetTargetWithHttpInfoAsync(betaActionServiceGetTargetRequest);
        ApiResult<BetaActionServiceGetTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Target (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the target identified by the requested ID.   Required permission:    - `action.target.read`</remarks>
    /// <param name="betaActionServiceGetTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceGetTargetResponse>> GetTargetWithHttpInfoAsync(BetaActionServiceGetTargetRequest betaActionServiceGetTargetRequest)
    {
        string path = "/zitadel.action.v2beta.ActionService/GetTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceGetTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaActionServiceGetTargetRequest,
                GetTargetAccepts,
                "application/json",
                typeof(BetaActionServiceGetTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Execution Functions
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available functions which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[BetaActionServiceListExecutionFunctionsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceListExecutionFunctionsResponse> ListExecutionFunctionsAsync(Object body)
    {
        Task<ApiResult<BetaActionServiceListExecutionFunctionsResponse>> task = ListExecutionFunctionsWithHttpInfoAsync(body);
        ApiResult<BetaActionServiceListExecutionFunctionsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Execution Functions (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available functions which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceListExecutionFunctionsResponse>> ListExecutionFunctionsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.action.v2beta.ActionService/ListExecutionFunctions";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceListExecutionFunctionsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListExecutionFunctionsAccepts,
                "application/json",
                typeof(BetaActionServiceListExecutionFunctionsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Execution Methods
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available methods which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[BetaActionServiceListExecutionMethodsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceListExecutionMethodsResponse> ListExecutionMethodsAsync(Object body)
    {
        Task<ApiResult<BetaActionServiceListExecutionMethodsResponse>> task = ListExecutionMethodsWithHttpInfoAsync(body);
        ApiResult<BetaActionServiceListExecutionMethodsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Execution Methods (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available methods which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceListExecutionMethodsResponse>> ListExecutionMethodsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.action.v2beta.ActionService/ListExecutionMethods";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceListExecutionMethodsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListExecutionMethodsAccepts,
                "application/json",
                typeof(BetaActionServiceListExecutionMethodsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Execution Services
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available services which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[BetaActionServiceListExecutionServicesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceListExecutionServicesResponse> ListExecutionServicesAsync(Object body)
    {
        Task<ApiResult<BetaActionServiceListExecutionServicesResponse>> task = ListExecutionServicesWithHttpInfoAsync(body);
        ApiResult<BetaActionServiceListExecutionServicesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Execution Services (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all available services which can be used as condition for executions.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceListExecutionServicesResponse>> ListExecutionServicesWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.action.v2beta.ActionService/ListExecutionServices";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceListExecutionServicesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListExecutionServicesAccepts,
                "application/json",
                typeof(BetaActionServiceListExecutionServicesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Executions
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`</remarks>
    /// <param name="betaActionServiceListExecutionsRequest"></param>
    /// <returns><![CDATA[BetaActionServiceListExecutionsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceListExecutionsResponse> ListExecutionsAsync(BetaActionServiceListExecutionsRequest betaActionServiceListExecutionsRequest)
    {
        Task<ApiResult<BetaActionServiceListExecutionsResponse>> task = ListExecutionsWithHttpInfoAsync(betaActionServiceListExecutionsRequest);
        ApiResult<BetaActionServiceListExecutionsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Executions (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching executions. By default all executions of the instance are returned that have at least one execution target.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.execution.read`</remarks>
    /// <param name="betaActionServiceListExecutionsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceListExecutionsResponse>> ListExecutionsWithHttpInfoAsync(BetaActionServiceListExecutionsRequest betaActionServiceListExecutionsRequest)
    {
        string path = "/zitadel.action.v2beta.ActionService/ListExecutions";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceListExecutionsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaActionServiceListExecutionsRequest,
                ListExecutionsAccepts,
                "application/json",
                typeof(BetaActionServiceListExecutionsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List targets
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`</remarks>
    /// <param name="betaActionServiceListTargetsRequest"></param>
    /// <returns><![CDATA[BetaActionServiceListTargetsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceListTargetsResponse> ListTargetsAsync(BetaActionServiceListTargetsRequest betaActionServiceListTargetsRequest)
    {
        Task<ApiResult<BetaActionServiceListTargetsResponse>> task = ListTargetsWithHttpInfoAsync(betaActionServiceListTargetsRequest);
        ApiResult<BetaActionServiceListTargetsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List targets (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching targets. By default all targets of the instance are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `action.target.read`</remarks>
    /// <param name="betaActionServiceListTargetsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceListTargetsResponse>> ListTargetsWithHttpInfoAsync(BetaActionServiceListTargetsRequest betaActionServiceListTargetsRequest)
    {
        string path = "/zitadel.action.v2beta.ActionService/ListTargets";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceListTargetsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaActionServiceListTargetsRequest,
                ListTargetsAccepts,
                "application/json",
                typeof(BetaActionServiceListTargetsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Execution
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`</remarks>
    /// <param name="betaActionServiceSetExecutionRequest"></param>
    /// <returns><![CDATA[BetaActionServiceSetExecutionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceSetExecutionResponse> SetExecutionAsync(BetaActionServiceSetExecutionRequest betaActionServiceSetExecutionRequest)
    {
        Task<ApiResult<BetaActionServiceSetExecutionResponse>> task = SetExecutionWithHttpInfoAsync(betaActionServiceSetExecutionRequest);
        ApiResult<BetaActionServiceSetExecutionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set Execution (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets an execution to call a target or include the targets of another execution.  Setting an empty list of targets will remove all targets from the execution, making it a noop.   Required permission:    - `action.execution.write`</remarks>
    /// <param name="betaActionServiceSetExecutionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceSetExecutionResponse>> SetExecutionWithHttpInfoAsync(BetaActionServiceSetExecutionRequest betaActionServiceSetExecutionRequest)
    {
        string path = "/zitadel.action.v2beta.ActionService/SetExecution";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceSetExecutionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaActionServiceSetExecutionRequest,
                SetExecutionAccepts,
                "application/json",
                typeof(BetaActionServiceSetExecutionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Target
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`</remarks>
    /// <param name="betaActionServiceUpdateTargetRequest"></param>
    /// <returns><![CDATA[BetaActionServiceUpdateTargetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaActionServiceUpdateTargetResponse> UpdateTargetAsync(BetaActionServiceUpdateTargetRequest betaActionServiceUpdateTargetRequest)
    {
        Task<ApiResult<BetaActionServiceUpdateTargetResponse>> task = UpdateTargetWithHttpInfoAsync(betaActionServiceUpdateTargetRequest);
        ApiResult<BetaActionServiceUpdateTargetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Target (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under action service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing target.  To generate a new signing key set the optional expirationSigningKey.   Required permission:    - `action.target.write`</remarks>
    /// <param name="betaActionServiceUpdateTargetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaActionServiceUpdateTargetResponse>> UpdateTargetWithHttpInfoAsync(BetaActionServiceUpdateTargetRequest betaActionServiceUpdateTargetRequest)
    {
        string path = "/zitadel.action.v2beta.ActionService/UpdateTarget";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaActionServiceUpdateTargetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaActionServiceUpdateTargetRequest,
                UpdateTargetAccepts,
                "application/json",
                typeof(BetaActionServiceUpdateTargetResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
