// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaWebKeyServiceApi provides methods for the BetaWebKeyService API group.
/// </summary>
public class BetaWebKeyServiceApi : BaseApi
{

    private static readonly string[] ActivateWebKeyAccepts = ["application/json"];

    private static readonly string[] CreateWebKeyAccepts = ["application/json"];

    private static readonly string[] DeleteWebKeyAccepts = ["application/json"];

    private static readonly string[] ListWebKeysAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaWebKeyServiceApi"/> with defaults.</summary>
    public BetaWebKeyServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaWebKeyServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaWebKeyServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaWebKeyServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaWebKeyServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Web Key
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="betaWebKeyServiceActivateWebKeyRequest"></param>
    /// <returns><![CDATA[BetaWebKeyServiceActivateWebKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaWebKeyServiceActivateWebKeyResponse> ActivateWebKeyAsync(BetaWebKeyServiceActivateWebKeyRequest betaWebKeyServiceActivateWebKeyRequest)
    {
        Task<ApiResult<BetaWebKeyServiceActivateWebKeyResponse>> task = ActivateWebKeyWithHttpInfoAsync(betaWebKeyServiceActivateWebKeyRequest);
        ApiResult<BetaWebKeyServiceActivateWebKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Activate Web Key (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="betaWebKeyServiceActivateWebKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaWebKeyServiceActivateWebKeyResponse>> ActivateWebKeyWithHttpInfoAsync(BetaWebKeyServiceActivateWebKeyRequest betaWebKeyServiceActivateWebKeyRequest)
    {
        string path = "/zitadel.webkey.v2beta.WebKeyService/ActivateWebKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaWebKeyServiceActivateWebKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaWebKeyServiceActivateWebKeyRequest,
                ActivateWebKeyAccepts,
                "application/json",
                typeof(BetaWebKeyServiceActivateWebKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Web Key
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="betaWebKeyServiceCreateWebKeyRequest"></param>
    /// <returns><![CDATA[BetaWebKeyServiceCreateWebKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaWebKeyServiceCreateWebKeyResponse> CreateWebKeyAsync(BetaWebKeyServiceCreateWebKeyRequest betaWebKeyServiceCreateWebKeyRequest)
    {
        Task<ApiResult<BetaWebKeyServiceCreateWebKeyResponse>> task = CreateWebKeyWithHttpInfoAsync(betaWebKeyServiceCreateWebKeyRequest);
        ApiResult<BetaWebKeyServiceCreateWebKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Web Key (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="betaWebKeyServiceCreateWebKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaWebKeyServiceCreateWebKeyResponse>> CreateWebKeyWithHttpInfoAsync(BetaWebKeyServiceCreateWebKeyRequest betaWebKeyServiceCreateWebKeyRequest)
    {
        string path = "/zitadel.webkey.v2beta.WebKeyService/CreateWebKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaWebKeyServiceCreateWebKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaWebKeyServiceCreateWebKeyRequest,
                CreateWebKeyAccepts,
                "application/json",
                typeof(BetaWebKeyServiceCreateWebKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Web Key
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`</remarks>
    /// <param name="betaWebKeyServiceDeleteWebKeyRequest"></param>
    /// <returns><![CDATA[BetaWebKeyServiceDeleteWebKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaWebKeyServiceDeleteWebKeyResponse> DeleteWebKeyAsync(BetaWebKeyServiceDeleteWebKeyRequest betaWebKeyServiceDeleteWebKeyRequest)
    {
        Task<ApiResult<BetaWebKeyServiceDeleteWebKeyResponse>> task = DeleteWebKeyWithHttpInfoAsync(betaWebKeyServiceDeleteWebKeyRequest);
        ApiResult<BetaWebKeyServiceDeleteWebKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Web Key (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`</remarks>
    /// <param name="betaWebKeyServiceDeleteWebKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaWebKeyServiceDeleteWebKeyResponse>> DeleteWebKeyWithHttpInfoAsync(BetaWebKeyServiceDeleteWebKeyRequest betaWebKeyServiceDeleteWebKeyRequest)
    {
        string path = "/zitadel.webkey.v2beta.WebKeyService/DeleteWebKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaWebKeyServiceDeleteWebKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaWebKeyServiceDeleteWebKeyRequest,
                DeleteWebKeyAccepts,
                "application/json",
                typeof(BetaWebKeyServiceDeleteWebKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Web Keys
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   List all web keys and their states.   Required permission:    - `iam.web_key.read`</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[BetaWebKeyServiceListWebKeysResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaWebKeyServiceListWebKeysResponse> ListWebKeysAsync(Object body)
    {
        Task<ApiResult<BetaWebKeyServiceListWebKeysResponse>> task = ListWebKeysWithHttpInfoAsync(body);
        ApiResult<BetaWebKeyServiceListWebKeysResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Web Keys (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   List all web keys and their states.   Required permission:    - `iam.web_key.read`</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaWebKeyServiceListWebKeysResponse>> ListWebKeysWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.webkey.v2beta.WebKeyService/ListWebKeys";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaWebKeyServiceListWebKeysResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListWebKeysAccepts,
                "application/json",
                typeof(BetaWebKeyServiceListWebKeysResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
