// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaTelemetryServiceApi provides methods for the BetaTelemetryService API group.
/// </summary>
public class BetaTelemetryServiceApi : BaseApi
{
    private static readonly string[] ReportBaseInformationAccepts = ["application/json"];

    private static readonly string[] ReportResourceCountsAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaTelemetryServiceApi"/> with defaults.</summary>
    public BetaTelemetryServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaTelemetryServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaTelemetryServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaTelemetryServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaTelemetryServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.
    /// </summary>
    /// <remarks>ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.</remarks>
    /// <param name="betaTelemetryServiceReportBaseInformationRequest"></param>
    /// <returns><![CDATA[BetaTelemetryServiceReportBaseInformationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaTelemetryServiceReportBaseInformationResponse> ReportBaseInformationAsync(
        BetaTelemetryServiceReportBaseInformationRequest betaTelemetryServiceReportBaseInformationRequest
    )
    {
        Task<ApiResult<BetaTelemetryServiceReportBaseInformationResponse>> task =
            ReportBaseInformationWithHttpInfoAsync(
                betaTelemetryServiceReportBaseInformationRequest
            );
        ApiResult<BetaTelemetryServiceReportBaseInformationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID. (with HTTP info)
    /// </summary>
    /// <remarks>ReportBaseInformation is used to report the base information of the ZITADEL system,  including the version, instances, their creation date and domains.  The response contains a report ID to link it to the resource counts or other reports.  The report ID is only valid for the same system ID.</remarks>
    /// <param name="betaTelemetryServiceReportBaseInformationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaTelemetryServiceReportBaseInformationResponse>
    > ReportBaseInformationWithHttpInfoAsync(
        BetaTelemetryServiceReportBaseInformationRequest betaTelemetryServiceReportBaseInformationRequest
    )
    {
        string path = "/zitadel.analytics.v2beta.TelemetryService/ReportBaseInformation";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaTelemetryServiceReportBaseInformationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaTelemetryServiceReportBaseInformationRequest,
                ReportBaseInformationAccepts,
                "application/json",
                typeof(BetaTelemetryServiceReportBaseInformationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.
    /// </summary>
    /// <remarks>ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.</remarks>
    /// <param name="betaTelemetryServiceReportResourceCountsRequest"></param>
    /// <returns><![CDATA[BetaTelemetryServiceReportResourceCountsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaTelemetryServiceReportResourceCountsResponse> ReportResourceCountsAsync(
        BetaTelemetryServiceReportResourceCountsRequest betaTelemetryServiceReportResourceCountsRequest
    )
    {
        Task<ApiResult<BetaTelemetryServiceReportResourceCountsResponse>> task =
            ReportResourceCountsWithHttpInfoAsync(betaTelemetryServiceReportResourceCountsRequest);
        ApiResult<BetaTelemetryServiceReportResourceCountsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID. (with HTTP info)
    /// </summary>
    /// <remarks>ReportResourceCounts is used to report the resource counts such as amount of organizations  or users per organization and much more.  Since the resource counts can be reported in multiple batches,  the response contains a report ID to continue reporting.  The report ID is only valid for the same system ID.</remarks>
    /// <param name="betaTelemetryServiceReportResourceCountsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaTelemetryServiceReportResourceCountsResponse>
    > ReportResourceCountsWithHttpInfoAsync(
        BetaTelemetryServiceReportResourceCountsRequest betaTelemetryServiceReportResourceCountsRequest
    )
    {
        string path = "/zitadel.analytics.v2beta.TelemetryService/ReportResourceCounts";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaTelemetryServiceReportResourceCountsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaTelemetryServiceReportResourceCountsRequest,
                ReportResourceCountsAccepts,
                "application/json",
                typeof(BetaTelemetryServiceReportResourceCountsResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
