// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaSettingsServiceApi provides methods for the BetaSettingsService API group.
/// </summary>
public class BetaSettingsServiceApi : BaseApi
{
    private static readonly string[] GetActiveIdentityProvidersAccepts = ["application/json"];

    private static readonly string[] GetBrandingSettingsAccepts = ["application/json"];

    private static readonly string[] GetDomainSettingsAccepts = ["application/json"];

    private static readonly string[] GetGeneralSettingsAccepts = ["application/json"];

    private static readonly string[] GetLegalAndSupportSettingsAccepts = ["application/json"];

    private static readonly string[] GetLockoutSettingsAccepts = ["application/json"];

    private static readonly string[] GetLoginSettingsAccepts = ["application/json"];

    private static readonly string[] GetPasswordComplexitySettingsAccepts = ["application/json"];

    private static readonly string[] GetPasswordExpirySettingsAccepts = ["application/json"];

    private static readonly string[] GetSecuritySettingsAccepts = ["application/json"];

    private static readonly string[] SetSecuritySettingsAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaSettingsServiceApi"/> with defaults.</summary>
    public BetaSettingsServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaSettingsServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaSettingsServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaSettingsServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaSettingsServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Get the current active identity providers
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetActiveIdentityProvidersRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetActiveIdentityProvidersResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetActiveIdentityProvidersResponse> GetActiveIdentityProvidersAsync(
        BetaSettingsServiceGetActiveIdentityProvidersRequest betaSettingsServiceGetActiveIdentityProvidersRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetActiveIdentityProvidersResponse>> task =
            GetActiveIdentityProvidersWithHttpInfoAsync(
                betaSettingsServiceGetActiveIdentityProvidersRequest
            );
        ApiResult<BetaSettingsServiceGetActiveIdentityProvidersResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the current active identity providers (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetActiveIdentityProvidersRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetActiveIdentityProvidersResponse>
    > GetActiveIdentityProvidersWithHttpInfoAsync(
        BetaSettingsServiceGetActiveIdentityProvidersRequest betaSettingsServiceGetActiveIdentityProvidersRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetActiveIdentityProviders";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetActiveIdentityProvidersResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetActiveIdentityProvidersRequest,
                GetActiveIdentityProvidersAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetActiveIdentityProvidersResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the current active branding settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetBrandingSettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetBrandingSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetBrandingSettingsResponse> GetBrandingSettingsAsync(
        BetaSettingsServiceGetBrandingSettingsRequest betaSettingsServiceGetBrandingSettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetBrandingSettingsResponse>> task =
            GetBrandingSettingsWithHttpInfoAsync(betaSettingsServiceGetBrandingSettingsRequest);
        ApiResult<BetaSettingsServiceGetBrandingSettingsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the current active branding settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetBrandingSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetBrandingSettingsResponse>
    > GetBrandingSettingsWithHttpInfoAsync(
        BetaSettingsServiceGetBrandingSettingsRequest betaSettingsServiceGetBrandingSettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetBrandingSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetBrandingSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetBrandingSettingsRequest,
                GetBrandingSettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetBrandingSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the domain settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetDomainSettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetDomainSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetDomainSettingsResponse> GetDomainSettingsAsync(
        BetaSettingsServiceGetDomainSettingsRequest betaSettingsServiceGetDomainSettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetDomainSettingsResponse>> task =
            GetDomainSettingsWithHttpInfoAsync(betaSettingsServiceGetDomainSettingsRequest);
        ApiResult<BetaSettingsServiceGetDomainSettingsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the domain settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetDomainSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetDomainSettingsResponse>
    > GetDomainSettingsWithHttpInfoAsync(
        BetaSettingsServiceGetDomainSettingsRequest betaSettingsServiceGetDomainSettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetDomainSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetDomainSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetDomainSettingsRequest,
                GetDomainSettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetDomainSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get basic information over the instance
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetGeneralSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetGeneralSettingsResponse> GetGeneralSettingsAsync(
        Object body
    )
    {
        Task<ApiResult<BetaSettingsServiceGetGeneralSettingsResponse>> task =
            GetGeneralSettingsWithHttpInfoAsync(body);
        ApiResult<BetaSettingsServiceGetGeneralSettingsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get basic information over the instance (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetGeneralSettingsResponse>
    > GetGeneralSettingsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetGeneralSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetGeneralSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                GetGeneralSettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetGeneralSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the legal and support settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetLegalAndSupportSettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetLegalAndSupportSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetLegalAndSupportSettingsResponse> GetLegalAndSupportSettingsAsync(
        BetaSettingsServiceGetLegalAndSupportSettingsRequest betaSettingsServiceGetLegalAndSupportSettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetLegalAndSupportSettingsResponse>> task =
            GetLegalAndSupportSettingsWithHttpInfoAsync(
                betaSettingsServiceGetLegalAndSupportSettingsRequest
            );
        ApiResult<BetaSettingsServiceGetLegalAndSupportSettingsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the legal and support settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetLegalAndSupportSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetLegalAndSupportSettingsResponse>
    > GetLegalAndSupportSettingsWithHttpInfoAsync(
        BetaSettingsServiceGetLegalAndSupportSettingsRequest betaSettingsServiceGetLegalAndSupportSettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetLegalAndSupportSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetLegalAndSupportSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetLegalAndSupportSettingsRequest,
                GetLegalAndSupportSettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetLegalAndSupportSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the lockout settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetLockoutSettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetLockoutSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetLockoutSettingsResponse> GetLockoutSettingsAsync(
        BetaSettingsServiceGetLockoutSettingsRequest betaSettingsServiceGetLockoutSettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetLockoutSettingsResponse>> task =
            GetLockoutSettingsWithHttpInfoAsync(betaSettingsServiceGetLockoutSettingsRequest);
        ApiResult<BetaSettingsServiceGetLockoutSettingsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the lockout settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetLockoutSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetLockoutSettingsResponse>
    > GetLockoutSettingsWithHttpInfoAsync(
        BetaSettingsServiceGetLockoutSettingsRequest betaSettingsServiceGetLockoutSettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetLockoutSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetLockoutSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetLockoutSettingsRequest,
                GetLockoutSettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetLockoutSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the login settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetLoginSettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetLoginSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetLoginSettingsResponse> GetLoginSettingsAsync(
        BetaSettingsServiceGetLoginSettingsRequest betaSettingsServiceGetLoginSettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetLoginSettingsResponse>> task =
            GetLoginSettingsWithHttpInfoAsync(betaSettingsServiceGetLoginSettingsRequest);
        ApiResult<BetaSettingsServiceGetLoginSettingsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the login settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetLoginSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetLoginSettingsResponse>
    > GetLoginSettingsWithHttpInfoAsync(
        BetaSettingsServiceGetLoginSettingsRequest betaSettingsServiceGetLoginSettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetLoginSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetLoginSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetLoginSettingsRequest,
                GetLoginSettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetLoginSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the password complexity settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetPasswordComplexitySettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetPasswordComplexitySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetPasswordComplexitySettingsResponse> GetPasswordComplexitySettingsAsync(
        BetaSettingsServiceGetPasswordComplexitySettingsRequest betaSettingsServiceGetPasswordComplexitySettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetPasswordComplexitySettingsResponse>> task =
            GetPasswordComplexitySettingsWithHttpInfoAsync(
                betaSettingsServiceGetPasswordComplexitySettingsRequest
            );
        ApiResult<BetaSettingsServiceGetPasswordComplexitySettingsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the password complexity settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetPasswordComplexitySettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetPasswordComplexitySettingsResponse>
    > GetPasswordComplexitySettingsWithHttpInfoAsync(
        BetaSettingsServiceGetPasswordComplexitySettingsRequest betaSettingsServiceGetPasswordComplexitySettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetPasswordComplexitySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetPasswordComplexitySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetPasswordComplexitySettingsRequest,
                GetPasswordComplexitySettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetPasswordComplexitySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the password expiry settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetPasswordExpirySettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetPasswordExpirySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetPasswordExpirySettingsResponse> GetPasswordExpirySettingsAsync(
        BetaSettingsServiceGetPasswordExpirySettingsRequest betaSettingsServiceGetPasswordExpirySettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceGetPasswordExpirySettingsResponse>> task =
            GetPasswordExpirySettingsWithHttpInfoAsync(
                betaSettingsServiceGetPasswordExpirySettingsRequest
            );
        ApiResult<BetaSettingsServiceGetPasswordExpirySettingsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the password expiry settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceGetPasswordExpirySettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetPasswordExpirySettingsResponse>
    > GetPasswordExpirySettingsWithHttpInfoAsync(
        BetaSettingsServiceGetPasswordExpirySettingsRequest betaSettingsServiceGetPasswordExpirySettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetPasswordExpirySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetPasswordExpirySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceGetPasswordExpirySettingsRequest,
                GetPasswordExpirySettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetPasswordExpirySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get the security settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[BetaSettingsServiceGetSecuritySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceGetSecuritySettingsResponse> GetSecuritySettingsAsync(
        Object body
    )
    {
        Task<ApiResult<BetaSettingsServiceGetSecuritySettingsResponse>> task =
            GetSecuritySettingsWithHttpInfoAsync(body);
        ApiResult<BetaSettingsServiceGetSecuritySettingsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get the security settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceGetSecuritySettingsResponse>
    > GetSecuritySettingsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.settings.v2beta.SettingsService/GetSecuritySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceGetSecuritySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                GetSecuritySettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceGetSecuritySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set the security settings
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceSetSecuritySettingsRequest"></param>
    /// <returns><![CDATA[BetaSettingsServiceSetSecuritySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSettingsServiceSetSecuritySettingsResponse> SetSecuritySettingsAsync(
        BetaSettingsServiceSetSecuritySettingsRequest betaSettingsServiceSetSecuritySettingsRequest
    )
    {
        Task<ApiResult<BetaSettingsServiceSetSecuritySettingsResponse>> task =
            SetSecuritySettingsWithHttpInfoAsync(betaSettingsServiceSetSecuritySettingsRequest);
        ApiResult<BetaSettingsServiceSetSecuritySettingsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Set the security settings (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under settings service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSettingsServiceSetSecuritySettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaSettingsServiceSetSecuritySettingsResponse>
    > SetSecuritySettingsWithHttpInfoAsync(
        BetaSettingsServiceSetSecuritySettingsRequest betaSettingsServiceSetSecuritySettingsRequest
    )
    {
        string path = "/zitadel.settings.v2beta.SettingsService/SetSecuritySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSettingsServiceSetSecuritySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSettingsServiceSetSecuritySettingsRequest,
                SetSecuritySettingsAccepts,
                "application/json",
                typeof(BetaSettingsServiceSetSecuritySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
