// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaAppServiceApi provides methods for the BetaAppService API group.
/// </summary>
public class BetaAppServiceApi : BaseApi
{

    private static readonly string[] CreateApplicationAccepts = ["application/json"];

    private static readonly string[] CreateApplicationKeyAccepts = ["application/json"];

    private static readonly string[] DeactivateApplicationAccepts = ["application/json"];

    private static readonly string[] DeleteApplicationAccepts = ["application/json"];

    private static readonly string[] DeleteApplicationKeyAccepts = ["application/json"];

    private static readonly string[] GetApplicationAccepts = ["application/json"];

    private static readonly string[] GetApplicationKeyAccepts = ["application/json"];

    private static readonly string[] ListApplicationKeysAccepts = ["application/json"];

    private static readonly string[] ListApplicationsAccepts = ["application/json"];

    private static readonly string[] ReactivateApplicationAccepts = ["application/json"];

    private static readonly string[] RegenerateClientSecretAccepts = ["application/json"];

    private static readonly string[] UpdateApplicationAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaAppServiceApi"/> with defaults.</summary>
    public BetaAppServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaAppServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaAppServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaAppServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaAppServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create Application
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx) instead.   Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceCreateApplicationRequest"></param>
    /// <returns><![CDATA[BetaAppServiceCreateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceCreateApplicationResponse> CreateApplicationAsync(BetaAppServiceCreateApplicationRequest betaAppServiceCreateApplicationRequest)
    {
        Task<ApiResult<BetaAppServiceCreateApplicationResponse>> task = CreateApplicationWithHttpInfoAsync(betaAppServiceCreateApplicationRequest);
        ApiResult<BetaAppServiceCreateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Application (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx) instead.   Create an application. The application can be OIDC, API or SAML type, based on the input.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceCreateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceCreateApplicationResponse>> CreateApplicationWithHttpInfoAsync(BetaAppServiceCreateApplicationRequest betaAppServiceCreateApplicationRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/CreateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceCreateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceCreateApplicationRequest,
                CreateApplicationAccepts,
                "application/json",
                typeof(BetaAppServiceCreateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Application Key
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx) instead.   Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="betaAppServiceCreateApplicationKeyRequest"></param>
    /// <returns><![CDATA[BetaAppServiceCreateApplicationKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceCreateApplicationKeyResponse> CreateApplicationKeyAsync(BetaAppServiceCreateApplicationKeyRequest betaAppServiceCreateApplicationKeyRequest)
    {
        Task<ApiResult<BetaAppServiceCreateApplicationKeyResponse>> task = CreateApplicationKeyWithHttpInfoAsync(betaAppServiceCreateApplicationKeyRequest);
        ApiResult<BetaAppServiceCreateApplicationKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Application Key (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx) instead.   Create a new application key, which is used to authorize an API application.   Key details are returned in the response. They must be stored safely, as it will not  be possible to retrieve them again.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="betaAppServiceCreateApplicationKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceCreateApplicationKeyResponse>> CreateApplicationKeyWithHttpInfoAsync(BetaAppServiceCreateApplicationKeyRequest betaAppServiceCreateApplicationKeyRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/CreateApplicationKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceCreateApplicationKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceCreateApplicationKeyRequest,
                CreateApplicationKeyAccepts,
                "application/json",
                typeof(BetaAppServiceCreateApplicationKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Application
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx) instead.   Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceDeactivateApplicationRequest"></param>
    /// <returns><![CDATA[BetaAppServiceDeactivateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceDeactivateApplicationResponse> DeactivateApplicationAsync(BetaAppServiceDeactivateApplicationRequest betaAppServiceDeactivateApplicationRequest)
    {
        Task<ApiResult<BetaAppServiceDeactivateApplicationResponse>> task = DeactivateApplicationWithHttpInfoAsync(betaAppServiceDeactivateApplicationRequest);
        ApiResult<BetaAppServiceDeactivateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Deactivate Application (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx) instead.   Deactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceDeactivateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceDeactivateApplicationResponse>> DeactivateApplicationWithHttpInfoAsync(BetaAppServiceDeactivateApplicationRequest betaAppServiceDeactivateApplicationRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/DeactivateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceDeactivateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceDeactivateApplicationRequest,
                DeactivateApplicationAccepts,
                "application/json",
                typeof(BetaAppServiceDeactivateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Application
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx) instead.   Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete</remarks>
    /// <param name="betaAppServiceDeleteApplicationRequest"></param>
    /// <returns><![CDATA[BetaAppServiceDeleteApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceDeleteApplicationResponse> DeleteApplicationAsync(BetaAppServiceDeleteApplicationRequest betaAppServiceDeleteApplicationRequest)
    {
        Task<ApiResult<BetaAppServiceDeleteApplicationResponse>> task = DeleteApplicationWithHttpInfoAsync(betaAppServiceDeleteApplicationRequest);
        ApiResult<BetaAppServiceDeleteApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Application (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx) instead.   Deletes the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.delete</remarks>
    /// <param name="betaAppServiceDeleteApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceDeleteApplicationResponse>> DeleteApplicationWithHttpInfoAsync(BetaAppServiceDeleteApplicationRequest betaAppServiceDeleteApplicationRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/DeleteApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceDeleteApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceDeleteApplicationRequest,
                DeleteApplicationAccepts,
                "application/json",
                typeof(BetaAppServiceDeleteApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Application Key
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx) instead.   Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="betaAppServiceDeleteApplicationKeyRequest"></param>
    /// <returns><![CDATA[BetaAppServiceDeleteApplicationKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceDeleteApplicationKeyResponse> DeleteApplicationKeyAsync(BetaAppServiceDeleteApplicationKeyRequest betaAppServiceDeleteApplicationKeyRequest)
    {
        Task<ApiResult<BetaAppServiceDeleteApplicationKeyResponse>> task = DeleteApplicationKeyWithHttpInfoAsync(betaAppServiceDeleteApplicationKeyRequest);
        ApiResult<BetaAppServiceDeleteApplicationKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Application Key (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx) instead.   Deletes an application key matching the provided ID.   Organization ID is not mandatory, but helps with filtering/performance.   The deletion time is returned in response message.   Required permissions:    - `project.app.write`</remarks>
    /// <param name="betaAppServiceDeleteApplicationKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceDeleteApplicationKeyResponse>> DeleteApplicationKeyWithHttpInfoAsync(BetaAppServiceDeleteApplicationKeyRequest betaAppServiceDeleteApplicationKeyRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/DeleteApplicationKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceDeleteApplicationKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceDeleteApplicationKeyRequest,
                DeleteApplicationKeyAccepts,
                "application/json",
                typeof(BetaAppServiceDeleteApplicationKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Application
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx) instead.   Retrieves the application matching the provided ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceGetApplicationRequest"></param>
    /// <returns><![CDATA[BetaAppServiceGetApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceGetApplicationResponse> GetApplicationAsync(BetaAppServiceGetApplicationRequest betaAppServiceGetApplicationRequest)
    {
        Task<ApiResult<BetaAppServiceGetApplicationResponse>> task = GetApplicationWithHttpInfoAsync(betaAppServiceGetApplicationRequest);
        ApiResult<BetaAppServiceGetApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Application (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx) instead.   Retrieves the application matching the provided ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceGetApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceGetApplicationResponse>> GetApplicationWithHttpInfoAsync(BetaAppServiceGetApplicationRequest betaAppServiceGetApplicationRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/GetApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceGetApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceGetApplicationRequest,
                GetApplicationAccepts,
                "application/json",
                typeof(BetaAppServiceGetApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Application Key
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx) instead.   Retrieves the application key matching the provided ID.   Specifying a project, organization and app ID is optional but help with filtering/performance.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceGetApplicationKeyRequest"></param>
    /// <returns><![CDATA[BetaAppServiceGetApplicationKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceGetApplicationKeyResponse> GetApplicationKeyAsync(BetaAppServiceGetApplicationKeyRequest betaAppServiceGetApplicationKeyRequest)
    {
        Task<ApiResult<BetaAppServiceGetApplicationKeyResponse>> task = GetApplicationKeyWithHttpInfoAsync(betaAppServiceGetApplicationKeyRequest);
        ApiResult<BetaAppServiceGetApplicationKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Application Key (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx) instead.   Retrieves the application key matching the provided ID.   Specifying a project, organization and app ID is optional but help with filtering/performance.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceGetApplicationKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceGetApplicationKeyResponse>> GetApplicationKeyWithHttpInfoAsync(BetaAppServiceGetApplicationKeyRequest betaAppServiceGetApplicationKeyRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/GetApplicationKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceGetApplicationKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceGetApplicationKeyRequest,
                GetApplicationKeyAccepts,
                "application/json",
                typeof(BetaAppServiceGetApplicationKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Application Keys
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx) instead.   Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by app, project or organization ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceListApplicationKeysRequest"></param>
    /// <returns><![CDATA[BetaAppServiceListApplicationKeysResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceListApplicationKeysResponse> ListApplicationKeysAsync(BetaAppServiceListApplicationKeysRequest betaAppServiceListApplicationKeysRequest)
    {
        Task<ApiResult<BetaAppServiceListApplicationKeysResponse>> task = ListApplicationKeysWithHttpInfoAsync(betaAppServiceListApplicationKeysRequest);
        ApiResult<BetaAppServiceListApplicationKeysResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Application Keys (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx) instead.   Returns a list of application keys matching the input parameters.   The result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.  It can also be filtered by app, project or organization ID.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceListApplicationKeysRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceListApplicationKeysResponse>> ListApplicationKeysWithHttpInfoAsync(BetaAppServiceListApplicationKeysRequest betaAppServiceListApplicationKeysRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/ListApplicationKeys";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceListApplicationKeysResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceListApplicationKeysRequest,
                ListApplicationKeysAccepts,
                "application/json",
                typeof(BetaAppServiceListApplicationKeysResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Applications
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx) instead.   Returns a list of applications matching the input parameters that belong to the provided  project.   The result can be sorted by app id, name, creation date, change date or state. It can also  be filtered by app state, app type and app name.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceListApplicationsRequest"></param>
    /// <returns><![CDATA[BetaAppServiceListApplicationsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceListApplicationsResponse> ListApplicationsAsync(BetaAppServiceListApplicationsRequest betaAppServiceListApplicationsRequest)
    {
        Task<ApiResult<BetaAppServiceListApplicationsResponse>> task = ListApplicationsWithHttpInfoAsync(betaAppServiceListApplicationsRequest);
        ApiResult<BetaAppServiceListApplicationsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Applications (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx) instead.   Returns a list of applications matching the input parameters that belong to the provided  project.   The result can be sorted by app id, name, creation date, change date or state. It can also  be filtered by app state, app type and app name.   Required permissions:    - project.app.read</remarks>
    /// <param name="betaAppServiceListApplicationsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceListApplicationsResponse>> ListApplicationsWithHttpInfoAsync(BetaAppServiceListApplicationsRequest betaAppServiceListApplicationsRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/ListApplications";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceListApplicationsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceListApplicationsRequest,
                ListApplicationsAccepts,
                "application/json",
                typeof(BetaAppServiceListApplicationsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Reactivate Application
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx) instead.   Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceReactivateApplicationRequest"></param>
    /// <returns><![CDATA[BetaAppServiceReactivateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceReactivateApplicationResponse> ReactivateApplicationAsync(BetaAppServiceReactivateApplicationRequest betaAppServiceReactivateApplicationRequest)
    {
        Task<ApiResult<BetaAppServiceReactivateApplicationResponse>> task = ReactivateApplicationWithHttpInfoAsync(betaAppServiceReactivateApplicationRequest);
        ApiResult<BetaAppServiceReactivateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Reactivate Application (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx) instead.   Reactivates the application belonging to the input project and matching the provided  application ID.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceReactivateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceReactivateApplicationResponse>> ReactivateApplicationWithHttpInfoAsync(BetaAppServiceReactivateApplicationRequest betaAppServiceReactivateApplicationRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/ReactivateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceReactivateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceReactivateApplicationRequest,
                ReactivateApplicationAccepts,
                "application/json",
                typeof(BetaAppServiceReactivateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Regenerate Client Secret
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx) instead.   Regenerates the client secret of an API or OIDC application that belongs to the input project.    Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceRegenerateClientSecretRequest"></param>
    /// <returns><![CDATA[BetaAppServiceRegenerateClientSecretResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceRegenerateClientSecretResponse> RegenerateClientSecretAsync(BetaAppServiceRegenerateClientSecretRequest betaAppServiceRegenerateClientSecretRequest)
    {
        Task<ApiResult<BetaAppServiceRegenerateClientSecretResponse>> task = RegenerateClientSecretWithHttpInfoAsync(betaAppServiceRegenerateClientSecretRequest);
        ApiResult<BetaAppServiceRegenerateClientSecretResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Regenerate Client Secret (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx) instead.   Regenerates the client secret of an API or OIDC application that belongs to the input project.    Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceRegenerateClientSecretRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceRegenerateClientSecretResponse>> RegenerateClientSecretWithHttpInfoAsync(BetaAppServiceRegenerateClientSecretRequest betaAppServiceRegenerateClientSecretRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/RegenerateClientSecret";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceRegenerateClientSecretResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceRegenerateClientSecretRequest,
                RegenerateClientSecretAccepts,
                "application/json",
                typeof(BetaAppServiceRegenerateClientSecretResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Application
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx) instead.   Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceUpdateApplicationRequest"></param>
    /// <returns><![CDATA[BetaAppServiceUpdateApplicationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAppServiceUpdateApplicationResponse> UpdateApplicationAsync(BetaAppServiceUpdateApplicationRequest betaAppServiceUpdateApplicationRequest)
    {
        Task<ApiResult<BetaAppServiceUpdateApplicationResponse>> task = UpdateApplicationWithHttpInfoAsync(betaAppServiceUpdateApplicationRequest);
        ApiResult<BetaAppServiceUpdateApplicationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Application (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: use [application service v2 UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx) instead.   Changes the configuration of an OIDC, API or SAML type application, as well as  the application name, based on the input provided.   Required permissions:    - project.app.write</remarks>
    /// <param name="betaAppServiceUpdateApplicationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAppServiceUpdateApplicationResponse>> UpdateApplicationWithHttpInfoAsync(BetaAppServiceUpdateApplicationRequest betaAppServiceUpdateApplicationRequest)
    {
        string path = "/zitadel.app.v2beta.AppService/UpdateApplication";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAppServiceUpdateApplicationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAppServiceUpdateApplicationRequest,
                UpdateApplicationAccepts,
                "application/json",
                typeof(BetaAppServiceUpdateApplicationResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
