// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaInternalPermissionServiceApi provides methods for the BetaInternalPermissionService API group.
/// </summary>
public class BetaInternalPermissionServiceApi : BaseApi
{
    private static readonly string[] CreateAdministratorAccepts = ["application/json"];

    private static readonly string[] DeleteAdministratorAccepts = ["application/json"];

    private static readonly string[] ListAdministratorsAccepts = ["application/json"];

    private static readonly string[] UpdateAdministratorAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaInternalPermissionServiceApi"/> with defaults.</summary>
    public BetaInternalPermissionServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaInternalPermissionServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaInternalPermissionServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaInternalPermissionServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaInternalPermissionServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// CreateAdministrator grants a administrator role to a user for a specific resource.
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="betaInternalPermissionServiceCreateAdministratorRequest"></param>
    /// <returns><![CDATA[BetaInternalPermissionServiceCreateAdministratorResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInternalPermissionServiceCreateAdministratorResponse> CreateAdministratorAsync(
        BetaInternalPermissionServiceCreateAdministratorRequest betaInternalPermissionServiceCreateAdministratorRequest
    )
    {
        Task<ApiResult<BetaInternalPermissionServiceCreateAdministratorResponse>> task =
            CreateAdministratorWithHttpInfoAsync(
                betaInternalPermissionServiceCreateAdministratorRequest
            );
        ApiResult<BetaInternalPermissionServiceCreateAdministratorResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// CreateAdministrator grants a administrator role to a user for a specific resource. (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="betaInternalPermissionServiceCreateAdministratorRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaInternalPermissionServiceCreateAdministratorResponse>
    > CreateAdministratorWithHttpInfoAsync(
        BetaInternalPermissionServiceCreateAdministratorRequest betaInternalPermissionServiceCreateAdministratorRequest
    )
    {
        string path =
            "/zitadel.internal_permission.v2beta.InternalPermissionService/CreateAdministrator";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInternalPermissionServiceCreateAdministratorResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInternalPermissionServiceCreateAdministratorRequest,
                CreateAdministratorAccepts,
                "application/json",
                typeof(BetaInternalPermissionServiceCreateAdministratorResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// DeleteAdministrator revokes a administrator role from a user.
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators</remarks>
    /// <param name="betaInternalPermissionServiceDeleteAdministratorRequest"></param>
    /// <returns><![CDATA[BetaInternalPermissionServiceDeleteAdministratorResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInternalPermissionServiceDeleteAdministratorResponse> DeleteAdministratorAsync(
        BetaInternalPermissionServiceDeleteAdministratorRequest betaInternalPermissionServiceDeleteAdministratorRequest
    )
    {
        Task<ApiResult<BetaInternalPermissionServiceDeleteAdministratorResponse>> task =
            DeleteAdministratorWithHttpInfoAsync(
                betaInternalPermissionServiceDeleteAdministratorRequest
            );
        ApiResult<BetaInternalPermissionServiceDeleteAdministratorResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// DeleteAdministrator revokes a administrator role from a user. (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators</remarks>
    /// <param name="betaInternalPermissionServiceDeleteAdministratorRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaInternalPermissionServiceDeleteAdministratorResponse>
    > DeleteAdministratorWithHttpInfoAsync(
        BetaInternalPermissionServiceDeleteAdministratorRequest betaInternalPermissionServiceDeleteAdministratorRequest
    )
    {
        string path =
            "/zitadel.internal_permission.v2beta.InternalPermissionService/DeleteAdministrator";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInternalPermissionServiceDeleteAdministratorResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInternalPermissionServiceDeleteAdministratorRequest,
                DeleteAdministratorAccepts,
                "application/json",
                typeof(BetaInternalPermissionServiceDeleteAdministratorResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// ListAdministrators returns all administrators and its roles matching the request and necessary permissions.
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles</remarks>
    /// <param name="betaInternalPermissionServiceListAdministratorsRequest"></param>
    /// <returns><![CDATA[BetaInternalPermissionServiceListAdministratorsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInternalPermissionServiceListAdministratorsResponse> ListAdministratorsAsync(
        BetaInternalPermissionServiceListAdministratorsRequest betaInternalPermissionServiceListAdministratorsRequest
    )
    {
        Task<ApiResult<BetaInternalPermissionServiceListAdministratorsResponse>> task =
            ListAdministratorsWithHttpInfoAsync(
                betaInternalPermissionServiceListAdministratorsRequest
            );
        ApiResult<BetaInternalPermissionServiceListAdministratorsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// ListAdministrators returns all administrators and its roles matching the request and necessary permissions. (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles</remarks>
    /// <param name="betaInternalPermissionServiceListAdministratorsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaInternalPermissionServiceListAdministratorsResponse>
    > ListAdministratorsWithHttpInfoAsync(
        BetaInternalPermissionServiceListAdministratorsRequest betaInternalPermissionServiceListAdministratorsRequest
    )
    {
        string path =
            "/zitadel.internal_permission.v2beta.InternalPermissionService/ListAdministrators";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInternalPermissionServiceListAdministratorsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInternalPermissionServiceListAdministratorsRequest,
                ListAdministratorsAccepts,
                "application/json",
                typeof(BetaInternalPermissionServiceListAdministratorsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// UpdateAdministrator updates the specific administrator role.
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="betaInternalPermissionServiceUpdateAdministratorRequest"></param>
    /// <returns><![CDATA[BetaInternalPermissionServiceUpdateAdministratorResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaInternalPermissionServiceUpdateAdministratorResponse> UpdateAdministratorAsync(
        BetaInternalPermissionServiceUpdateAdministratorRequest betaInternalPermissionServiceUpdateAdministratorRequest
    )
    {
        Task<ApiResult<BetaInternalPermissionServiceUpdateAdministratorResponse>> task =
            UpdateAdministratorWithHttpInfoAsync(
                betaInternalPermissionServiceUpdateAdministratorRequest
            );
        ApiResult<BetaInternalPermissionServiceUpdateAdministratorResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// UpdateAdministrator updates the specific administrator role. (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under internal permission service v2. This endpoint will be removed with the next major version of ZITADEL.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="betaInternalPermissionServiceUpdateAdministratorRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaInternalPermissionServiceUpdateAdministratorResponse>
    > UpdateAdministratorWithHttpInfoAsync(
        BetaInternalPermissionServiceUpdateAdministratorRequest betaInternalPermissionServiceUpdateAdministratorRequest
    )
    {
        string path =
            "/zitadel.internal_permission.v2beta.InternalPermissionService/UpdateAdministrator";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaInternalPermissionServiceUpdateAdministratorResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaInternalPermissionServiceUpdateAdministratorRequest,
                UpdateAdministratorAccepts,
                "application/json",
                typeof(BetaInternalPermissionServiceUpdateAdministratorResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
