// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaSessionServiceApi provides methods for the BetaSessionService API group.
/// </summary>
public class BetaSessionServiceApi : BaseApi
{

    private static readonly string[] CreateSessionAccepts = ["application/json"];

    private static readonly string[] DeleteSessionAccepts = ["application/json"];

    private static readonly string[] GetSessionAccepts = ["application/json"];

    private static readonly string[] ListSessionsAccepts = ["application/json"];

    private static readonly string[] SetSessionAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaSessionServiceApi"/> with defaults.</summary>
    public BetaSessionServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaSessionServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaSessionServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaSessionServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaSessionServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create a new session
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceCreateSessionRequest"></param>
    /// <returns><![CDATA[BetaSessionServiceCreateSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSessionServiceCreateSessionResponse> CreateSessionAsync(BetaSessionServiceCreateSessionRequest betaSessionServiceCreateSessionRequest)
    {
        Task<ApiResult<BetaSessionServiceCreateSessionResponse>> task = CreateSessionWithHttpInfoAsync(betaSessionServiceCreateSessionRequest);
        ApiResult<BetaSessionServiceCreateSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create a new session (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceCreateSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaSessionServiceCreateSessionResponse>> CreateSessionWithHttpInfoAsync(BetaSessionServiceCreateSessionRequest betaSessionServiceCreateSessionRequest)
    {
        string path = "/zitadel.session.v2beta.SessionService/CreateSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSessionServiceCreateSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSessionServiceCreateSessionRequest,
                CreateSessionAccepts,
                "application/json",
                typeof(BetaSessionServiceCreateSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Terminate a session
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceDeleteSessionRequest"></param>
    /// <returns><![CDATA[BetaSessionServiceDeleteSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSessionServiceDeleteSessionResponse> DeleteSessionAsync(BetaSessionServiceDeleteSessionRequest betaSessionServiceDeleteSessionRequest)
    {
        Task<ApiResult<BetaSessionServiceDeleteSessionResponse>> task = DeleteSessionWithHttpInfoAsync(betaSessionServiceDeleteSessionRequest);
        ApiResult<BetaSessionServiceDeleteSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Terminate a session (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceDeleteSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaSessionServiceDeleteSessionResponse>> DeleteSessionWithHttpInfoAsync(BetaSessionServiceDeleteSessionRequest betaSessionServiceDeleteSessionRequest)
    {
        string path = "/zitadel.session.v2beta.SessionService/DeleteSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSessionServiceDeleteSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSessionServiceDeleteSessionRequest,
                DeleteSessionAccepts,
                "application/json",
                typeof(BetaSessionServiceDeleteSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// GetSession a session
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceGetSessionRequest"></param>
    /// <returns><![CDATA[BetaSessionServiceGetSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSessionServiceGetSessionResponse> GetSessionAsync(BetaSessionServiceGetSessionRequest betaSessionServiceGetSessionRequest)
    {
        Task<ApiResult<BetaSessionServiceGetSessionResponse>> task = GetSessionWithHttpInfoAsync(betaSessionServiceGetSessionRequest);
        ApiResult<BetaSessionServiceGetSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// GetSession a session (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceGetSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaSessionServiceGetSessionResponse>> GetSessionWithHttpInfoAsync(BetaSessionServiceGetSessionRequest betaSessionServiceGetSessionRequest)
    {
        string path = "/zitadel.session.v2beta.SessionService/GetSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSessionServiceGetSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSessionServiceGetSessionRequest,
                GetSessionAccepts,
                "application/json",
                typeof(BetaSessionServiceGetSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Search sessions
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceListSessionsRequest"></param>
    /// <returns><![CDATA[BetaSessionServiceListSessionsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSessionServiceListSessionsResponse> ListSessionsAsync(BetaSessionServiceListSessionsRequest betaSessionServiceListSessionsRequest)
    {
        Task<ApiResult<BetaSessionServiceListSessionsResponse>> task = ListSessionsWithHttpInfoAsync(betaSessionServiceListSessionsRequest);
        ApiResult<BetaSessionServiceListSessionsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Search sessions (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceListSessionsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaSessionServiceListSessionsResponse>> ListSessionsWithHttpInfoAsync(BetaSessionServiceListSessionsRequest betaSessionServiceListSessionsRequest)
    {
        string path = "/zitadel.session.v2beta.SessionService/ListSessions";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSessionServiceListSessionsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSessionServiceListSessionsRequest,
                ListSessionsAccepts,
                "application/json",
                typeof(BetaSessionServiceListSessionsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update a session
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceSetSessionRequest"></param>
    /// <returns><![CDATA[BetaSessionServiceSetSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaSessionServiceSetSessionResponse> SetSessionAsync(BetaSessionServiceSetSessionRequest betaSessionServiceSetSessionRequest)
    {
        Task<ApiResult<BetaSessionServiceSetSessionResponse>> task = SetSessionWithHttpInfoAsync(betaSessionServiceSetSessionRequest);
        ApiResult<BetaSessionServiceSetSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update a session (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under session service v2. This endpoint will be removed with the next major version of ZITADEL.</remarks>
    /// <param name="betaSessionServiceSetSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaSessionServiceSetSessionResponse>> SetSessionWithHttpInfoAsync(BetaSessionServiceSetSessionRequest betaSessionServiceSetSessionRequest)
    {
        string path = "/zitadel.session.v2beta.SessionService/SetSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaSessionServiceSetSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaSessionServiceSetSessionRequest,
                SetSessionAccepts,
                "application/json",
                typeof(BetaSessionServiceSetSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
