// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaOrganizationServiceApi provides methods for the BetaOrganizationService API group.
/// </summary>
public class BetaOrganizationServiceApi : BaseApi
{
    private static readonly string[] ActivateOrganizationAccepts = ["application/json"];

    private static readonly string[] AddOrganizationDomainAccepts = ["application/json"];

    private static readonly string[] CreateOrganizationAccepts = ["application/json"];

    private static readonly string[] DeactivateOrganizationAccepts = ["application/json"];

    private static readonly string[] DeleteOrganizationAccepts = ["application/json"];

    private static readonly string[] DeleteOrganizationDomainAccepts = ["application/json"];

    private static readonly string[] DeleteOrganizationMetadataAccepts = ["application/json"];

    private static readonly string[] GenerateOrganizationDomainValidationAccepts =
    [
        "application/json",
    ];

    private static readonly string[] ListOrganizationDomainsAccepts = ["application/json"];

    private static readonly string[] ListOrganizationMetadataAccepts = ["application/json"];

    private static readonly string[] ListOrganizationsAccepts = ["application/json"];

    private static readonly string[] SetOrganizationMetadataAccepts = ["application/json"];

    private static readonly string[] UpdateOrganizationAccepts = ["application/json"];

    private static readonly string[] VerifyOrganizationDomainAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaOrganizationServiceApi"/> with defaults.</summary>
    public BetaOrganizationServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaOrganizationServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaOrganizationServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaOrganizationServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaOrganizationServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Organization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceActivateOrganizationRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceActivateOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceActivateOrganizationResponse> ActivateOrganizationAsync(
        BetaOrganizationServiceActivateOrganizationRequest betaOrganizationServiceActivateOrganizationRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceActivateOrganizationResponse>> task =
            ActivateOrganizationWithHttpInfoAsync(
                betaOrganizationServiceActivateOrganizationRequest
            );
        ApiResult<BetaOrganizationServiceActivateOrganizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Activate Organization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceActivateOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceActivateOrganizationResponse>
    > ActivateOrganizationWithHttpInfoAsync(
        BetaOrganizationServiceActivateOrganizationRequest betaOrganizationServiceActivateOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/ActivateOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceActivateOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceActivateOrganizationRequest,
                ActivateOrganizationAccepts,
                "application/json",
                typeof(BetaOrganizationServiceActivateOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Organization Domain
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceAddOrganizationDomainRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceAddOrganizationDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceAddOrganizationDomainResponse> AddOrganizationDomainAsync(
        BetaOrganizationServiceAddOrganizationDomainRequest betaOrganizationServiceAddOrganizationDomainRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceAddOrganizationDomainResponse>> task =
            AddOrganizationDomainWithHttpInfoAsync(
                betaOrganizationServiceAddOrganizationDomainRequest
            );
        ApiResult<BetaOrganizationServiceAddOrganizationDomainResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add Organization Domain (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceAddOrganizationDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceAddOrganizationDomainResponse>
    > AddOrganizationDomainWithHttpInfoAsync(
        BetaOrganizationServiceAddOrganizationDomainRequest betaOrganizationServiceAddOrganizationDomainRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/AddOrganizationDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceAddOrganizationDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceAddOrganizationDomainRequest,
                AddOrganizationDomainAccepts,
                "application/json",
                typeof(BetaOrganizationServiceAddOrganizationDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Organization
    /// </summary>
    /// <remarks>Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`   Deprecated: Use [AddOrganization](/apis/resources/org_service_v2/organization-service-add-organization.api.mdx) instead to create an organization.</remarks>
    /// <param name="betaOrganizationServiceCreateOrganizationRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceCreateOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceCreateOrganizationResponse> CreateOrganizationAsync(
        BetaOrganizationServiceCreateOrganizationRequest betaOrganizationServiceCreateOrganizationRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceCreateOrganizationResponse>> task =
            CreateOrganizationWithHttpInfoAsync(betaOrganizationServiceCreateOrganizationRequest);
        ApiResult<BetaOrganizationServiceCreateOrganizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create Organization (with HTTP info)
    /// </summary>
    /// <remarks>Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`   Deprecated: Use [AddOrganization](/apis/resources/org_service_v2/organization-service-add-organization.api.mdx) instead to create an organization.</remarks>
    /// <param name="betaOrganizationServiceCreateOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceCreateOrganizationResponse>
    > CreateOrganizationWithHttpInfoAsync(
        BetaOrganizationServiceCreateOrganizationRequest betaOrganizationServiceCreateOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/CreateOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceCreateOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceCreateOrganizationRequest,
                CreateOrganizationAccepts,
                "application/json",
                typeof(BetaOrganizationServiceCreateOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Organization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceDeactivateOrganizationRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceDeactivateOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceDeactivateOrganizationResponse> DeactivateOrganizationAsync(
        BetaOrganizationServiceDeactivateOrganizationRequest betaOrganizationServiceDeactivateOrganizationRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceDeactivateOrganizationResponse>> task =
            DeactivateOrganizationWithHttpInfoAsync(
                betaOrganizationServiceDeactivateOrganizationRequest
            );
        ApiResult<BetaOrganizationServiceDeactivateOrganizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Deactivate Organization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceDeactivateOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceDeactivateOrganizationResponse>
    > DeactivateOrganizationWithHttpInfoAsync(
        BetaOrganizationServiceDeactivateOrganizationRequest betaOrganizationServiceDeactivateOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/DeactivateOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceDeactivateOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceDeactivateOrganizationRequest,
                DeactivateOrganizationAccepts,
                "application/json",
                typeof(BetaOrganizationServiceDeactivateOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Organization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`</remarks>
    /// <param name="betaOrganizationServiceDeleteOrganizationRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceDeleteOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceDeleteOrganizationResponse> DeleteOrganizationAsync(
        BetaOrganizationServiceDeleteOrganizationRequest betaOrganizationServiceDeleteOrganizationRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceDeleteOrganizationResponse>> task =
            DeleteOrganizationWithHttpInfoAsync(betaOrganizationServiceDeleteOrganizationRequest);
        ApiResult<BetaOrganizationServiceDeleteOrganizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Organization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`</remarks>
    /// <param name="betaOrganizationServiceDeleteOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceDeleteOrganizationResponse>
    > DeleteOrganizationWithHttpInfoAsync(
        BetaOrganizationServiceDeleteOrganizationRequest betaOrganizationServiceDeleteOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/DeleteOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceDeleteOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceDeleteOrganizationRequest,
                DeleteOrganizationAccepts,
                "application/json",
                typeof(BetaOrganizationServiceDeleteOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Organization Domain
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceDeleteOrganizationDomainRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceDeleteOrganizationDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceDeleteOrganizationDomainResponse> DeleteOrganizationDomainAsync(
        BetaOrganizationServiceDeleteOrganizationDomainRequest betaOrganizationServiceDeleteOrganizationDomainRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceDeleteOrganizationDomainResponse>> task =
            DeleteOrganizationDomainWithHttpInfoAsync(
                betaOrganizationServiceDeleteOrganizationDomainRequest
            );
        ApiResult<BetaOrganizationServiceDeleteOrganizationDomainResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Organization Domain (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceDeleteOrganizationDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceDeleteOrganizationDomainResponse>
    > DeleteOrganizationDomainWithHttpInfoAsync(
        BetaOrganizationServiceDeleteOrganizationDomainRequest betaOrganizationServiceDeleteOrganizationDomainRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/DeleteOrganizationDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceDeleteOrganizationDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceDeleteOrganizationDomainRequest,
                DeleteOrganizationDomainAccepts,
                "application/json",
                typeof(BetaOrganizationServiceDeleteOrganizationDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Organization Metadata
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceDeleteOrganizationMetadataRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceDeleteOrganizationMetadataResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceDeleteOrganizationMetadataResponse> DeleteOrganizationMetadataAsync(
        BetaOrganizationServiceDeleteOrganizationMetadataRequest betaOrganizationServiceDeleteOrganizationMetadataRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceDeleteOrganizationMetadataResponse>> task =
            DeleteOrganizationMetadataWithHttpInfoAsync(
                betaOrganizationServiceDeleteOrganizationMetadataRequest
            );
        ApiResult<BetaOrganizationServiceDeleteOrganizationMetadataResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Organization Metadata (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceDeleteOrganizationMetadataRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceDeleteOrganizationMetadataResponse>
    > DeleteOrganizationMetadataWithHttpInfoAsync(
        BetaOrganizationServiceDeleteOrganizationMetadataRequest betaOrganizationServiceDeleteOrganizationMetadataRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/DeleteOrganizationMetadata";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceDeleteOrganizationMetadataResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceDeleteOrganizationMetadataRequest,
                DeleteOrganizationMetadataAccepts,
                "application/json",
                typeof(BetaOrganizationServiceDeleteOrganizationMetadataResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Generate Organization Domain Validation
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceGenerateOrganizationDomainValidationRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceGenerateOrganizationDomainValidationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceGenerateOrganizationDomainValidationResponse> GenerateOrganizationDomainValidationAsync(
        BetaOrganizationServiceGenerateOrganizationDomainValidationRequest betaOrganizationServiceGenerateOrganizationDomainValidationRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceGenerateOrganizationDomainValidationResponse>> task =
            GenerateOrganizationDomainValidationWithHttpInfoAsync(
                betaOrganizationServiceGenerateOrganizationDomainValidationRequest
            );
        ApiResult<BetaOrganizationServiceGenerateOrganizationDomainValidationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Generate Organization Domain Validation (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceGenerateOrganizationDomainValidationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceGenerateOrganizationDomainValidationResponse>
    > GenerateOrganizationDomainValidationWithHttpInfoAsync(
        BetaOrganizationServiceGenerateOrganizationDomainValidationRequest betaOrganizationServiceGenerateOrganizationDomainValidationRequest
    )
    {
        string path =
            "/zitadel.org.v2beta.OrganizationService/GenerateOrganizationDomainValidation";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceGenerateOrganizationDomainValidationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceGenerateOrganizationDomainValidationRequest,
                GenerateOrganizationDomainValidationAccepts,
                "application/json",
                typeof(BetaOrganizationServiceGenerateOrganizationDomainValidationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Organization Domains
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.    Required permission:   - `org.read`</remarks>
    /// <param name="betaOrganizationServiceListOrganizationDomainsRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceListOrganizationDomainsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceListOrganizationDomainsResponse> ListOrganizationDomainsAsync(
        BetaOrganizationServiceListOrganizationDomainsRequest betaOrganizationServiceListOrganizationDomainsRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceListOrganizationDomainsResponse>> task =
            ListOrganizationDomainsWithHttpInfoAsync(
                betaOrganizationServiceListOrganizationDomainsRequest
            );
        ApiResult<BetaOrganizationServiceListOrganizationDomainsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Organization Domains (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.    Required permission:   - `org.read`</remarks>
    /// <param name="betaOrganizationServiceListOrganizationDomainsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceListOrganizationDomainsResponse>
    > ListOrganizationDomainsWithHttpInfoAsync(
        BetaOrganizationServiceListOrganizationDomainsRequest betaOrganizationServiceListOrganizationDomainsRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/ListOrganizationDomains";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceListOrganizationDomainsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceListOrganizationDomainsRequest,
                ListOrganizationDomainsAccepts,
                "application/json",
                typeof(BetaOrganizationServiceListOrganizationDomainsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Organization Metadata
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   List metadata of an organization filtered by query.   Required permission:   - `org.read`</remarks>
    /// <param name="betaOrganizationServiceListOrganizationMetadataRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceListOrganizationMetadataResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceListOrganizationMetadataResponse> ListOrganizationMetadataAsync(
        BetaOrganizationServiceListOrganizationMetadataRequest betaOrganizationServiceListOrganizationMetadataRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceListOrganizationMetadataResponse>> task =
            ListOrganizationMetadataWithHttpInfoAsync(
                betaOrganizationServiceListOrganizationMetadataRequest
            );
        ApiResult<BetaOrganizationServiceListOrganizationMetadataResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Organization Metadata (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   List metadata of an organization filtered by query.   Required permission:   - `org.read`</remarks>
    /// <param name="betaOrganizationServiceListOrganizationMetadataRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceListOrganizationMetadataResponse>
    > ListOrganizationMetadataWithHttpInfoAsync(
        BetaOrganizationServiceListOrganizationMetadataRequest betaOrganizationServiceListOrganizationMetadataRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/ListOrganizationMetadata";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceListOrganizationMetadataResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceListOrganizationMetadataRequest,
                ListOrganizationMetadataAccepts,
                "application/json",
                typeof(BetaOrganizationServiceListOrganizationMetadataResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Organizations
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of organizations that match the requesting filters. All filters are applied with an AND condition.   Required permission:   - `org.read`   Deprecated: Use [ListOrganizations](/apis/resources/org_service_v2/organization-service-list-organizations.api.mdx) instead to list organizations.</remarks>
    /// <param name="betaOrganizationServiceListOrganizationsRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceListOrganizationsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceListOrganizationsResponse> ListOrganizationsAsync(
        BetaOrganizationServiceListOrganizationsRequest betaOrganizationServiceListOrganizationsRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceListOrganizationsResponse>> task =
            ListOrganizationsWithHttpInfoAsync(betaOrganizationServiceListOrganizationsRequest);
        ApiResult<BetaOrganizationServiceListOrganizationsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Organizations (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of organizations that match the requesting filters. All filters are applied with an AND condition.   Required permission:   - `org.read`   Deprecated: Use [ListOrganizations](/apis/resources/org_service_v2/organization-service-list-organizations.api.mdx) instead to list organizations.</remarks>
    /// <param name="betaOrganizationServiceListOrganizationsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceListOrganizationsResponse>
    > ListOrganizationsWithHttpInfoAsync(
        BetaOrganizationServiceListOrganizationsRequest betaOrganizationServiceListOrganizationsRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/ListOrganizations";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceListOrganizationsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceListOrganizationsRequest,
                ListOrganizationsAccepts,
                "application/json",
                typeof(BetaOrganizationServiceListOrganizationsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Organization Metadata
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceSetOrganizationMetadataRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceSetOrganizationMetadataResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceSetOrganizationMetadataResponse> SetOrganizationMetadataAsync(
        BetaOrganizationServiceSetOrganizationMetadataRequest betaOrganizationServiceSetOrganizationMetadataRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceSetOrganizationMetadataResponse>> task =
            SetOrganizationMetadataWithHttpInfoAsync(
                betaOrganizationServiceSetOrganizationMetadataRequest
            );
        ApiResult<BetaOrganizationServiceSetOrganizationMetadataResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Set Organization Metadata (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceSetOrganizationMetadataRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceSetOrganizationMetadataResponse>
    > SetOrganizationMetadataWithHttpInfoAsync(
        BetaOrganizationServiceSetOrganizationMetadataRequest betaOrganizationServiceSetOrganizationMetadataRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/SetOrganizationMetadata";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceSetOrganizationMetadataResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceSetOrganizationMetadataRequest,
                SetOrganizationMetadataAccepts,
                "application/json",
                typeof(BetaOrganizationServiceSetOrganizationMetadataResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Organization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the name of the organization.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceUpdateOrganizationRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceUpdateOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceUpdateOrganizationResponse> UpdateOrganizationAsync(
        BetaOrganizationServiceUpdateOrganizationRequest betaOrganizationServiceUpdateOrganizationRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceUpdateOrganizationResponse>> task =
            UpdateOrganizationWithHttpInfoAsync(betaOrganizationServiceUpdateOrganizationRequest);
        ApiResult<BetaOrganizationServiceUpdateOrganizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update Organization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the name of the organization.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceUpdateOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceUpdateOrganizationResponse>
    > UpdateOrganizationWithHttpInfoAsync(
        BetaOrganizationServiceUpdateOrganizationRequest betaOrganizationServiceUpdateOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/UpdateOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceUpdateOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceUpdateOrganizationRequest,
                UpdateOrganizationAccepts,
                "application/json",
                typeof(BetaOrganizationServiceUpdateOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Verify Organization Domain
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceVerifyOrganizationDomainRequest"></param>
    /// <returns><![CDATA[BetaOrganizationServiceVerifyOrganizationDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOrganizationServiceVerifyOrganizationDomainResponse> VerifyOrganizationDomainAsync(
        BetaOrganizationServiceVerifyOrganizationDomainRequest betaOrganizationServiceVerifyOrganizationDomainRequest
    )
    {
        Task<ApiResult<BetaOrganizationServiceVerifyOrganizationDomainResponse>> task =
            VerifyOrganizationDomainWithHttpInfoAsync(
                betaOrganizationServiceVerifyOrganizationDomainRequest
            );
        ApiResult<BetaOrganizationServiceVerifyOrganizationDomainResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Verify Organization Domain (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under organization service v2. This endpoint will be removed with the next major version of ZITADEL.   Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`</remarks>
    /// <param name="betaOrganizationServiceVerifyOrganizationDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaOrganizationServiceVerifyOrganizationDomainResponse>
    > VerifyOrganizationDomainWithHttpInfoAsync(
        BetaOrganizationServiceVerifyOrganizationDomainRequest betaOrganizationServiceVerifyOrganizationDomainRequest
    )
    {
        string path = "/zitadel.org.v2beta.OrganizationService/VerifyOrganizationDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOrganizationServiceVerifyOrganizationDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOrganizationServiceVerifyOrganizationDomainRequest,
                VerifyOrganizationDomainAccepts,
                "application/json",
                typeof(BetaOrganizationServiceVerifyOrganizationDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
