// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaAuthorizationServiceApi provides methods for the BetaAuthorizationService API group.
/// </summary>
public class BetaAuthorizationServiceApi : BaseApi
{

    private static readonly string[] ActivateAuthorizationAccepts = ["application/json"];

    private static readonly string[] CreateAuthorizationAccepts = ["application/json"];

    private static readonly string[] DeactivateAuthorizationAccepts = ["application/json"];

    private static readonly string[] DeleteAuthorizationAccepts = ["application/json"];

    private static readonly string[] ListAuthorizationsAccepts = ["application/json"];

    private static readonly string[] UpdateAuthorizationAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaAuthorizationServiceApi"/> with defaults.</summary>
    public BetaAuthorizationServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaAuthorizationServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaAuthorizationServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaAuthorizationServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaAuthorizationServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Authorization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceActivateAuthorizationRequest"></param>
    /// <returns><![CDATA[BetaAuthorizationServiceActivateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAuthorizationServiceActivateAuthorizationResponse> ActivateAuthorizationAsync(BetaAuthorizationServiceActivateAuthorizationRequest betaAuthorizationServiceActivateAuthorizationRequest)
    {
        Task<ApiResult<BetaAuthorizationServiceActivateAuthorizationResponse>> task = ActivateAuthorizationWithHttpInfoAsync(betaAuthorizationServiceActivateAuthorizationRequest);
        ApiResult<BetaAuthorizationServiceActivateAuthorizationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Activate Authorization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ActivateAuthorization activates an existing but inactive authorization.   In case the authorization is already active, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was activated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceActivateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAuthorizationServiceActivateAuthorizationResponse>> ActivateAuthorizationWithHttpInfoAsync(BetaAuthorizationServiceActivateAuthorizationRequest betaAuthorizationServiceActivateAuthorizationRequest)
    {
        string path = "/zitadel.authorization.v2beta.AuthorizationService/ActivateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAuthorizationServiceActivateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAuthorizationServiceActivateAuthorizationRequest,
                ActivateAuthorizationAccepts,
                "application/json",
                typeof(BetaAuthorizationServiceActivateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Authorization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceCreateAuthorizationRequest"></param>
    /// <returns><![CDATA[BetaAuthorizationServiceCreateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAuthorizationServiceCreateAuthorizationResponse> CreateAuthorizationAsync(BetaAuthorizationServiceCreateAuthorizationRequest betaAuthorizationServiceCreateAuthorizationRequest)
    {
        Task<ApiResult<BetaAuthorizationServiceCreateAuthorizationResponse>> task = CreateAuthorizationWithHttpInfoAsync(betaAuthorizationServiceCreateAuthorizationRequest);
        ApiResult<BetaAuthorizationServiceCreateAuthorizationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Authorization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   CreateAuthorization creates a new authorization for a user in an owned or granted project.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceCreateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAuthorizationServiceCreateAuthorizationResponse>> CreateAuthorizationWithHttpInfoAsync(BetaAuthorizationServiceCreateAuthorizationRequest betaAuthorizationServiceCreateAuthorizationRequest)
    {
        string path = "/zitadel.authorization.v2beta.AuthorizationService/CreateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAuthorizationServiceCreateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAuthorizationServiceCreateAuthorizationRequest,
                CreateAuthorizationAccepts,
                "application/json",
                typeof(BetaAuthorizationServiceCreateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Authorization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceDeactivateAuthorizationRequest"></param>
    /// <returns><![CDATA[BetaAuthorizationServiceDeactivateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAuthorizationServiceDeactivateAuthorizationResponse> DeactivateAuthorizationAsync(BetaAuthorizationServiceDeactivateAuthorizationRequest betaAuthorizationServiceDeactivateAuthorizationRequest)
    {
        Task<ApiResult<BetaAuthorizationServiceDeactivateAuthorizationResponse>> task = DeactivateAuthorizationWithHttpInfoAsync(betaAuthorizationServiceDeactivateAuthorizationRequest);
        ApiResult<BetaAuthorizationServiceDeactivateAuthorizationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Deactivate Authorization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeactivateAuthorization deactivates an existing and active authorization.   In case the authorization is already inactive, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the authorization was deactivated by the request.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceDeactivateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAuthorizationServiceDeactivateAuthorizationResponse>> DeactivateAuthorizationWithHttpInfoAsync(BetaAuthorizationServiceDeactivateAuthorizationRequest betaAuthorizationServiceDeactivateAuthorizationRequest)
    {
        string path = "/zitadel.authorization.v2beta.AuthorizationService/DeactivateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAuthorizationServiceDeactivateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAuthorizationServiceDeactivateAuthorizationRequest,
                DeactivateAuthorizationAccepts,
                "application/json",
                typeof(BetaAuthorizationServiceDeactivateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Authorization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"</remarks>
    /// <param name="betaAuthorizationServiceDeleteAuthorizationRequest"></param>
    /// <returns><![CDATA[BetaAuthorizationServiceDeleteAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAuthorizationServiceDeleteAuthorizationResponse> DeleteAuthorizationAsync(BetaAuthorizationServiceDeleteAuthorizationRequest betaAuthorizationServiceDeleteAuthorizationRequest)
    {
        Task<ApiResult<BetaAuthorizationServiceDeleteAuthorizationResponse>> task = DeleteAuthorizationWithHttpInfoAsync(betaAuthorizationServiceDeleteAuthorizationRequest);
        ApiResult<BetaAuthorizationServiceDeleteAuthorizationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Authorization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   DeleteAuthorization deletes the authorization.   In case the authorization is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the authorization was deleted by the request.   Required permissions:    - \"user.grant.delete\"</remarks>
    /// <param name="betaAuthorizationServiceDeleteAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAuthorizationServiceDeleteAuthorizationResponse>> DeleteAuthorizationWithHttpInfoAsync(BetaAuthorizationServiceDeleteAuthorizationRequest betaAuthorizationServiceDeleteAuthorizationRequest)
    {
        string path = "/zitadel.authorization.v2beta.AuthorizationService/DeleteAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAuthorizationServiceDeleteAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAuthorizationServiceDeleteAuthorizationRequest,
                DeleteAuthorizationAccepts,
                "application/json",
                typeof(BetaAuthorizationServiceDeleteAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Authorizations
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations</remarks>
    /// <param name="betaAuthorizationServiceListAuthorizationsRequest"></param>
    /// <returns><![CDATA[BetaAuthorizationServiceListAuthorizationsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAuthorizationServiceListAuthorizationsResponse> ListAuthorizationsAsync(BetaAuthorizationServiceListAuthorizationsRequest betaAuthorizationServiceListAuthorizationsRequest)
    {
        Task<ApiResult<BetaAuthorizationServiceListAuthorizationsResponse>> task = ListAuthorizationsWithHttpInfoAsync(betaAuthorizationServiceListAuthorizationsRequest);
        ApiResult<BetaAuthorizationServiceListAuthorizationsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Authorizations (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   ListAuthorizations returns all authorizations matching the request and necessary permissions.   Required permissions:    - \"user.grant.read\"    - no permissions required for listing own authorizations</remarks>
    /// <param name="betaAuthorizationServiceListAuthorizationsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAuthorizationServiceListAuthorizationsResponse>> ListAuthorizationsWithHttpInfoAsync(BetaAuthorizationServiceListAuthorizationsRequest betaAuthorizationServiceListAuthorizationsRequest)
    {
        string path = "/zitadel.authorization.v2beta.AuthorizationService/ListAuthorizations";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAuthorizationServiceListAuthorizationsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAuthorizationServiceListAuthorizationsRequest,
                ListAuthorizationsAccepts,
                "application/json",
                typeof(BetaAuthorizationServiceListAuthorizationsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Authorization
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceUpdateAuthorizationRequest"></param>
    /// <returns><![CDATA[BetaAuthorizationServiceUpdateAuthorizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaAuthorizationServiceUpdateAuthorizationResponse> UpdateAuthorizationAsync(BetaAuthorizationServiceUpdateAuthorizationRequest betaAuthorizationServiceUpdateAuthorizationRequest)
    {
        Task<ApiResult<BetaAuthorizationServiceUpdateAuthorizationResponse>> task = UpdateAuthorizationWithHttpInfoAsync(betaAuthorizationServiceUpdateAuthorizationRequest);
        ApiResult<BetaAuthorizationServiceUpdateAuthorizationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Authorization (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under authorization service v2. This endpoint will be removed with the next major version of ZITADEL.   UpdateAuthorization updates the authorization.   Note that any role keys previously granted to the user and not present in the request will be revoked.   Required permissions:    - \"user.grant.write\"</remarks>
    /// <param name="betaAuthorizationServiceUpdateAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaAuthorizationServiceUpdateAuthorizationResponse>> UpdateAuthorizationWithHttpInfoAsync(BetaAuthorizationServiceUpdateAuthorizationRequest betaAuthorizationServiceUpdateAuthorizationRequest)
    {
        string path = "/zitadel.authorization.v2beta.AuthorizationService/UpdateAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaAuthorizationServiceUpdateAuthorizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaAuthorizationServiceUpdateAuthorizationRequest,
                UpdateAuthorizationAccepts,
                "application/json",
                typeof(BetaAuthorizationServiceUpdateAuthorizationResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
