// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaUserServiceApi provides methods for the BetaUserService API group.
/// </summary>
public class BetaUserServiceApi : BaseApi
{
    private static readonly string[] AddHumanUserAccepts = ["application/json"];

    private static readonly string[] AddIDPLinkAccepts = ["application/json"];

    private static readonly string[] AddOTPEmailAccepts = ["application/json"];

    private static readonly string[] AddOTPSMSAccepts = ["application/json"];

    private static readonly string[] CreatePasskeyRegistrationLinkAccepts = ["application/json"];

    private static readonly string[] DeactivateUserAccepts = ["application/json"];

    private static readonly string[] DeleteUserAccepts = ["application/json"];

    private static readonly string[] GetUserByIDAccepts = ["application/json"];

    private static readonly string[] ListAuthenticationMethodTypesAccepts = ["application/json"];

    private static readonly string[] ListUsersAccepts = ["application/json"];

    private static readonly string[] LockUserAccepts = ["application/json"];

    private static readonly string[] PasswordResetAccepts = ["application/json"];

    private static readonly string[] ReactivateUserAccepts = ["application/json"];

    private static readonly string[] RegisterPasskeyAccepts = ["application/json"];

    private static readonly string[] RegisterTOTPAccepts = ["application/json"];

    private static readonly string[] RegisterU2FAccepts = ["application/json"];

    private static readonly string[] RemoveOTPEmailAccepts = ["application/json"];

    private static readonly string[] RemoveOTPSMSAccepts = ["application/json"];

    private static readonly string[] RemovePhoneAccepts = ["application/json"];

    private static readonly string[] RemoveTOTPAccepts = ["application/json"];

    private static readonly string[] ResendEmailCodeAccepts = ["application/json"];

    private static readonly string[] ResendPhoneCodeAccepts = ["application/json"];

    private static readonly string[] RetrieveIdentityProviderIntentAccepts = ["application/json"];

    private static readonly string[] SetEmailAccepts = ["application/json"];

    private static readonly string[] SetPasswordAccepts = ["application/json"];

    private static readonly string[] SetPhoneAccepts = ["application/json"];

    private static readonly string[] StartIdentityProviderIntentAccepts = ["application/json"];

    private static readonly string[] UnlockUserAccepts = ["application/json"];

    private static readonly string[] UpdateHumanUserAccepts = ["application/json"];

    private static readonly string[] VerifyEmailAccepts = ["application/json"];

    private static readonly string[] VerifyPasskeyRegistrationAccepts = ["application/json"];

    private static readonly string[] VerifyPhoneAccepts = ["application/json"];

    private static readonly string[] VerifyTOTPRegistrationAccepts = ["application/json"];

    private static readonly string[] VerifyU2FRegistrationAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaUserServiceApi"/> with defaults.</summary>
    public BetaUserServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaUserServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaUserServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaUserServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaUserServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create a new human user
    /// </summary>
    /// <remarks>Create/import a new user with the type human. The newly created user will get a verification email if either the email address is not marked as verified and you did not request the verification to be returned.   Deprecated: please move to the corresponding endpoint under user service v2 (GA)</remarks>
    /// <param name="betaUserServiceAddHumanUserRequest"></param>
    /// <returns><![CDATA[BetaUserServiceAddHumanUserResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceAddHumanUserResponse> AddHumanUserAsync(
        BetaUserServiceAddHumanUserRequest betaUserServiceAddHumanUserRequest
    )
    {
        Task<ApiResult<BetaUserServiceAddHumanUserResponse>> task = AddHumanUserWithHttpInfoAsync(
            betaUserServiceAddHumanUserRequest
        );
        ApiResult<BetaUserServiceAddHumanUserResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create a new human user (with HTTP info)
    /// </summary>
    /// <remarks>Create/import a new user with the type human. The newly created user will get a verification email if either the email address is not marked as verified and you did not request the verification to be returned.   Deprecated: please move to the corresponding endpoint under user service v2 (GA)</remarks>
    /// <param name="betaUserServiceAddHumanUserRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceAddHumanUserResponse>> AddHumanUserWithHttpInfoAsync(
        BetaUserServiceAddHumanUserRequest betaUserServiceAddHumanUserRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/AddHumanUser";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceAddHumanUserResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceAddHumanUserRequest,
                AddHumanUserAccepts,
                "application/json",
                typeof(BetaUserServiceAddHumanUserResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add link to an identity provider to an user
    /// </summary>
    /// <remarks>Add link to an identity provider to an user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceAddIDPLinkRequest"></param>
    /// <returns><![CDATA[BetaUserServiceAddIDPLinkResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceAddIDPLinkResponse> AddIDPLinkAsync(
        BetaUserServiceAddIDPLinkRequest betaUserServiceAddIDPLinkRequest
    )
    {
        Task<ApiResult<BetaUserServiceAddIDPLinkResponse>> task = AddIDPLinkWithHttpInfoAsync(
            betaUserServiceAddIDPLinkRequest
        );
        ApiResult<BetaUserServiceAddIDPLinkResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add link to an identity provider to an user (with HTTP info)
    /// </summary>
    /// <remarks>Add link to an identity provider to an user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceAddIDPLinkRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceAddIDPLinkResponse>> AddIDPLinkWithHttpInfoAsync(
        BetaUserServiceAddIDPLinkRequest betaUserServiceAddIDPLinkRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/AddIDPLink";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceAddIDPLinkResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceAddIDPLinkRequest,
                AddIDPLinkAccepts,
                "application/json",
                typeof(BetaUserServiceAddIDPLinkResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add OTP Email for a user
    /// </summary>
    /// <remarks>Add a new One-Time Password (OTP) Email factor to the authenticated user. OTP Email will enable the user to verify a OTP with the latest verified email. The email has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceAddOTPEmailRequest"></param>
    /// <returns><![CDATA[BetaUserServiceAddOTPEmailResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceAddOTPEmailResponse> AddOTPEmailAsync(
        BetaUserServiceAddOTPEmailRequest betaUserServiceAddOTPEmailRequest
    )
    {
        Task<ApiResult<BetaUserServiceAddOTPEmailResponse>> task = AddOTPEmailWithHttpInfoAsync(
            betaUserServiceAddOTPEmailRequest
        );
        ApiResult<BetaUserServiceAddOTPEmailResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add OTP Email for a user (with HTTP info)
    /// </summary>
    /// <remarks>Add a new One-Time Password (OTP) Email factor to the authenticated user. OTP Email will enable the user to verify a OTP with the latest verified email. The email has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceAddOTPEmailRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceAddOTPEmailResponse>> AddOTPEmailWithHttpInfoAsync(
        BetaUserServiceAddOTPEmailRequest betaUserServiceAddOTPEmailRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/AddOTPEmail";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceAddOTPEmailResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceAddOTPEmailRequest,
                AddOTPEmailAccepts,
                "application/json",
                typeof(BetaUserServiceAddOTPEmailResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add OTP SMS for a user
    /// </summary>
    /// <remarks>Add a new One-Time Password (OTP) SMS factor to the authenticated user. OTP SMS will enable the user to verify a OTP with the latest verified phone number. The phone number has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceAddOTPSMSRequest"></param>
    /// <returns><![CDATA[BetaUserServiceAddOTPSMSResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceAddOTPSMSResponse> AddOTPSMSAsync(
        BetaUserServiceAddOTPSMSRequest betaUserServiceAddOTPSMSRequest
    )
    {
        Task<ApiResult<BetaUserServiceAddOTPSMSResponse>> task = AddOTPSMSWithHttpInfoAsync(
            betaUserServiceAddOTPSMSRequest
        );
        ApiResult<BetaUserServiceAddOTPSMSResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add OTP SMS for a user (with HTTP info)
    /// </summary>
    /// <remarks>Add a new One-Time Password (OTP) SMS factor to the authenticated user. OTP SMS will enable the user to verify a OTP with the latest verified phone number. The phone number has to be verified to add the second factor.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceAddOTPSMSRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceAddOTPSMSResponse>> AddOTPSMSWithHttpInfoAsync(
        BetaUserServiceAddOTPSMSRequest betaUserServiceAddOTPSMSRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/AddOTPSMS";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceAddOTPSMSResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceAddOTPSMSRequest,
                AddOTPSMSAccepts,
                "application/json",
                typeof(BetaUserServiceAddOTPSMSResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create a passkey registration link for a user
    /// </summary>
    /// <remarks>Create a passkey registration link which includes a code and either return it or send it to the user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceCreatePasskeyRegistrationLinkRequest"></param>
    /// <returns><![CDATA[BetaUserServiceCreatePasskeyRegistrationLinkResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceCreatePasskeyRegistrationLinkResponse> CreatePasskeyRegistrationLinkAsync(
        BetaUserServiceCreatePasskeyRegistrationLinkRequest betaUserServiceCreatePasskeyRegistrationLinkRequest
    )
    {
        Task<ApiResult<BetaUserServiceCreatePasskeyRegistrationLinkResponse>> task =
            CreatePasskeyRegistrationLinkWithHttpInfoAsync(
                betaUserServiceCreatePasskeyRegistrationLinkRequest
            );
        ApiResult<BetaUserServiceCreatePasskeyRegistrationLinkResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create a passkey registration link for a user (with HTTP info)
    /// </summary>
    /// <remarks>Create a passkey registration link which includes a code and either return it or send it to the user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceCreatePasskeyRegistrationLinkRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceCreatePasskeyRegistrationLinkResponse>
    > CreatePasskeyRegistrationLinkWithHttpInfoAsync(
        BetaUserServiceCreatePasskeyRegistrationLinkRequest betaUserServiceCreatePasskeyRegistrationLinkRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/CreatePasskeyRegistrationLink";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceCreatePasskeyRegistrationLinkResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceCreatePasskeyRegistrationLinkRequest,
                CreatePasskeyRegistrationLinkAccepts,
                "application/json",
                typeof(BetaUserServiceCreatePasskeyRegistrationLinkResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate user
    /// </summary>
    /// <remarks>The state of the user will be changed to 'deactivated'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'deactivated'. Use deactivate user when the user should not be able to use the account anymore, but you still need access to the user data.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceDeactivateUserRequest"></param>
    /// <returns><![CDATA[BetaUserServiceDeactivateUserResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceDeactivateUserResponse> DeactivateUserAsync(
        BetaUserServiceDeactivateUserRequest betaUserServiceDeactivateUserRequest
    )
    {
        Task<ApiResult<BetaUserServiceDeactivateUserResponse>> task =
            DeactivateUserWithHttpInfoAsync(betaUserServiceDeactivateUserRequest);
        ApiResult<BetaUserServiceDeactivateUserResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Deactivate user (with HTTP info)
    /// </summary>
    /// <remarks>The state of the user will be changed to 'deactivated'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'deactivated'. Use deactivate user when the user should not be able to use the account anymore, but you still need access to the user data.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceDeactivateUserRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceDeactivateUserResponse>
    > DeactivateUserWithHttpInfoAsync(
        BetaUserServiceDeactivateUserRequest betaUserServiceDeactivateUserRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/DeactivateUser";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceDeactivateUserResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceDeactivateUserRequest,
                DeactivateUserAccepts,
                "application/json",
                typeof(BetaUserServiceDeactivateUserResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete user
    /// </summary>
    /// <remarks>The state of the user will be changed to 'deleted'. The user will not be able to log in anymore. Endpoints requesting this user will return an error 'User not found.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceDeleteUserRequest"></param>
    /// <returns><![CDATA[BetaUserServiceDeleteUserResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceDeleteUserResponse> DeleteUserAsync(
        BetaUserServiceDeleteUserRequest betaUserServiceDeleteUserRequest
    )
    {
        Task<ApiResult<BetaUserServiceDeleteUserResponse>> task = DeleteUserWithHttpInfoAsync(
            betaUserServiceDeleteUserRequest
        );
        ApiResult<BetaUserServiceDeleteUserResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete user (with HTTP info)
    /// </summary>
    /// <remarks>The state of the user will be changed to 'deleted'. The user will not be able to log in anymore. Endpoints requesting this user will return an error 'User not found.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceDeleteUserRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceDeleteUserResponse>> DeleteUserWithHttpInfoAsync(
        BetaUserServiceDeleteUserRequest betaUserServiceDeleteUserRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/DeleteUser";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceDeleteUserResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceDeleteUserRequest,
                DeleteUserAccepts,
                "application/json",
                typeof(BetaUserServiceDeleteUserResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// User by ID
    /// </summary>
    /// <remarks>Returns the full user object (human or machine) including the profile, email, etc.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceGetUserByIDRequest"></param>
    /// <returns><![CDATA[BetaUserServiceGetUserByIDResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceGetUserByIDResponse> GetUserByIDAsync(
        BetaUserServiceGetUserByIDRequest betaUserServiceGetUserByIDRequest
    )
    {
        Task<ApiResult<BetaUserServiceGetUserByIDResponse>> task = GetUserByIDWithHttpInfoAsync(
            betaUserServiceGetUserByIDRequest
        );
        ApiResult<BetaUserServiceGetUserByIDResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// User by ID (with HTTP info)
    /// </summary>
    /// <remarks>Returns the full user object (human or machine) including the profile, email, etc.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceGetUserByIDRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceGetUserByIDResponse>> GetUserByIDWithHttpInfoAsync(
        BetaUserServiceGetUserByIDRequest betaUserServiceGetUserByIDRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/GetUserByID";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceGetUserByIDResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceGetUserByIDRequest,
                GetUserByIDAccepts,
                "application/json",
                typeof(BetaUserServiceGetUserByIDResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List all possible authentication methods of a user
    /// </summary>
    /// <remarks>List all possible authentication methods of a user like password, passwordless, (T)OTP and more.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceListAuthenticationMethodTypesRequest"></param>
    /// <returns><![CDATA[BetaUserServiceListAuthenticationMethodTypesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceListAuthenticationMethodTypesResponse> ListAuthenticationMethodTypesAsync(
        BetaUserServiceListAuthenticationMethodTypesRequest betaUserServiceListAuthenticationMethodTypesRequest
    )
    {
        Task<ApiResult<BetaUserServiceListAuthenticationMethodTypesResponse>> task =
            ListAuthenticationMethodTypesWithHttpInfoAsync(
                betaUserServiceListAuthenticationMethodTypesRequest
            );
        ApiResult<BetaUserServiceListAuthenticationMethodTypesResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List all possible authentication methods of a user (with HTTP info)
    /// </summary>
    /// <remarks>List all possible authentication methods of a user like password, passwordless, (T)OTP and more.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceListAuthenticationMethodTypesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceListAuthenticationMethodTypesResponse>
    > ListAuthenticationMethodTypesWithHttpInfoAsync(
        BetaUserServiceListAuthenticationMethodTypesRequest betaUserServiceListAuthenticationMethodTypesRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/ListAuthenticationMethodTypes";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceListAuthenticationMethodTypesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceListAuthenticationMethodTypesRequest,
                ListAuthenticationMethodTypesAccepts,
                "application/json",
                typeof(BetaUserServiceListAuthenticationMethodTypesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Search Users
    /// </summary>
    /// <remarks>Search for users. By default, we will return all users of your instance that you have permission to read. Make sure to include a limit and sorting for pagination.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceListUsersRequest"></param>
    /// <returns><![CDATA[BetaUserServiceListUsersResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceListUsersResponse> ListUsersAsync(
        BetaUserServiceListUsersRequest betaUserServiceListUsersRequest
    )
    {
        Task<ApiResult<BetaUserServiceListUsersResponse>> task = ListUsersWithHttpInfoAsync(
            betaUserServiceListUsersRequest
        );
        ApiResult<BetaUserServiceListUsersResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Search Users (with HTTP info)
    /// </summary>
    /// <remarks>Search for users. By default, we will return all users of your instance that you have permission to read. Make sure to include a limit and sorting for pagination.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceListUsersRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceListUsersResponse>> ListUsersWithHttpInfoAsync(
        BetaUserServiceListUsersRequest betaUserServiceListUsersRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/ListUsers";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceListUsersResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceListUsersRequest,
                ListUsersAccepts,
                "application/json",
                typeof(BetaUserServiceListUsersResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Lock user
    /// </summary>
    /// <remarks>The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceLockUserRequest"></param>
    /// <returns><![CDATA[BetaUserServiceLockUserResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceLockUserResponse> LockUserAsync(
        BetaUserServiceLockUserRequest betaUserServiceLockUserRequest
    )
    {
        Task<ApiResult<BetaUserServiceLockUserResponse>> task = LockUserWithHttpInfoAsync(
            betaUserServiceLockUserRequest
        );
        ApiResult<BetaUserServiceLockUserResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Lock user (with HTTP info)
    /// </summary>
    /// <remarks>The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceLockUserRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceLockUserResponse>> LockUserWithHttpInfoAsync(
        BetaUserServiceLockUserRequest betaUserServiceLockUserRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/LockUser";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceLockUserResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceLockUserRequest,
                LockUserAccepts,
                "application/json",
                typeof(BetaUserServiceLockUserResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Request a code to reset a password
    /// </summary>
    /// <remarks>Request a code to reset a password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServicePasswordResetRequest"></param>
    /// <returns><![CDATA[BetaUserServicePasswordResetResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServicePasswordResetResponse> PasswordResetAsync(
        BetaUserServicePasswordResetRequest betaUserServicePasswordResetRequest
    )
    {
        Task<ApiResult<BetaUserServicePasswordResetResponse>> task = PasswordResetWithHttpInfoAsync(
            betaUserServicePasswordResetRequest
        );
        ApiResult<BetaUserServicePasswordResetResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Request a code to reset a password (with HTTP info)
    /// </summary>
    /// <remarks>Request a code to reset a password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServicePasswordResetRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServicePasswordResetResponse>
    > PasswordResetWithHttpInfoAsync(
        BetaUserServicePasswordResetRequest betaUserServicePasswordResetRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/PasswordReset";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServicePasswordResetResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServicePasswordResetRequest,
                PasswordResetAccepts,
                "application/json",
                typeof(BetaUserServicePasswordResetResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Reactivate user
    /// </summary>
    /// <remarks>Reactivate a user with the state 'deactivated'. The user will be able to log in again afterward. The endpoint returns an error if the user is not in the state 'deactivated'.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceReactivateUserRequest"></param>
    /// <returns><![CDATA[BetaUserServiceReactivateUserResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceReactivateUserResponse> ReactivateUserAsync(
        BetaUserServiceReactivateUserRequest betaUserServiceReactivateUserRequest
    )
    {
        Task<ApiResult<BetaUserServiceReactivateUserResponse>> task =
            ReactivateUserWithHttpInfoAsync(betaUserServiceReactivateUserRequest);
        ApiResult<BetaUserServiceReactivateUserResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Reactivate user (with HTTP info)
    /// </summary>
    /// <remarks>Reactivate a user with the state 'deactivated'. The user will be able to log in again afterward. The endpoint returns an error if the user is not in the state 'deactivated'.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceReactivateUserRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceReactivateUserResponse>
    > ReactivateUserWithHttpInfoAsync(
        BetaUserServiceReactivateUserRequest betaUserServiceReactivateUserRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/ReactivateUser";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceReactivateUserResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceReactivateUserRequest,
                ReactivateUserAccepts,
                "application/json",
                typeof(BetaUserServiceReactivateUserResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Start the registration of passkey for a user
    /// </summary>
    /// <remarks>Start the registration of a passkey for a user, as a response the public key credential creation options are returned, which are used to verify the passkey.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRegisterPasskeyRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRegisterPasskeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRegisterPasskeyResponse> RegisterPasskeyAsync(
        BetaUserServiceRegisterPasskeyRequest betaUserServiceRegisterPasskeyRequest
    )
    {
        Task<ApiResult<BetaUserServiceRegisterPasskeyResponse>> task =
            RegisterPasskeyWithHttpInfoAsync(betaUserServiceRegisterPasskeyRequest);
        ApiResult<BetaUserServiceRegisterPasskeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Start the registration of passkey for a user (with HTTP info)
    /// </summary>
    /// <remarks>Start the registration of a passkey for a user, as a response the public key credential creation options are returned, which are used to verify the passkey.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRegisterPasskeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceRegisterPasskeyResponse>
    > RegisterPasskeyWithHttpInfoAsync(
        BetaUserServiceRegisterPasskeyRequest betaUserServiceRegisterPasskeyRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RegisterPasskey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRegisterPasskeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRegisterPasskeyRequest,
                RegisterPasskeyAccepts,
                "application/json",
                typeof(BetaUserServiceRegisterPasskeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Start the registration of a TOTP generator for a user
    /// </summary>
    /// <remarks>Start the registration of a TOTP generator for a user, as a response a secret returned, which is used to initialize a TOTP app or device.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRegisterTOTPRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRegisterTOTPResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRegisterTOTPResponse> RegisterTOTPAsync(
        BetaUserServiceRegisterTOTPRequest betaUserServiceRegisterTOTPRequest
    )
    {
        Task<ApiResult<BetaUserServiceRegisterTOTPResponse>> task = RegisterTOTPWithHttpInfoAsync(
            betaUserServiceRegisterTOTPRequest
        );
        ApiResult<BetaUserServiceRegisterTOTPResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Start the registration of a TOTP generator for a user (with HTTP info)
    /// </summary>
    /// <remarks>Start the registration of a TOTP generator for a user, as a response a secret returned, which is used to initialize a TOTP app or device.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRegisterTOTPRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceRegisterTOTPResponse>> RegisterTOTPWithHttpInfoAsync(
        BetaUserServiceRegisterTOTPRequest betaUserServiceRegisterTOTPRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RegisterTOTP";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRegisterTOTPResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRegisterTOTPRequest,
                RegisterTOTPAccepts,
                "application/json",
                typeof(BetaUserServiceRegisterTOTPResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Start the registration of a u2f token for a user
    /// </summary>
    /// <remarks>Start the registration of a u2f token for a user, as a response the public key credential creation options are returned, which are used to verify the u2f token.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRegisterU2FRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRegisterU2FResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRegisterU2FResponse> RegisterU2FAsync(
        BetaUserServiceRegisterU2FRequest betaUserServiceRegisterU2FRequest
    )
    {
        Task<ApiResult<BetaUserServiceRegisterU2FResponse>> task = RegisterU2FWithHttpInfoAsync(
            betaUserServiceRegisterU2FRequest
        );
        ApiResult<BetaUserServiceRegisterU2FResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Start the registration of a u2f token for a user (with HTTP info)
    /// </summary>
    /// <remarks>Start the registration of a u2f token for a user, as a response the public key credential creation options are returned, which are used to verify the u2f token.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRegisterU2FRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceRegisterU2FResponse>> RegisterU2FWithHttpInfoAsync(
        BetaUserServiceRegisterU2FRequest betaUserServiceRegisterU2FRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RegisterU2F";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRegisterU2FResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRegisterU2FRequest,
                RegisterU2FAccepts,
                "application/json",
                typeof(BetaUserServiceRegisterU2FResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove One-Time Password (OTP) Email from a user
    /// </summary>
    /// <remarks>Remove the configured One-Time Password (OTP) Email factor of a user. As only one OTP Email per user is allowed, the user will not have OTP Email as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemoveOTPEmailRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRemoveOTPEmailResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRemoveOTPEmailResponse> RemoveOTPEmailAsync(
        BetaUserServiceRemoveOTPEmailRequest betaUserServiceRemoveOTPEmailRequest
    )
    {
        Task<ApiResult<BetaUserServiceRemoveOTPEmailResponse>> task =
            RemoveOTPEmailWithHttpInfoAsync(betaUserServiceRemoveOTPEmailRequest);
        ApiResult<BetaUserServiceRemoveOTPEmailResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Remove One-Time Password (OTP) Email from a user (with HTTP info)
    /// </summary>
    /// <remarks>Remove the configured One-Time Password (OTP) Email factor of a user. As only one OTP Email per user is allowed, the user will not have OTP Email as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemoveOTPEmailRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceRemoveOTPEmailResponse>
    > RemoveOTPEmailWithHttpInfoAsync(
        BetaUserServiceRemoveOTPEmailRequest betaUserServiceRemoveOTPEmailRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RemoveOTPEmail";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRemoveOTPEmailResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRemoveOTPEmailRequest,
                RemoveOTPEmailAccepts,
                "application/json",
                typeof(BetaUserServiceRemoveOTPEmailResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove One-Time Password (OTP) SMS from a user
    /// </summary>
    /// <remarks>Remove the configured One-Time Password (OTP) SMS factor of a user. As only one OTP SMS per user is allowed, the user will not have OTP SMS as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemoveOTPSMSRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRemoveOTPSMSResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRemoveOTPSMSResponse> RemoveOTPSMSAsync(
        BetaUserServiceRemoveOTPSMSRequest betaUserServiceRemoveOTPSMSRequest
    )
    {
        Task<ApiResult<BetaUserServiceRemoveOTPSMSResponse>> task = RemoveOTPSMSWithHttpInfoAsync(
            betaUserServiceRemoveOTPSMSRequest
        );
        ApiResult<BetaUserServiceRemoveOTPSMSResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Remove One-Time Password (OTP) SMS from a user (with HTTP info)
    /// </summary>
    /// <remarks>Remove the configured One-Time Password (OTP) SMS factor of a user. As only one OTP SMS per user is allowed, the user will not have OTP SMS as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemoveOTPSMSRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceRemoveOTPSMSResponse>> RemoveOTPSMSWithHttpInfoAsync(
        BetaUserServiceRemoveOTPSMSRequest betaUserServiceRemoveOTPSMSRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RemoveOTPSMS";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRemoveOTPSMSResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRemoveOTPSMSRequest,
                RemoveOTPSMSAccepts,
                "application/json",
                typeof(BetaUserServiceRemoveOTPSMSResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove the user phone
    /// </summary>
    /// <remarks>Remove the user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemovePhoneRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRemovePhoneResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRemovePhoneResponse> RemovePhoneAsync(
        BetaUserServiceRemovePhoneRequest betaUserServiceRemovePhoneRequest
    )
    {
        Task<ApiResult<BetaUserServiceRemovePhoneResponse>> task = RemovePhoneWithHttpInfoAsync(
            betaUserServiceRemovePhoneRequest
        );
        ApiResult<BetaUserServiceRemovePhoneResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Remove the user phone (with HTTP info)
    /// </summary>
    /// <remarks>Remove the user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemovePhoneRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceRemovePhoneResponse>> RemovePhoneWithHttpInfoAsync(
        BetaUserServiceRemovePhoneRequest betaUserServiceRemovePhoneRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RemovePhone";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRemovePhoneResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRemovePhoneRequest,
                RemovePhoneAccepts,
                "application/json",
                typeof(BetaUserServiceRemovePhoneResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove TOTP generator from a user
    /// </summary>
    /// <remarks>Remove the configured TOTP generator of a user. As only one TOTP generator per user is allowed, the user will not have TOTP as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemoveTOTPRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRemoveTOTPResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRemoveTOTPResponse> RemoveTOTPAsync(
        BetaUserServiceRemoveTOTPRequest betaUserServiceRemoveTOTPRequest
    )
    {
        Task<ApiResult<BetaUserServiceRemoveTOTPResponse>> task = RemoveTOTPWithHttpInfoAsync(
            betaUserServiceRemoveTOTPRequest
        );
        ApiResult<BetaUserServiceRemoveTOTPResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Remove TOTP generator from a user (with HTTP info)
    /// </summary>
    /// <remarks>Remove the configured TOTP generator of a user. As only one TOTP generator per user is allowed, the user will not have TOTP as a second factor afterward.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRemoveTOTPRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceRemoveTOTPResponse>> RemoveTOTPWithHttpInfoAsync(
        BetaUserServiceRemoveTOTPRequest betaUserServiceRemoveTOTPRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RemoveTOTP";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRemoveTOTPResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRemoveTOTPRequest,
                RemoveTOTPAccepts,
                "application/json",
                typeof(BetaUserServiceRemoveTOTPResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Resend code to verify user email
    /// </summary>
    /// <remarks>Resend code to verify user email   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceResendEmailCodeRequest"></param>
    /// <returns><![CDATA[BetaUserServiceResendEmailCodeResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceResendEmailCodeResponse> ResendEmailCodeAsync(
        BetaUserServiceResendEmailCodeRequest betaUserServiceResendEmailCodeRequest
    )
    {
        Task<ApiResult<BetaUserServiceResendEmailCodeResponse>> task =
            ResendEmailCodeWithHttpInfoAsync(betaUserServiceResendEmailCodeRequest);
        ApiResult<BetaUserServiceResendEmailCodeResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Resend code to verify user email (with HTTP info)
    /// </summary>
    /// <remarks>Resend code to verify user email   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceResendEmailCodeRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceResendEmailCodeResponse>
    > ResendEmailCodeWithHttpInfoAsync(
        BetaUserServiceResendEmailCodeRequest betaUserServiceResendEmailCodeRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/ResendEmailCode";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceResendEmailCodeResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceResendEmailCodeRequest,
                ResendEmailCodeAccepts,
                "application/json",
                typeof(BetaUserServiceResendEmailCodeResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Resend code to verify user phone
    /// </summary>
    /// <remarks>Resend code to verify user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceResendPhoneCodeRequest"></param>
    /// <returns><![CDATA[BetaUserServiceResendPhoneCodeResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceResendPhoneCodeResponse> ResendPhoneCodeAsync(
        BetaUserServiceResendPhoneCodeRequest betaUserServiceResendPhoneCodeRequest
    )
    {
        Task<ApiResult<BetaUserServiceResendPhoneCodeResponse>> task =
            ResendPhoneCodeWithHttpInfoAsync(betaUserServiceResendPhoneCodeRequest);
        ApiResult<BetaUserServiceResendPhoneCodeResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Resend code to verify user phone (with HTTP info)
    /// </summary>
    /// <remarks>Resend code to verify user phone   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceResendPhoneCodeRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceResendPhoneCodeResponse>
    > ResendPhoneCodeWithHttpInfoAsync(
        BetaUserServiceResendPhoneCodeRequest betaUserServiceResendPhoneCodeRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/ResendPhoneCode";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceResendPhoneCodeResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceResendPhoneCodeRequest,
                ResendPhoneCodeAccepts,
                "application/json",
                typeof(BetaUserServiceResendPhoneCodeResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Retrieve the information returned by the identity provider
    /// </summary>
    /// <remarks>Retrieve the information returned by the identity provider for registration or updating an existing user with new information.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRetrieveIdentityProviderIntentRequest"></param>
    /// <returns><![CDATA[BetaUserServiceRetrieveIdentityProviderIntentResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceRetrieveIdentityProviderIntentResponse> RetrieveIdentityProviderIntentAsync(
        BetaUserServiceRetrieveIdentityProviderIntentRequest betaUserServiceRetrieveIdentityProviderIntentRequest
    )
    {
        Task<ApiResult<BetaUserServiceRetrieveIdentityProviderIntentResponse>> task =
            RetrieveIdentityProviderIntentWithHttpInfoAsync(
                betaUserServiceRetrieveIdentityProviderIntentRequest
            );
        ApiResult<BetaUserServiceRetrieveIdentityProviderIntentResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Retrieve the information returned by the identity provider (with HTTP info)
    /// </summary>
    /// <remarks>Retrieve the information returned by the identity provider for registration or updating an existing user with new information.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceRetrieveIdentityProviderIntentRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceRetrieveIdentityProviderIntentResponse>
    > RetrieveIdentityProviderIntentWithHttpInfoAsync(
        BetaUserServiceRetrieveIdentityProviderIntentRequest betaUserServiceRetrieveIdentityProviderIntentRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/RetrieveIdentityProviderIntent";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceRetrieveIdentityProviderIntentResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceRetrieveIdentityProviderIntentRequest,
                RetrieveIdentityProviderIntentAccepts,
                "application/json",
                typeof(BetaUserServiceRetrieveIdentityProviderIntentResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Change the user email
    /// </summary>
    /// <remarks>Change the email address of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by email.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceSetEmailRequest"></param>
    /// <returns><![CDATA[BetaUserServiceSetEmailResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceSetEmailResponse> SetEmailAsync(
        BetaUserServiceSetEmailRequest betaUserServiceSetEmailRequest
    )
    {
        Task<ApiResult<BetaUserServiceSetEmailResponse>> task = SetEmailWithHttpInfoAsync(
            betaUserServiceSetEmailRequest
        );
        ApiResult<BetaUserServiceSetEmailResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Change the user email (with HTTP info)
    /// </summary>
    /// <remarks>Change the email address of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by email.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceSetEmailRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceSetEmailResponse>> SetEmailWithHttpInfoAsync(
        BetaUserServiceSetEmailRequest betaUserServiceSetEmailRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/SetEmail";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceSetEmailResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceSetEmailRequest,
                SetEmailAccepts,
                "application/json",
                typeof(BetaUserServiceSetEmailResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Change password
    /// </summary>
    /// <remarks>Change the password of a user with either a verification code or the current password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceSetPasswordRequest"></param>
    /// <returns><![CDATA[BetaUserServiceSetPasswordResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceSetPasswordResponse> SetPasswordAsync(
        BetaUserServiceSetPasswordRequest betaUserServiceSetPasswordRequest
    )
    {
        Task<ApiResult<BetaUserServiceSetPasswordResponse>> task = SetPasswordWithHttpInfoAsync(
            betaUserServiceSetPasswordRequest
        );
        ApiResult<BetaUserServiceSetPasswordResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Change password (with HTTP info)
    /// </summary>
    /// <remarks>Change the password of a user with either a verification code or the current password.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceSetPasswordRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceSetPasswordResponse>> SetPasswordWithHttpInfoAsync(
        BetaUserServiceSetPasswordRequest betaUserServiceSetPasswordRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/SetPassword";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceSetPasswordResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceSetPasswordRequest,
                SetPasswordAccepts,
                "application/json",
                typeof(BetaUserServiceSetPasswordResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set the user phone
    /// </summary>
    /// <remarks>Set the phone number of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by sms.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceSetPhoneRequest"></param>
    /// <returns><![CDATA[BetaUserServiceSetPhoneResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceSetPhoneResponse> SetPhoneAsync(
        BetaUserServiceSetPhoneRequest betaUserServiceSetPhoneRequest
    )
    {
        Task<ApiResult<BetaUserServiceSetPhoneResponse>> task = SetPhoneWithHttpInfoAsync(
            betaUserServiceSetPhoneRequest
        );
        ApiResult<BetaUserServiceSetPhoneResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Set the user phone (with HTTP info)
    /// </summary>
    /// <remarks>Set the phone number of a user. If the state is set to not verified, a verification code will be generated, which can be either returned or sent to the user by sms.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceSetPhoneRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceSetPhoneResponse>> SetPhoneWithHttpInfoAsync(
        BetaUserServiceSetPhoneRequest betaUserServiceSetPhoneRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/SetPhone";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceSetPhoneResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceSetPhoneRequest,
                SetPhoneAccepts,
                "application/json",
                typeof(BetaUserServiceSetPhoneResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Start flow with an identity provider
    /// </summary>
    /// <remarks>Start a flow with an identity provider, for external login, registration or linking.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceStartIdentityProviderIntentRequest"></param>
    /// <returns><![CDATA[BetaUserServiceStartIdentityProviderIntentResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceStartIdentityProviderIntentResponse> StartIdentityProviderIntentAsync(
        BetaUserServiceStartIdentityProviderIntentRequest betaUserServiceStartIdentityProviderIntentRequest
    )
    {
        Task<ApiResult<BetaUserServiceStartIdentityProviderIntentResponse>> task =
            StartIdentityProviderIntentWithHttpInfoAsync(
                betaUserServiceStartIdentityProviderIntentRequest
            );
        ApiResult<BetaUserServiceStartIdentityProviderIntentResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Start flow with an identity provider (with HTTP info)
    /// </summary>
    /// <remarks>Start a flow with an identity provider, for external login, registration or linking.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceStartIdentityProviderIntentRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceStartIdentityProviderIntentResponse>
    > StartIdentityProviderIntentWithHttpInfoAsync(
        BetaUserServiceStartIdentityProviderIntentRequest betaUserServiceStartIdentityProviderIntentRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/StartIdentityProviderIntent";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceStartIdentityProviderIntentResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceStartIdentityProviderIntentRequest,
                StartIdentityProviderIntentAccepts,
                "application/json",
                typeof(BetaUserServiceStartIdentityProviderIntentResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Unlock user
    /// </summary>
    /// <remarks>The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceUnlockUserRequest"></param>
    /// <returns><![CDATA[BetaUserServiceUnlockUserResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceUnlockUserResponse> UnlockUserAsync(
        BetaUserServiceUnlockUserRequest betaUserServiceUnlockUserRequest
    )
    {
        Task<ApiResult<BetaUserServiceUnlockUserResponse>> task = UnlockUserWithHttpInfoAsync(
            betaUserServiceUnlockUserRequest
        );
        ApiResult<BetaUserServiceUnlockUserResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Unlock user (with HTTP info)
    /// </summary>
    /// <remarks>The state of the user will be changed to 'locked'. The user will not be able to log in anymore. The endpoint returns an error if the user is already in the state 'locked'. Use this endpoint if the user should not be able to log in temporarily because of an event that happened (wrong password, etc.).   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceUnlockUserRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceUnlockUserResponse>> UnlockUserWithHttpInfoAsync(
        BetaUserServiceUnlockUserRequest betaUserServiceUnlockUserRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/UnlockUser";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceUnlockUserResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceUnlockUserRequest,
                UnlockUserAccepts,
                "application/json",
                typeof(BetaUserServiceUnlockUserResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update User
    /// </summary>
    /// <remarks>Update all information from a user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceUpdateHumanUserRequest"></param>
    /// <returns><![CDATA[BetaUserServiceUpdateHumanUserResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceUpdateHumanUserResponse> UpdateHumanUserAsync(
        BetaUserServiceUpdateHumanUserRequest betaUserServiceUpdateHumanUserRequest
    )
    {
        Task<ApiResult<BetaUserServiceUpdateHumanUserResponse>> task =
            UpdateHumanUserWithHttpInfoAsync(betaUserServiceUpdateHumanUserRequest);
        ApiResult<BetaUserServiceUpdateHumanUserResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update User (with HTTP info)
    /// </summary>
    /// <remarks>Update all information from a user.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceUpdateHumanUserRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceUpdateHumanUserResponse>
    > UpdateHumanUserWithHttpInfoAsync(
        BetaUserServiceUpdateHumanUserRequest betaUserServiceUpdateHumanUserRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/UpdateHumanUser";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceUpdateHumanUserResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceUpdateHumanUserRequest,
                UpdateHumanUserAccepts,
                "application/json",
                typeof(BetaUserServiceUpdateHumanUserResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Verify the email
    /// </summary>
    /// <remarks>Verify the email with the generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceVerifyEmailRequest"></param>
    /// <returns><![CDATA[BetaUserServiceVerifyEmailResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceVerifyEmailResponse> VerifyEmailAsync(
        BetaUserServiceVerifyEmailRequest betaUserServiceVerifyEmailRequest
    )
    {
        Task<ApiResult<BetaUserServiceVerifyEmailResponse>> task = VerifyEmailWithHttpInfoAsync(
            betaUserServiceVerifyEmailRequest
        );
        ApiResult<BetaUserServiceVerifyEmailResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Verify the email (with HTTP info)
    /// </summary>
    /// <remarks>Verify the email with the generated code.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceVerifyEmailRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaUserServiceVerifyEmailResponse>> VerifyEmailWithHttpInfoAsync(
        BetaUserServiceVerifyEmailRequest betaUserServiceVerifyEmailRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/VerifyEmail";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaUserServiceVerifyEmailResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaUserServiceVerifyEmailRequest,
                VerifyEmailAccepts,
                "application/json",
                typeof(BetaUserServiceVerifyEmailResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Verify a passkey for a user
    /// </summary>
    /// <remarks>Verify the passkey registration with the public key credential.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceVerifyPasskeyRegistrationRequest"></param>
    /// <returns><![CDATA[BetaUserServiceVerifyPasskeyRegistrationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaUserServiceVerifyPasskeyRegistrationResponse> VerifyPasskeyRegistrationAsync(
        BetaUserServiceVerifyPasskeyRegistrationRequest betaUserServiceVerifyPasskeyRegistrationRequest
    )
    {
        Task<ApiResult<BetaUserServiceVerifyPasskeyRegistrationResponse>> task =
            VerifyPasskeyRegistrationWithHttpInfoAsync(
                betaUserServiceVerifyPasskeyRegistrationRequest
            );
        ApiResult<BetaUserServiceVerifyPasskeyRegistrationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Verify a passkey for a user (with HTTP info)
    /// </summary>
    /// <remarks>Verify the passkey registration with the public key credential.   Deprecated: please move to the corresponding endpoint under user service v2 (GA).</remarks>
    /// <param name="betaUserServiceVerifyPasskeyRegistrationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaUserServiceVerifyPasskeyRegistrationResponse>
    > VerifyPasskeyRegistrationWithHttpInfoAsync(
        BetaUserServiceVerifyPasskeyRegistrationRequest betaUserServiceVerifyPasskeyRegistrationRequest
    )
    {
        string path = "/zitadel.user.v2beta.UserService/VerifyPasskeyRegistration";

[...]
