// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaProjectServiceApi provides methods for the BetaProjectService API group.
/// </summary>
public class BetaProjectServiceApi : BaseApi
{
    private static readonly string[] ActivateProjectAccepts = ["application/json"];

    private static readonly string[] ActivateProjectGrantAccepts = ["application/json"];

    private static readonly string[] AddProjectRoleAccepts = ["application/json"];

    private static readonly string[] CreateProjectAccepts = ["application/json"];

    private static readonly string[] CreateProjectGrantAccepts = ["application/json"];

    private static readonly string[] DeactivateProjectAccepts = ["application/json"];

    private static readonly string[] DeactivateProjectGrantAccepts = ["application/json"];

    private static readonly string[] DeleteProjectAccepts = ["application/json"];

    private static readonly string[] DeleteProjectGrantAccepts = ["application/json"];

    private static readonly string[] GetProjectAccepts = ["application/json"];

    private static readonly string[] ListProjectGrantsAccepts = ["application/json"];

    private static readonly string[] ListProjectRolesAccepts = ["application/json"];

    private static readonly string[] ListProjectsAccepts = ["application/json"];

    private static readonly string[] RemoveProjectRoleAccepts = ["application/json"];

    private static readonly string[] UpdateProjectAccepts = ["application/json"];

    private static readonly string[] UpdateProjectGrantAccepts = ["application/json"];

    private static readonly string[] UpdateProjectRoleAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaProjectServiceApi"/> with defaults.</summary>
    public BetaProjectServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaProjectServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaProjectServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaProjectServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaProjectServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Project
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`</remarks>
    /// <param name="betaProjectServiceActivateProjectRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceActivateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceActivateProjectResponse> ActivateProjectAsync(
        BetaProjectServiceActivateProjectRequest betaProjectServiceActivateProjectRequest
    )
    {
        Task<ApiResult<BetaProjectServiceActivateProjectResponse>> task =
            ActivateProjectWithHttpInfoAsync(betaProjectServiceActivateProjectRequest);
        ApiResult<BetaProjectServiceActivateProjectResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Activate Project (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`</remarks>
    /// <param name="betaProjectServiceActivateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceActivateProjectResponse>
    > ActivateProjectWithHttpInfoAsync(
        BetaProjectServiceActivateProjectRequest betaProjectServiceActivateProjectRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/ActivateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceActivateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceActivateProjectRequest,
                ActivateProjectAccepts,
                "application/json",
                typeof(BetaProjectServiceActivateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Activate Project Grant
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to activated.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceActivateProjectGrantRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceActivateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceActivateProjectGrantResponse> ActivateProjectGrantAsync(
        BetaProjectServiceActivateProjectGrantRequest betaProjectServiceActivateProjectGrantRequest
    )
    {
        Task<ApiResult<BetaProjectServiceActivateProjectGrantResponse>> task =
            ActivateProjectGrantWithHttpInfoAsync(betaProjectServiceActivateProjectGrantRequest);
        ApiResult<BetaProjectServiceActivateProjectGrantResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Activate Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to activated.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceActivateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceActivateProjectGrantResponse>
    > ActivateProjectGrantWithHttpInfoAsync(
        BetaProjectServiceActivateProjectGrantRequest betaProjectServiceActivateProjectGrantRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/ActivateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceActivateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceActivateProjectGrantRequest,
                ActivateProjectGrantAccepts,
                "application/json",
                typeof(BetaProjectServiceActivateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Project Role
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`</remarks>
    /// <param name="betaProjectServiceAddProjectRoleRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceAddProjectRoleResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceAddProjectRoleResponse> AddProjectRoleAsync(
        BetaProjectServiceAddProjectRoleRequest betaProjectServiceAddProjectRoleRequest
    )
    {
        Task<ApiResult<BetaProjectServiceAddProjectRoleResponse>> task =
            AddProjectRoleWithHttpInfoAsync(betaProjectServiceAddProjectRoleRequest);
        ApiResult<BetaProjectServiceAddProjectRoleResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add Project Role (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`</remarks>
    /// <param name="betaProjectServiceAddProjectRoleRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceAddProjectRoleResponse>
    > AddProjectRoleWithHttpInfoAsync(
        BetaProjectServiceAddProjectRoleRequest betaProjectServiceAddProjectRoleRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/AddProjectRole";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceAddProjectRoleResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceAddProjectRoleRequest,
                AddProjectRoleAccepts,
                "application/json",
                typeof(BetaProjectServiceAddProjectRoleResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Project
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new Project.   Required permission:    - `project.create`</remarks>
    /// <param name="betaProjectServiceCreateProjectRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceCreateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceCreateProjectResponse> CreateProjectAsync(
        BetaProjectServiceCreateProjectRequest betaProjectServiceCreateProjectRequest
    )
    {
        Task<ApiResult<BetaProjectServiceCreateProjectResponse>> task =
            CreateProjectWithHttpInfoAsync(betaProjectServiceCreateProjectRequest);
        ApiResult<BetaProjectServiceCreateProjectResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create Project (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Create a new Project.   Required permission:    - `project.create`</remarks>
    /// <param name="betaProjectServiceCreateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceCreateProjectResponse>
    > CreateProjectWithHttpInfoAsync(
        BetaProjectServiceCreateProjectRequest betaProjectServiceCreateProjectRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/CreateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceCreateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceCreateProjectRequest,
                CreateProjectAccepts,
                "application/json",
                typeof(BetaProjectServiceCreateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Project Grant
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.create`</remarks>
    /// <param name="betaProjectServiceCreateProjectGrantRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceCreateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceCreateProjectGrantResponse> CreateProjectGrantAsync(
        BetaProjectServiceCreateProjectGrantRequest betaProjectServiceCreateProjectGrantRequest
    )
    {
        Task<ApiResult<BetaProjectServiceCreateProjectGrantResponse>> task =
            CreateProjectGrantWithHttpInfoAsync(betaProjectServiceCreateProjectGrantRequest);
        ApiResult<BetaProjectServiceCreateProjectGrantResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.create`</remarks>
    /// <param name="betaProjectServiceCreateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceCreateProjectGrantResponse>
    > CreateProjectGrantWithHttpInfoAsync(
        BetaProjectServiceCreateProjectGrantRequest betaProjectServiceCreateProjectGrantRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/CreateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceCreateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceCreateProjectGrantRequest,
                CreateProjectGrantAccepts,
                "application/json",
                typeof(BetaProjectServiceCreateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Project
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`</remarks>
    /// <param name="betaProjectServiceDeactivateProjectRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceDeactivateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceDeactivateProjectResponse> DeactivateProjectAsync(
        BetaProjectServiceDeactivateProjectRequest betaProjectServiceDeactivateProjectRequest
    )
    {
        Task<ApiResult<BetaProjectServiceDeactivateProjectResponse>> task =
            DeactivateProjectWithHttpInfoAsync(betaProjectServiceDeactivateProjectRequest);
        ApiResult<BetaProjectServiceDeactivateProjectResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Deactivate Project (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`</remarks>
    /// <param name="betaProjectServiceDeactivateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceDeactivateProjectResponse>
    > DeactivateProjectWithHttpInfoAsync(
        BetaProjectServiceDeactivateProjectRequest betaProjectServiceDeactivateProjectRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/DeactivateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceDeactivateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceDeactivateProjectRequest,
                DeactivateProjectAccepts,
                "application/json",
                typeof(BetaProjectServiceDeactivateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Project Grant
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceDeactivateProjectGrantRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceDeactivateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceDeactivateProjectGrantResponse> DeactivateProjectGrantAsync(
        BetaProjectServiceDeactivateProjectGrantRequest betaProjectServiceDeactivateProjectGrantRequest
    )
    {
        Task<ApiResult<BetaProjectServiceDeactivateProjectGrantResponse>> task =
            DeactivateProjectGrantWithHttpInfoAsync(
                betaProjectServiceDeactivateProjectGrantRequest
            );
        ApiResult<BetaProjectServiceDeactivateProjectGrantResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Deactivate Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceDeactivateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceDeactivateProjectGrantResponse>
    > DeactivateProjectGrantWithHttpInfoAsync(
        BetaProjectServiceDeactivateProjectGrantRequest betaProjectServiceDeactivateProjectGrantRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/DeactivateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceDeactivateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceDeactivateProjectGrantRequest,
                DeactivateProjectGrantAccepts,
                "application/json",
                typeof(BetaProjectServiceDeactivateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Project
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`</remarks>
    /// <param name="betaProjectServiceDeleteProjectRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceDeleteProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceDeleteProjectResponse> DeleteProjectAsync(
        BetaProjectServiceDeleteProjectRequest betaProjectServiceDeleteProjectRequest
    )
    {
        Task<ApiResult<BetaProjectServiceDeleteProjectResponse>> task =
            DeleteProjectWithHttpInfoAsync(betaProjectServiceDeleteProjectRequest);
        ApiResult<BetaProjectServiceDeleteProjectResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Project (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`</remarks>
    /// <param name="betaProjectServiceDeleteProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceDeleteProjectResponse>
    > DeleteProjectWithHttpInfoAsync(
        BetaProjectServiceDeleteProjectRequest betaProjectServiceDeleteProjectRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/DeleteProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceDeleteProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceDeleteProjectRequest,
                DeleteProjectAccepts,
                "application/json",
                typeof(BetaProjectServiceDeleteProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Project Grant
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`</remarks>
    /// <param name="betaProjectServiceDeleteProjectGrantRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceDeleteProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceDeleteProjectGrantResponse> DeleteProjectGrantAsync(
        BetaProjectServiceDeleteProjectGrantRequest betaProjectServiceDeleteProjectGrantRequest
    )
    {
        Task<ApiResult<BetaProjectServiceDeleteProjectGrantResponse>> task =
            DeleteProjectGrantWithHttpInfoAsync(betaProjectServiceDeleteProjectGrantRequest);
        ApiResult<BetaProjectServiceDeleteProjectGrantResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`</remarks>
    /// <param name="betaProjectServiceDeleteProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceDeleteProjectGrantResponse>
    > DeleteProjectGrantWithHttpInfoAsync(
        BetaProjectServiceDeleteProjectGrantRequest betaProjectServiceDeleteProjectGrantRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/DeleteProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceDeleteProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceDeleteProjectGrantRequest,
                DeleteProjectGrantAccepts,
                "application/json",
                typeof(BetaProjectServiceDeleteProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Project
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the project identified by the requested ID.   Required permission:    - `project.read`</remarks>
    /// <param name="betaProjectServiceGetProjectRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceGetProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceGetProjectResponse> GetProjectAsync(
        BetaProjectServiceGetProjectRequest betaProjectServiceGetProjectRequest
    )
    {
        Task<ApiResult<BetaProjectServiceGetProjectResponse>> task = GetProjectWithHttpInfoAsync(
            betaProjectServiceGetProjectRequest
        );
        ApiResult<BetaProjectServiceGetProjectResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get Project (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns the project identified by the requested ID.   Required permission:    - `project.read`</remarks>
    /// <param name="betaProjectServiceGetProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaProjectServiceGetProjectResponse>> GetProjectWithHttpInfoAsync(
        BetaProjectServiceGetProjectRequest betaProjectServiceGetProjectRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/GetProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceGetProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceGetProjectRequest,
                GetProjectAccepts,
                "application/json",
                typeof(BetaProjectServiceGetProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Project Grants
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of project grants. A project grant is when the organization grants its project to another organization.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceListProjectGrantsRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceListProjectGrantsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceListProjectGrantsResponse> ListProjectGrantsAsync(
        BetaProjectServiceListProjectGrantsRequest betaProjectServiceListProjectGrantsRequest
    )
    {
        Task<ApiResult<BetaProjectServiceListProjectGrantsResponse>> task =
            ListProjectGrantsWithHttpInfoAsync(betaProjectServiceListProjectGrantsRequest);
        ApiResult<BetaProjectServiceListProjectGrantsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Project Grants (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns a list of project grants. A project grant is when the organization grants its project to another organization.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceListProjectGrantsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceListProjectGrantsResponse>
    > ListProjectGrantsWithHttpInfoAsync(
        BetaProjectServiceListProjectGrantsRequest betaProjectServiceListProjectGrantsRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/ListProjectGrants";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceListProjectGrantsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceListProjectGrantsRequest,
                ListProjectGrantsAccepts,
                "application/json",
                typeof(BetaProjectServiceListProjectGrantsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Project Roles
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`</remarks>
    /// <param name="betaProjectServiceListProjectRolesRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceListProjectRolesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceListProjectRolesResponse> ListProjectRolesAsync(
        BetaProjectServiceListProjectRolesRequest betaProjectServiceListProjectRolesRequest
    )
    {
        Task<ApiResult<BetaProjectServiceListProjectRolesResponse>> task =
            ListProjectRolesWithHttpInfoAsync(betaProjectServiceListProjectRolesRequest);
        ApiResult<BetaProjectServiceListProjectRolesResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Project Roles (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`</remarks>
    /// <param name="betaProjectServiceListProjectRolesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceListProjectRolesResponse>
    > ListProjectRolesWithHttpInfoAsync(
        BetaProjectServiceListProjectRolesRequest betaProjectServiceListProjectRolesRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/ListProjectRoles";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceListProjectRolesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceListProjectRolesRequest,
                ListProjectRolesAccepts,
                "application/json",
                typeof(BetaProjectServiceListProjectRolesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Projects
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching projects. By default all projects of the instance that the caller has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`</remarks>
    /// <param name="betaProjectServiceListProjectsRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceListProjectsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceListProjectsResponse> ListProjectsAsync(
        BetaProjectServiceListProjectsRequest betaProjectServiceListProjectsRequest
    )
    {
        Task<ApiResult<BetaProjectServiceListProjectsResponse>> task =
            ListProjectsWithHttpInfoAsync(betaProjectServiceListProjectsRequest);
        ApiResult<BetaProjectServiceListProjectsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Projects (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   List all matching projects. By default all projects of the instance that the caller has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`</remarks>
    /// <param name="betaProjectServiceListProjectsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceListProjectsResponse>
    > ListProjectsWithHttpInfoAsync(
        BetaProjectServiceListProjectsRequest betaProjectServiceListProjectsRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/ListProjects";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceListProjectsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceListProjectsRequest,
                ListProjectsAccepts,
                "application/json",
                typeof(BetaProjectServiceListProjectsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove Project Role
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes the role from the project and on every resource it has a dependency. This includes project grants and user grants.   Required permission:    - `project.role.write`</remarks>
    /// <param name="betaProjectServiceRemoveProjectRoleRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceRemoveProjectRoleResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceRemoveProjectRoleResponse> RemoveProjectRoleAsync(
        BetaProjectServiceRemoveProjectRoleRequest betaProjectServiceRemoveProjectRoleRequest
    )
    {
        Task<ApiResult<BetaProjectServiceRemoveProjectRoleResponse>> task =
            RemoveProjectRoleWithHttpInfoAsync(betaProjectServiceRemoveProjectRoleRequest);
        ApiResult<BetaProjectServiceRemoveProjectRoleResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Remove Project Role (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Removes the role from the project and on every resource it has a dependency. This includes project grants and user grants.   Required permission:    - `project.role.write`</remarks>
    /// <param name="betaProjectServiceRemoveProjectRoleRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceRemoveProjectRoleResponse>
    > RemoveProjectRoleWithHttpInfoAsync(
        BetaProjectServiceRemoveProjectRoleRequest betaProjectServiceRemoveProjectRoleRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/RemoveProjectRole";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceRemoveProjectRoleResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceRemoveProjectRoleRequest,
                RemoveProjectRoleAccepts,
                "application/json",
                typeof(BetaProjectServiceRemoveProjectRoleResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Project
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing project.   Required permission:    - `project.write`</remarks>
    /// <param name="betaProjectServiceUpdateProjectRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceUpdateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceUpdateProjectResponse> UpdateProjectAsync(
        BetaProjectServiceUpdateProjectRequest betaProjectServiceUpdateProjectRequest
    )
    {
        Task<ApiResult<BetaProjectServiceUpdateProjectResponse>> task =
            UpdateProjectWithHttpInfoAsync(betaProjectServiceUpdateProjectRequest);
        ApiResult<BetaProjectServiceUpdateProjectResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update Project (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Update an existing project.   Required permission:    - `project.write`</remarks>
    /// <param name="betaProjectServiceUpdateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceUpdateProjectResponse>
    > UpdateProjectWithHttpInfoAsync(
        BetaProjectServiceUpdateProjectRequest betaProjectServiceUpdateProjectRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/UpdateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceUpdateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceUpdateProjectRequest,
                UpdateProjectAccepts,
                "application/json",
                typeof(BetaProjectServiceUpdateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Project Grant
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceUpdateProjectGrantRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceUpdateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceUpdateProjectGrantResponse> UpdateProjectGrantAsync(
        BetaProjectServiceUpdateProjectGrantRequest betaProjectServiceUpdateProjectGrantRequest
    )
    {
        Task<ApiResult<BetaProjectServiceUpdateProjectGrantResponse>> task =
            UpdateProjectGrantWithHttpInfoAsync(betaProjectServiceUpdateProjectGrantRequest);
        ApiResult<BetaProjectServiceUpdateProjectGrantResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage the authorizations for its users.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="betaProjectServiceUpdateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceUpdateProjectGrantResponse>
    > UpdateProjectGrantWithHttpInfoAsync(
        BetaProjectServiceUpdateProjectGrantRequest betaProjectServiceUpdateProjectGrantRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/UpdateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceUpdateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceUpdateProjectGrantRequest,
                UpdateProjectGrantAccepts,
                "application/json",
                typeof(BetaProjectServiceUpdateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Project Role
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`</remarks>
    /// <param name="betaProjectServiceUpdateProjectRoleRequest"></param>
    /// <returns><![CDATA[BetaProjectServiceUpdateProjectRoleResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaProjectServiceUpdateProjectRoleResponse> UpdateProjectRoleAsync(
        BetaProjectServiceUpdateProjectRoleRequest betaProjectServiceUpdateProjectRoleRequest
    )
    {
        Task<ApiResult<BetaProjectServiceUpdateProjectRoleResponse>> task =
            UpdateProjectRoleWithHttpInfoAsync(betaProjectServiceUpdateProjectRoleRequest);
        ApiResult<BetaProjectServiceUpdateProjectRoleResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update Project Role (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under project service v2. This endpoint will be removed with the next major version of ZITADEL.   Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`</remarks>
    /// <param name="betaProjectServiceUpdateProjectRoleRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<BetaProjectServiceUpdateProjectRoleResponse>
    > UpdateProjectRoleWithHttpInfoAsync(
        BetaProjectServiceUpdateProjectRoleRequest betaProjectServiceUpdateProjectRoleRequest
    )
    {
        string path = "/zitadel.project.v2beta.ProjectService/UpdateProjectRole";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaProjectServiceUpdateProjectRoleResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaProjectServiceUpdateProjectRoleRequest,
                UpdateProjectRoleAccepts,
                "application/json",
                typeof(BetaProjectServiceUpdateProjectRoleResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
