// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// BetaOIDCServiceApi provides methods for the BetaOIDCService API group.
/// </summary>
public class BetaOIDCServiceApi : BaseApi
{

    private static readonly string[] CreateCallbackAccepts = ["application/json"];

    private static readonly string[] GetAuthRequestAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="BetaOIDCServiceApi"/> with defaults.</summary>
    public BetaOIDCServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="BetaOIDCServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public BetaOIDCServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="BetaOIDCServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public BetaOIDCServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create Callback
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.</remarks>
    /// <param name="betaOIDCServiceCreateCallbackRequest"></param>
    /// <returns><![CDATA[BetaOIDCServiceCreateCallbackResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOIDCServiceCreateCallbackResponse> CreateCallbackAsync(BetaOIDCServiceCreateCallbackRequest betaOIDCServiceCreateCallbackRequest)
    {
        Task<ApiResult<BetaOIDCServiceCreateCallbackResponse>> task = CreateCallbackWithHttpInfoAsync(betaOIDCServiceCreateCallbackRequest);
        ApiResult<BetaOIDCServiceCreateCallbackResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Callback (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.</remarks>
    /// <param name="betaOIDCServiceCreateCallbackRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaOIDCServiceCreateCallbackResponse>> CreateCallbackWithHttpInfoAsync(BetaOIDCServiceCreateCallbackRequest betaOIDCServiceCreateCallbackRequest)
    {
        string path = "/zitadel.oidc.v2beta.OIDCService/CreateCallback";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOIDCServiceCreateCallbackResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOIDCServiceCreateCallbackRequest,
                CreateCallbackAccepts,
                "application/json",
                typeof(BetaOIDCServiceCreateCallbackResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get AuthRequest
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns details that are parsed from the application's Auth Request.</remarks>
    /// <param name="betaOIDCServiceGetAuthRequestRequest"></param>
    /// <returns><![CDATA[BetaOIDCServiceGetAuthRequestResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<BetaOIDCServiceGetAuthRequestResponse> GetAuthRequestAsync(BetaOIDCServiceGetAuthRequestRequest betaOIDCServiceGetAuthRequestRequest)
    {
        Task<ApiResult<BetaOIDCServiceGetAuthRequestResponse>> task = GetAuthRequestWithHttpInfoAsync(betaOIDCServiceGetAuthRequestRequest);
        ApiResult<BetaOIDCServiceGetAuthRequestResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get AuthRequest (with HTTP info)
    /// </summary>
    /// <remarks>Deprecated: please move to the corresponding endpoint under oidc service v2. This endpoint will be removed with the next major version of ZITADEL.   Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns details that are parsed from the application's Auth Request.</remarks>
    /// <param name="betaOIDCServiceGetAuthRequestRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<BetaOIDCServiceGetAuthRequestResponse>> GetAuthRequestWithHttpInfoAsync(BetaOIDCServiceGetAuthRequestRequest betaOIDCServiceGetAuthRequestRequest)
    {
        string path = "/zitadel.oidc.v2beta.OIDCService/GetAuthRequest";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<BetaOIDCServiceGetAuthRequestResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                betaOIDCServiceGetAuthRequestRequest,
                GetAuthRequestAccepts,
                "application/json",
                typeof(BetaOIDCServiceGetAuthRequestResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
