// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// FeatureServiceApi provides methods for the FeatureService API group.
/// </summary>
public class FeatureServiceApi : BaseApi
{

    private static readonly string[] GetInstanceFeaturesAccepts = ["application/json"];

    private static readonly string[] GetOrganizationFeaturesAccepts = ["application/json"];

    private static readonly string[] GetSystemFeaturesAccepts = ["application/json"];

    private static readonly string[] GetUserFeaturesAccepts = ["application/json"];

    private static readonly string[] ResetInstanceFeaturesAccepts = ["application/json"];

    private static readonly string[] ResetOrganizationFeaturesAccepts = ["application/json"];

    private static readonly string[] ResetSystemFeaturesAccepts = ["application/json"];

    private static readonly string[] ResetUserFeaturesAccepts = ["application/json"];

    private static readonly string[] SetInstanceFeaturesAccepts = ["application/json"];

    private static readonly string[] SetOrganizationFeaturesAccepts = ["application/json"];

    private static readonly string[] SetSystemFeaturesAccepts = ["application/json"];

    private static readonly string[] SetUserFeaturesAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="FeatureServiceApi"/> with defaults.</summary>
    public FeatureServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="FeatureServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public FeatureServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="FeatureServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public FeatureServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Get Instance Features
    /// </summary>
    /// <remarks>Returns all configured features for an instance. Unset fields mean the feature is the current system default.   Required permissions:   - none</remarks>
    /// <param name="featureServiceGetInstanceFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceGetInstanceFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceGetInstanceFeaturesResponse> GetInstanceFeaturesAsync(FeatureServiceGetInstanceFeaturesRequest featureServiceGetInstanceFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceGetInstanceFeaturesResponse>> task = GetInstanceFeaturesWithHttpInfoAsync(featureServiceGetInstanceFeaturesRequest);
        ApiResult<FeatureServiceGetInstanceFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Instance Features (with HTTP info)
    /// </summary>
    /// <remarks>Returns all configured features for an instance. Unset fields mean the feature is the current system default.   Required permissions:   - none</remarks>
    /// <param name="featureServiceGetInstanceFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceGetInstanceFeaturesResponse>> GetInstanceFeaturesWithHttpInfoAsync(FeatureServiceGetInstanceFeaturesRequest featureServiceGetInstanceFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/GetInstanceFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceGetInstanceFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceGetInstanceFeaturesRequest,
                GetInstanceFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceGetInstanceFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Organization Features
    /// </summary>
    /// <remarks>Returns all configured features for an organization. Unset fields mean the feature is the current instance default.   Required permissions:   - org.feature.read   - no permission required for the organization the user belongs to</remarks>
    /// <param name="featureServiceGetOrganizationFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceGetOrganizationFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceGetOrganizationFeaturesResponse> GetOrganizationFeaturesAsync(FeatureServiceGetOrganizationFeaturesRequest featureServiceGetOrganizationFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceGetOrganizationFeaturesResponse>> task = GetOrganizationFeaturesWithHttpInfoAsync(featureServiceGetOrganizationFeaturesRequest);
        ApiResult<FeatureServiceGetOrganizationFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Organization Features (with HTTP info)
    /// </summary>
    /// <remarks>Returns all configured features for an organization. Unset fields mean the feature is the current instance default.   Required permissions:   - org.feature.read   - no permission required for the organization the user belongs to</remarks>
    /// <param name="featureServiceGetOrganizationFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceGetOrganizationFeaturesResponse>> GetOrganizationFeaturesWithHttpInfoAsync(FeatureServiceGetOrganizationFeaturesRequest featureServiceGetOrganizationFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/GetOrganizationFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceGetOrganizationFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceGetOrganizationFeaturesRequest,
                GetOrganizationFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceGetOrganizationFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get System Features
    /// </summary>
    /// <remarks>Returns all configured features for the system. Unset fields mean the feature is the current system default.   Required permissions:   - none</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[FeatureServiceGetSystemFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceGetSystemFeaturesResponse> GetSystemFeaturesAsync(Object body)
    {
        Task<ApiResult<FeatureServiceGetSystemFeaturesResponse>> task = GetSystemFeaturesWithHttpInfoAsync(body);
        ApiResult<FeatureServiceGetSystemFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get System Features (with HTTP info)
    /// </summary>
    /// <remarks>Returns all configured features for the system. Unset fields mean the feature is the current system default.   Required permissions:   - none</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceGetSystemFeaturesResponse>> GetSystemFeaturesWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.feature.v2.FeatureService/GetSystemFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceGetSystemFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                GetSystemFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceGetSystemFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get User Features
    /// </summary>
    /// <remarks>Returns all configured features for a user. Unset fields mean the feature is the current organization default.   Required permissions:   - user.feature.read   - no permission required for the own user</remarks>
    /// <param name="featureServiceGetUserFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceGetUserFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceGetUserFeaturesResponse> GetUserFeaturesAsync(FeatureServiceGetUserFeaturesRequest featureServiceGetUserFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceGetUserFeaturesResponse>> task = GetUserFeaturesWithHttpInfoAsync(featureServiceGetUserFeaturesRequest);
        ApiResult<FeatureServiceGetUserFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get User Features (with HTTP info)
    /// </summary>
    /// <remarks>Returns all configured features for a user. Unset fields mean the feature is the current organization default.   Required permissions:   - user.feature.read   - no permission required for the own user</remarks>
    /// <param name="featureServiceGetUserFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceGetUserFeaturesResponse>> GetUserFeaturesWithHttpInfoAsync(FeatureServiceGetUserFeaturesRequest featureServiceGetUserFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/GetUserFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceGetUserFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceGetUserFeaturesRequest,
                GetUserFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceGetUserFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Reset Instance Features
    /// </summary>
    /// <remarks>Deletes ALL configured features for an instance, reverting the behaviors to system defaults.   Required permissions:   - iam.feature.delete</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[FeatureServiceResetInstanceFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceResetInstanceFeaturesResponse> ResetInstanceFeaturesAsync(Object body)
    {
        Task<ApiResult<FeatureServiceResetInstanceFeaturesResponse>> task = ResetInstanceFeaturesWithHttpInfoAsync(body);
        ApiResult<FeatureServiceResetInstanceFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Reset Instance Features (with HTTP info)
    /// </summary>
    /// <remarks>Deletes ALL configured features for an instance, reverting the behaviors to system defaults.   Required permissions:   - iam.feature.delete</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceResetInstanceFeaturesResponse>> ResetInstanceFeaturesWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.feature.v2.FeatureService/ResetInstanceFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceResetInstanceFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ResetInstanceFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceResetInstanceFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Reset Organization Features
    /// </summary>
    /// <remarks>Deletes ALL configured features for an organization, reverting the behaviors to instance defaults.   Required permissions:   - org.feature.delete</remarks>
    /// <param name="featureServiceResetOrganizationFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceResetOrganizationFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceResetOrganizationFeaturesResponse> ResetOrganizationFeaturesAsync(FeatureServiceResetOrganizationFeaturesRequest featureServiceResetOrganizationFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceResetOrganizationFeaturesResponse>> task = ResetOrganizationFeaturesWithHttpInfoAsync(featureServiceResetOrganizationFeaturesRequest);
        ApiResult<FeatureServiceResetOrganizationFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Reset Organization Features (with HTTP info)
    /// </summary>
    /// <remarks>Deletes ALL configured features for an organization, reverting the behaviors to instance defaults.   Required permissions:   - org.feature.delete</remarks>
    /// <param name="featureServiceResetOrganizationFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceResetOrganizationFeaturesResponse>> ResetOrganizationFeaturesWithHttpInfoAsync(FeatureServiceResetOrganizationFeaturesRequest featureServiceResetOrganizationFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/ResetOrganizationFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceResetOrganizationFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceResetOrganizationFeaturesRequest,
                ResetOrganizationFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceResetOrganizationFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Reset System Features
    /// </summary>
    /// <remarks>Deletes ALL configured features for the system, reverting the behaviors to system defaults.   Required permissions:   - system.feature.delete</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[FeatureServiceResetSystemFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceResetSystemFeaturesResponse> ResetSystemFeaturesAsync(Object body)
    {
        Task<ApiResult<FeatureServiceResetSystemFeaturesResponse>> task = ResetSystemFeaturesWithHttpInfoAsync(body);
        ApiResult<FeatureServiceResetSystemFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Reset System Features (with HTTP info)
    /// </summary>
    /// <remarks>Deletes ALL configured features for the system, reverting the behaviors to system defaults.   Required permissions:   - system.feature.delete</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceResetSystemFeaturesResponse>> ResetSystemFeaturesWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.feature.v2.FeatureService/ResetSystemFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceResetSystemFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ResetSystemFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceResetSystemFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Reset User Features
    /// </summary>
    /// <remarks>Deletes ALL configured features for a user, reverting the behaviors to organization defaults.   Required permissions:   - user.feature.delete</remarks>
    /// <param name="featureServiceResetUserFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceResetUserFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceResetUserFeaturesResponse> ResetUserFeaturesAsync(FeatureServiceResetUserFeaturesRequest featureServiceResetUserFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceResetUserFeaturesResponse>> task = ResetUserFeaturesWithHttpInfoAsync(featureServiceResetUserFeaturesRequest);
        ApiResult<FeatureServiceResetUserFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Reset User Features (with HTTP info)
    /// </summary>
    /// <remarks>Deletes ALL configured features for a user, reverting the behaviors to organization defaults.   Required permissions:   - user.feature.delete</remarks>
    /// <param name="featureServiceResetUserFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceResetUserFeaturesResponse>> ResetUserFeaturesWithHttpInfoAsync(FeatureServiceResetUserFeaturesRequest featureServiceResetUserFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/ResetUserFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceResetUserFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceResetUserFeaturesRequest,
                ResetUserFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceResetUserFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Instance Features
    /// </summary>
    /// <remarks>Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - iam.feature.write</remarks>
    /// <param name="featureServiceSetInstanceFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceSetInstanceFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceSetInstanceFeaturesResponse> SetInstanceFeaturesAsync(FeatureServiceSetInstanceFeaturesRequest featureServiceSetInstanceFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceSetInstanceFeaturesResponse>> task = SetInstanceFeaturesWithHttpInfoAsync(featureServiceSetInstanceFeaturesRequest);
        ApiResult<FeatureServiceSetInstanceFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set Instance Features (with HTTP info)
    /// </summary>
    /// <remarks>Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - iam.feature.write</remarks>
    /// <param name="featureServiceSetInstanceFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceSetInstanceFeaturesResponse>> SetInstanceFeaturesWithHttpInfoAsync(FeatureServiceSetInstanceFeaturesRequest featureServiceSetInstanceFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/SetInstanceFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceSetInstanceFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceSetInstanceFeaturesRequest,
                SetInstanceFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceSetInstanceFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Organization Features
    /// </summary>
    /// <remarks>Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - org.feature.write</remarks>
    /// <param name="featureServiceSetOrganizationFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceSetOrganizationFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceSetOrganizationFeaturesResponse> SetOrganizationFeaturesAsync(FeatureServiceSetOrganizationFeaturesRequest featureServiceSetOrganizationFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceSetOrganizationFeaturesResponse>> task = SetOrganizationFeaturesWithHttpInfoAsync(featureServiceSetOrganizationFeaturesRequest);
        ApiResult<FeatureServiceSetOrganizationFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set Organization Features (with HTTP info)
    /// </summary>
    /// <remarks>Configure and set features that apply to a complete instance. Only fields present in the request are set or unset.   Required permissions:   - org.feature.write</remarks>
    /// <param name="featureServiceSetOrganizationFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceSetOrganizationFeaturesResponse>> SetOrganizationFeaturesWithHttpInfoAsync(FeatureServiceSetOrganizationFeaturesRequest featureServiceSetOrganizationFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/SetOrganizationFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceSetOrganizationFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceSetOrganizationFeaturesRequest,
                SetOrganizationFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceSetOrganizationFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set System Features
    /// </summary>
    /// <remarks>Configure and set features that apply to the complete system. Only fields present in the request are set or unset.   Required permissions:   - system.feature.write</remarks>
    /// <param name="featureServiceSetSystemFeaturesRequest"></param>
    /// <returns><![CDATA[FeatureServiceSetSystemFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceSetSystemFeaturesResponse> SetSystemFeaturesAsync(FeatureServiceSetSystemFeaturesRequest featureServiceSetSystemFeaturesRequest)
    {
        Task<ApiResult<FeatureServiceSetSystemFeaturesResponse>> task = SetSystemFeaturesWithHttpInfoAsync(featureServiceSetSystemFeaturesRequest);
        ApiResult<FeatureServiceSetSystemFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set System Features (with HTTP info)
    /// </summary>
    /// <remarks>Configure and set features that apply to the complete system. Only fields present in the request are set or unset.   Required permissions:   - system.feature.write</remarks>
    /// <param name="featureServiceSetSystemFeaturesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceSetSystemFeaturesResponse>> SetSystemFeaturesWithHttpInfoAsync(FeatureServiceSetSystemFeaturesRequest featureServiceSetSystemFeaturesRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/SetSystemFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceSetSystemFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceSetSystemFeaturesRequest,
                SetSystemFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceSetSystemFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set User Features
    /// </summary>
    /// <remarks>Configure and set features that apply to an user. Only fields present in the request are set or unset.   Required permissions:   - user.feature.write</remarks>
    /// <param name="featureServiceSetUserFeatureRequest"></param>
    /// <returns><![CDATA[FeatureServiceSetUserFeaturesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<FeatureServiceSetUserFeaturesResponse> SetUserFeaturesAsync(FeatureServiceSetUserFeatureRequest featureServiceSetUserFeatureRequest)
    {
        Task<ApiResult<FeatureServiceSetUserFeaturesResponse>> task = SetUserFeaturesWithHttpInfoAsync(featureServiceSetUserFeatureRequest);
        ApiResult<FeatureServiceSetUserFeaturesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set User Features (with HTTP info)
    /// </summary>
    /// <remarks>Configure and set features that apply to an user. Only fields present in the request are set or unset.   Required permissions:   - user.feature.write</remarks>
    /// <param name="featureServiceSetUserFeatureRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<FeatureServiceSetUserFeaturesResponse>> SetUserFeaturesWithHttpInfoAsync(FeatureServiceSetUserFeatureRequest featureServiceSetUserFeatureRequest)
    {
        string path = "/zitadel.feature.v2.FeatureService/SetUserFeatures";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<FeatureServiceSetUserFeaturesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                featureServiceSetUserFeatureRequest,
                SetUserFeaturesAccepts,
                "application/json",
                typeof(FeatureServiceSetUserFeaturesResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
