// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// IdentityProviderServiceApi provides methods for the IdentityProviderService API group.
/// </summary>
public class IdentityProviderServiceApi : BaseApi
{
    private static readonly string[] GetIDPByIDAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="IdentityProviderServiceApi"/> with defaults.</summary>
    public IdentityProviderServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="IdentityProviderServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public IdentityProviderServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="IdentityProviderServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public IdentityProviderServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Get identity provider (IdP) by ID
    /// </summary>
    /// <remarks>Returns an identity provider (social/enterprise login) by its ID, which can be of the type Google, AzureAD, etc.</remarks>
    /// <param name="identityProviderServiceGetIDPByIDRequest"></param>
    /// <returns><![CDATA[IdentityProviderServiceGetIDPByIDResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<IdentityProviderServiceGetIDPByIDResponse> GetIDPByIDAsync(
        IdentityProviderServiceGetIDPByIDRequest identityProviderServiceGetIDPByIDRequest
    )
    {
        Task<ApiResult<IdentityProviderServiceGetIDPByIDResponse>> task =
            GetIDPByIDWithHttpInfoAsync(identityProviderServiceGetIDPByIDRequest);
        ApiResult<IdentityProviderServiceGetIDPByIDResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get identity provider (IdP) by ID (with HTTP info)
    /// </summary>
    /// <remarks>Returns an identity provider (social/enterprise login) by its ID, which can be of the type Google, AzureAD, etc.</remarks>
    /// <param name="identityProviderServiceGetIDPByIDRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<IdentityProviderServiceGetIDPByIDResponse>
    > GetIDPByIDWithHttpInfoAsync(
        IdentityProviderServiceGetIDPByIDRequest identityProviderServiceGetIDPByIDRequest
    )
    {
        string path = "/zitadel.idp.v2.IdentityProviderService/GetIDPByID";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<IdentityProviderServiceGetIDPByIDResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                identityProviderServiceGetIDPByIDRequest,
                GetIDPByIDAccepts,
                "application/json",
                typeof(IdentityProviderServiceGetIDPByIDResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
