// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// InstanceServiceApi provides methods for the InstanceService API group.
/// </summary>
public class InstanceServiceApi : BaseApi
{

    private static readonly string[] AddCustomDomainAccepts = ["application/json"];

    private static readonly string[] AddTrustedDomainAccepts = ["application/json"];

    private static readonly string[] DeleteInstanceAccepts = ["application/json"];

    private static readonly string[] GetInstanceAccepts = ["application/json"];

    private static readonly string[] ListCustomDomainsAccepts = ["application/json"];

    private static readonly string[] ListInstancesAccepts = ["application/json"];

    private static readonly string[] ListTrustedDomainsAccepts = ["application/json"];

    private static readonly string[] RemoveCustomDomainAccepts = ["application/json"];

    private static readonly string[] RemoveTrustedDomainAccepts = ["application/json"];

    private static readonly string[] UpdateInstanceAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="InstanceServiceApi"/> with defaults.</summary>
    public InstanceServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="InstanceServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public InstanceServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="InstanceServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public InstanceServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Add Custom Domain
    /// </summary>
    /// <remarks>Adds a custom domain to the instance.  The custom domain must be unique across all instances.  Once the domain is added, it will be used to route requests to this instance.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.domain.write`</remarks>
    /// <param name="instanceServiceAddCustomDomainRequest"></param>
    /// <returns><![CDATA[InstanceServiceAddCustomDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceAddCustomDomainResponse> AddCustomDomainAsync(InstanceServiceAddCustomDomainRequest instanceServiceAddCustomDomainRequest)
    {
        Task<ApiResult<InstanceServiceAddCustomDomainResponse>> task = AddCustomDomainWithHttpInfoAsync(instanceServiceAddCustomDomainRequest);
        ApiResult<InstanceServiceAddCustomDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Add Custom Domain (with HTTP info)
    /// </summary>
    /// <remarks>Adds a custom domain to the instance.  The custom domain must be unique across all instances.  Once the domain is added, it will be used to route requests to this instance.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.domain.write`</remarks>
    /// <param name="instanceServiceAddCustomDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceAddCustomDomainResponse>> AddCustomDomainWithHttpInfoAsync(InstanceServiceAddCustomDomainRequest instanceServiceAddCustomDomainRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/AddCustomDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceAddCustomDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceAddCustomDomainRequest,
                AddCustomDomainAccepts,
                "application/json",
                typeof(InstanceServiceAddCustomDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Trusted Domain
    /// </summary>
    /// <remarks>Adds a trusted domain to the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   It must be a valid domain name.  Once the domain is added, it can be used in API responses like OIDC discovery,  email templates, and more.  This can be used in cases where the API is accessed through a different domain  than the instance domain, e.g. proxy setups and custom login UIs.  Unlike custom domain, trusted domains are not used to route requests to this instance  and therefore do not need to be uniquely assigned to an instance.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceAddTrustedDomainRequest"></param>
    /// <returns><![CDATA[InstanceServiceAddTrustedDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceAddTrustedDomainResponse> AddTrustedDomainAsync(InstanceServiceAddTrustedDomainRequest instanceServiceAddTrustedDomainRequest)
    {
        Task<ApiResult<InstanceServiceAddTrustedDomainResponse>> task = AddTrustedDomainWithHttpInfoAsync(instanceServiceAddTrustedDomainRequest);
        ApiResult<InstanceServiceAddTrustedDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Add Trusted Domain (with HTTP info)
    /// </summary>
    /// <remarks>Adds a trusted domain to the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   It must be a valid domain name.  Once the domain is added, it can be used in API responses like OIDC discovery,  email templates, and more.  This can be used in cases where the API is accessed through a different domain  than the instance domain, e.g. proxy setups and custom login UIs.  Unlike custom domain, trusted domains are not used to route requests to this instance  and therefore do not need to be uniquely assigned to an instance.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceAddTrustedDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceAddTrustedDomainResponse>> AddTrustedDomainWithHttpInfoAsync(InstanceServiceAddTrustedDomainRequest instanceServiceAddTrustedDomainRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/AddTrustedDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceAddTrustedDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceAddTrustedDomainRequest,
                AddTrustedDomainAccepts,
                "application/json",
                typeof(InstanceServiceAddTrustedDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Instance
    /// </summary>
    /// <remarks>Deletes an instance with the given ID.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.instance.delete`</remarks>
    /// <param name="instanceServiceDeleteInstanceRequest"></param>
    /// <returns><![CDATA[InstanceServiceDeleteInstanceResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceDeleteInstanceResponse> DeleteInstanceAsync(InstanceServiceDeleteInstanceRequest instanceServiceDeleteInstanceRequest)
    {
        Task<ApiResult<InstanceServiceDeleteInstanceResponse>> task = DeleteInstanceWithHttpInfoAsync(instanceServiceDeleteInstanceRequest);
        ApiResult<InstanceServiceDeleteInstanceResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Instance (with HTTP info)
    /// </summary>
    /// <remarks>Deletes an instance with the given ID.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:    - `system.instance.delete`</remarks>
    /// <param name="instanceServiceDeleteInstanceRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceDeleteInstanceResponse>> DeleteInstanceWithHttpInfoAsync(InstanceServiceDeleteInstanceRequest instanceServiceDeleteInstanceRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/DeleteInstance";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceDeleteInstanceResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceDeleteInstanceRequest,
                DeleteInstanceAccepts,
                "application/json",
                typeof(InstanceServiceDeleteInstanceResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Instance
    /// </summary>
    /// <remarks>Returns the instance in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to retrieve a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceGetInstanceRequest"></param>
    /// <returns><![CDATA[InstanceServiceGetInstanceResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceGetInstanceResponse> GetInstanceAsync(InstanceServiceGetInstanceRequest instanceServiceGetInstanceRequest)
    {
        Task<ApiResult<InstanceServiceGetInstanceResponse>> task = GetInstanceWithHttpInfoAsync(instanceServiceGetInstanceRequest);
        ApiResult<InstanceServiceGetInstanceResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Instance (with HTTP info)
    /// </summary>
    /// <remarks>Returns the instance in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to retrieve a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceGetInstanceRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceGetInstanceResponse>> GetInstanceWithHttpInfoAsync(InstanceServiceGetInstanceRequest instanceServiceGetInstanceRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/GetInstance";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceGetInstanceResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceGetInstanceRequest,
                GetInstanceAccepts,
                "application/json",
                typeof(InstanceServiceGetInstanceResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Custom Domains
    /// </summary>
    /// <remarks>Lists custom domains of the instance.   By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.read`   - `system.instance.read` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceListCustomDomainsRequest"></param>
    /// <returns><![CDATA[InstanceServiceListCustomDomainsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceListCustomDomainsResponse> ListCustomDomainsAsync(InstanceServiceListCustomDomainsRequest instanceServiceListCustomDomainsRequest)
    {
        Task<ApiResult<InstanceServiceListCustomDomainsResponse>> task = ListCustomDomainsWithHttpInfoAsync(instanceServiceListCustomDomainsRequest);
        ApiResult<InstanceServiceListCustomDomainsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Custom Domains (with HTTP info)
    /// </summary>
    /// <remarks>Lists custom domains of the instance.   By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.read`   - `system.instance.read` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceListCustomDomainsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceListCustomDomainsResponse>> ListCustomDomainsWithHttpInfoAsync(InstanceServiceListCustomDomainsRequest instanceServiceListCustomDomainsRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/ListCustomDomains";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceListCustomDomainsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceListCustomDomainsRequest,
                ListCustomDomainsAccepts,
                "application/json",
                typeof(InstanceServiceListCustomDomainsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Instances
    /// </summary>
    /// <remarks>Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.instance.read`</remarks>
    /// <param name="instanceServiceListInstancesRequest"></param>
    /// <returns><![CDATA[InstanceServiceListInstancesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceListInstancesResponse> ListInstancesAsync(InstanceServiceListInstancesRequest instanceServiceListInstancesRequest)
    {
        Task<ApiResult<InstanceServiceListInstancesResponse>> task = ListInstancesWithHttpInfoAsync(instanceServiceListInstancesRequest);
        ApiResult<InstanceServiceListInstancesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Instances (with HTTP info)
    /// </summary>
    /// <remarks>Lists instances matching the given query.  The query can be used to filter either by instance ID or domain.  The request is paginated and returns 100 results by default.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.instance.read`</remarks>
    /// <param name="instanceServiceListInstancesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceListInstancesResponse>> ListInstancesWithHttpInfoAsync(InstanceServiceListInstancesRequest instanceServiceListInstancesRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/ListInstances";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceListInstancesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceListInstancesRequest,
                ListInstancesAccepts,
                "application/json",
                typeof(InstanceServiceListInstancesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Trusted Domains
    /// </summary>
    /// <remarks>Lists trusted domains of the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceListTrustedDomainsRequest"></param>
    /// <returns><![CDATA[InstanceServiceListTrustedDomainsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceListTrustedDomainsResponse> ListTrustedDomainsAsync(InstanceServiceListTrustedDomainsRequest instanceServiceListTrustedDomainsRequest)
    {
        Task<ApiResult<InstanceServiceListTrustedDomainsResponse>> task = ListTrustedDomainsWithHttpInfoAsync(instanceServiceListTrustedDomainsRequest);
        ApiResult<InstanceServiceListTrustedDomainsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Trusted Domains (with HTTP info)
    /// </summary>
    /// <remarks>Lists trusted domains of the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:    - `iam.read`    - `system.instance.read` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceListTrustedDomainsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceListTrustedDomainsResponse>> ListTrustedDomainsWithHttpInfoAsync(InstanceServiceListTrustedDomainsRequest instanceServiceListTrustedDomainsRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/ListTrustedDomains";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceListTrustedDomainsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceListTrustedDomainsRequest,
                ListTrustedDomainsAccepts,
                "application/json",
                typeof(InstanceServiceListTrustedDomainsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove Custom Domain
    /// </summary>
    /// <remarks>Removes a custom domain from the instance.  Be aware that this will stop routing requests from this domain to the instance and  might break existing setups or integrations.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.domain.write`</remarks>
    /// <param name="instanceServiceRemoveCustomDomainRequest"></param>
    /// <returns><![CDATA[InstanceServiceRemoveCustomDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceRemoveCustomDomainResponse> RemoveCustomDomainAsync(InstanceServiceRemoveCustomDomainRequest instanceServiceRemoveCustomDomainRequest)
    {
        Task<ApiResult<InstanceServiceRemoveCustomDomainResponse>> task = RemoveCustomDomainWithHttpInfoAsync(instanceServiceRemoveCustomDomainRequest);
        ApiResult<InstanceServiceRemoveCustomDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Remove Custom Domain (with HTTP info)
    /// </summary>
    /// <remarks>Removes a custom domain from the instance.  Be aware that this will stop routing requests from this domain to the instance and  might break existing setups or integrations.  This method requires system level permissions and cannot be called from an instance context.   Required permissions:   - `system.domain.write`</remarks>
    /// <param name="instanceServiceRemoveCustomDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceRemoveCustomDomainResponse>> RemoveCustomDomainWithHttpInfoAsync(InstanceServiceRemoveCustomDomainRequest instanceServiceRemoveCustomDomainRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/RemoveCustomDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceRemoveCustomDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceRemoveCustomDomainRequest,
                RemoveCustomDomainAccepts,
                "application/json",
                typeof(InstanceServiceRemoveCustomDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove Trusted Domain
    /// </summary>
    /// <remarks>Removes a trusted domain from the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceRemoveTrustedDomainRequest"></param>
    /// <returns><![CDATA[InstanceServiceRemoveTrustedDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceRemoveTrustedDomainResponse> RemoveTrustedDomainAsync(InstanceServiceRemoveTrustedDomainRequest instanceServiceRemoveTrustedDomainRequest)
    {
        Task<ApiResult<InstanceServiceRemoveTrustedDomainResponse>> task = RemoveTrustedDomainWithHttpInfoAsync(instanceServiceRemoveTrustedDomainRequest);
        ApiResult<InstanceServiceRemoveTrustedDomainResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Remove Trusted Domain (with HTTP info)
    /// </summary>
    /// <remarks>Removes a trusted domain from the instance.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to list the domains of a specific instance.  This requires additional permissions.   Required permissions:   - `iam.write`   - `system.instance.write` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceRemoveTrustedDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceRemoveTrustedDomainResponse>> RemoveTrustedDomainWithHttpInfoAsync(InstanceServiceRemoveTrustedDomainRequest instanceServiceRemoveTrustedDomainRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/RemoveTrustedDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceRemoveTrustedDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceRemoveTrustedDomainRequest,
                RemoveTrustedDomainAccepts,
                "application/json",
                typeof(InstanceServiceRemoveTrustedDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Instance
    /// </summary>
    /// <remarks>Updates instance's name in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to update a specific instance.  This requires additional permissions.   Required permissions:    - `iam.write`    - `system.instance.write` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceUpdateInstanceRequest"></param>
    /// <returns><![CDATA[InstanceServiceUpdateInstanceResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InstanceServiceUpdateInstanceResponse> UpdateInstanceAsync(InstanceServiceUpdateInstanceRequest instanceServiceUpdateInstanceRequest)
    {
        Task<ApiResult<InstanceServiceUpdateInstanceResponse>> task = UpdateInstanceWithHttpInfoAsync(instanceServiceUpdateInstanceRequest);
        ApiResult<InstanceServiceUpdateInstanceResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Instance (with HTTP info)
    /// </summary>
    /// <remarks>Updates instance's name in the current context or by its ID.  By default the instance will be determined by the context of the request,  e.g. the host header.  You can optionally pass an InstanceID to update a specific instance.  This requires additional permissions.   Required permissions:    - `iam.write`    - `system.instance.write` (if InstanceID is set)</remarks>
    /// <param name="instanceServiceUpdateInstanceRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InstanceServiceUpdateInstanceResponse>> UpdateInstanceWithHttpInfoAsync(InstanceServiceUpdateInstanceRequest instanceServiceUpdateInstanceRequest)
    {
        string path = "/zitadel.instance.v2.InstanceService/UpdateInstance";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InstanceServiceUpdateInstanceResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                instanceServiceUpdateInstanceRequest,
                UpdateInstanceAccepts,
                "application/json",
                typeof(InstanceServiceUpdateInstanceResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
