// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// InternalPermissionServiceApi provides methods for the InternalPermissionService API group.
/// </summary>
public class InternalPermissionServiceApi : BaseApi
{

    private static readonly string[] CreateAdministratorAccepts = ["application/json"];

    private static readonly string[] DeleteAdministratorAccepts = ["application/json"];

    private static readonly string[] ListAdministratorsAccepts = ["application/json"];

    private static readonly string[] UpdateAdministratorAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="InternalPermissionServiceApi"/> with defaults.</summary>
    public InternalPermissionServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="InternalPermissionServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public InternalPermissionServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="InternalPermissionServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public InternalPermissionServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create Administrator
    /// </summary>
    /// <remarks>CreateAdministrator grants an administrator role to a user for a specific resource.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="internalPermissionServiceCreateAdministratorRequest"></param>
    /// <returns><![CDATA[InternalPermissionServiceCreateAdministratorResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InternalPermissionServiceCreateAdministratorResponse> CreateAdministratorAsync(InternalPermissionServiceCreateAdministratorRequest internalPermissionServiceCreateAdministratorRequest)
    {
        Task<ApiResult<InternalPermissionServiceCreateAdministratorResponse>> task = CreateAdministratorWithHttpInfoAsync(internalPermissionServiceCreateAdministratorRequest);
        ApiResult<InternalPermissionServiceCreateAdministratorResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Administrator (with HTTP info)
    /// </summary>
    /// <remarks>CreateAdministrator grants an administrator role to a user for a specific resource.   Note that the roles are specific to the resource type.  This means that if you want to grant a user the administrator role for an organization and a project,  you need to create two administrator roles.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="internalPermissionServiceCreateAdministratorRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InternalPermissionServiceCreateAdministratorResponse>> CreateAdministratorWithHttpInfoAsync(InternalPermissionServiceCreateAdministratorRequest internalPermissionServiceCreateAdministratorRequest)
    {
        string path = "/zitadel.internal_permission.v2.InternalPermissionService/CreateAdministrator";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InternalPermissionServiceCreateAdministratorResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                internalPermissionServiceCreateAdministratorRequest,
                CreateAdministratorAccepts,
                "application/json",
                typeof(InternalPermissionServiceCreateAdministratorResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Administrator
    /// </summary>
    /// <remarks>DeleteAdministrator revokes an administrator role from a user.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators</remarks>
    /// <param name="internalPermissionServiceDeleteAdministratorRequest"></param>
    /// <returns><![CDATA[InternalPermissionServiceDeleteAdministratorResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InternalPermissionServiceDeleteAdministratorResponse> DeleteAdministratorAsync(InternalPermissionServiceDeleteAdministratorRequest internalPermissionServiceDeleteAdministratorRequest)
    {
        Task<ApiResult<InternalPermissionServiceDeleteAdministratorResponse>> task = DeleteAdministratorWithHttpInfoAsync(internalPermissionServiceDeleteAdministratorRequest);
        ApiResult<InternalPermissionServiceDeleteAdministratorResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Administrator (with HTTP info)
    /// </summary>
    /// <remarks>DeleteAdministrator revokes an administrator role from a user.   In case the administrator role is not found, the request will return a successful response as  the desired state is already achieved.  You can check the deletion date in the response to verify if the administrator role was deleted during the request.   Required permissions depend on the resource type:    - \"iam.member.delete\" for instance administrators    - \"org.member.delete\" for organization administrators    - \"project.member.delete\" for project administrators    - \"project.grant.member.delete\" for project grant administrators</remarks>
    /// <param name="internalPermissionServiceDeleteAdministratorRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InternalPermissionServiceDeleteAdministratorResponse>> DeleteAdministratorWithHttpInfoAsync(InternalPermissionServiceDeleteAdministratorRequest internalPermissionServiceDeleteAdministratorRequest)
    {
        string path = "/zitadel.internal_permission.v2.InternalPermissionService/DeleteAdministrator";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InternalPermissionServiceDeleteAdministratorResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                internalPermissionServiceDeleteAdministratorRequest,
                DeleteAdministratorAccepts,
                "application/json",
                typeof(InternalPermissionServiceDeleteAdministratorResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Administrators
    /// </summary>
    /// <remarks>ListAdministrators returns all administrators and their roles matching the request and the caller's permissions to retrieve.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles</remarks>
    /// <param name="internalPermissionServiceListAdministratorsRequest"></param>
    /// <returns><![CDATA[InternalPermissionServiceListAdministratorsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InternalPermissionServiceListAdministratorsResponse> ListAdministratorsAsync(InternalPermissionServiceListAdministratorsRequest internalPermissionServiceListAdministratorsRequest)
    {
        Task<ApiResult<InternalPermissionServiceListAdministratorsResponse>> task = ListAdministratorsWithHttpInfoAsync(internalPermissionServiceListAdministratorsRequest);
        ApiResult<InternalPermissionServiceListAdministratorsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Administrators (with HTTP info)
    /// </summary>
    /// <remarks>ListAdministrators returns all administrators and their roles matching the request and the caller's permissions to retrieve.   Required permissions depend on the resource type:    - \"iam.member.read\" for instance administrators    - \"org.member.read\" for organization administrators    - \"project.member.read\" for project administrators    - \"project.grant.member.read\" for project grant administrators    - no permissions required for listing own administrator roles</remarks>
    /// <param name="internalPermissionServiceListAdministratorsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InternalPermissionServiceListAdministratorsResponse>> ListAdministratorsWithHttpInfoAsync(InternalPermissionServiceListAdministratorsRequest internalPermissionServiceListAdministratorsRequest)
    {
        string path = "/zitadel.internal_permission.v2.InternalPermissionService/ListAdministrators";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InternalPermissionServiceListAdministratorsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                internalPermissionServiceListAdministratorsRequest,
                ListAdministratorsAccepts,
                "application/json",
                typeof(InternalPermissionServiceListAdministratorsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Administrator
    /// </summary>
    /// <remarks>UpdateAdministrator updates the specific administrator role.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="internalPermissionServiceUpdateAdministratorRequest"></param>
    /// <returns><![CDATA[InternalPermissionServiceUpdateAdministratorResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<InternalPermissionServiceUpdateAdministratorResponse> UpdateAdministratorAsync(InternalPermissionServiceUpdateAdministratorRequest internalPermissionServiceUpdateAdministratorRequest)
    {
        Task<ApiResult<InternalPermissionServiceUpdateAdministratorResponse>> task = UpdateAdministratorWithHttpInfoAsync(internalPermissionServiceUpdateAdministratorRequest);
        ApiResult<InternalPermissionServiceUpdateAdministratorResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Administrator (with HTTP info)
    /// </summary>
    /// <remarks>UpdateAdministrator updates the specific administrator role.   Note that any role previously granted to the user and not present in the request will be revoked.   Required permissions depend on the resource type:    - \"iam.member.write\" for instance administrators    - \"org.member.write\" for organization administrators    - \"project.member.write\" for project administrators    - \"project.grant.member.write\" for project grant administrators</remarks>
    /// <param name="internalPermissionServiceUpdateAdministratorRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<InternalPermissionServiceUpdateAdministratorResponse>> UpdateAdministratorWithHttpInfoAsync(InternalPermissionServiceUpdateAdministratorRequest internalPermissionServiceUpdateAdministratorRequest)
    {
        string path = "/zitadel.internal_permission.v2.InternalPermissionService/UpdateAdministrator";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<InternalPermissionServiceUpdateAdministratorResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                internalPermissionServiceUpdateAdministratorRequest,
                UpdateAdministratorAccepts,
                "application/json",
                typeof(InternalPermissionServiceUpdateAdministratorResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
