// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// OIDCServiceApi provides methods for the OIDCService API group.
/// </summary>
public class OIDCServiceApi : BaseApi
{

    private static readonly string[] AuthorizeOrDenyDeviceAuthorizationAccepts = ["application/json"];

    private static readonly string[] CreateCallbackAccepts = ["application/json"];

    private static readonly string[] GetAuthRequestAccepts = ["application/json"];

    private static readonly string[] GetDeviceAuthorizationRequestAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="OIDCServiceApi"/> with defaults.</summary>
    public OIDCServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="OIDCServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public OIDCServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="OIDCServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public OIDCServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Authorize or Deny Device Authorization
    /// </summary>
    /// <remarks>Authorize or deny the device authorization request based on the provided device authorization id.   Required permissions:    - `session.link`</remarks>
    /// <param name="oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest"></param>
    /// <returns><![CDATA[Object]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<Object> AuthorizeOrDenyDeviceAuthorizationAsync(OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest)
    {
        Task<ApiResult<Object>> task = AuthorizeOrDenyDeviceAuthorizationWithHttpInfoAsync(oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest);
        ApiResult<Object> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Authorize or Deny Device Authorization (with HTTP info)
    /// </summary>
    /// <remarks>Authorize or deny the device authorization request based on the provided device authorization id.   Required permissions:    - `session.link`</remarks>
    /// <param name="oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<Object>> AuthorizeOrDenyDeviceAuthorizationWithHttpInfoAsync(OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest)
    {
        string path = "/zitadel.oidc.v2.OIDCService/AuthorizeOrDenyDeviceAuthorization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<Object>(
                "POST",
                path,
                queryParams,
                headerParams,
                oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest,
                AuthorizeOrDenyDeviceAuthorizationAccepts,
                "application/json",
                typeof(Object),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Callback
    /// </summary>
    /// <remarks>Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.   Required permissions:    - `session.link`</remarks>
    /// <param name="oIDCServiceCreateCallbackRequest"></param>
    /// <returns><![CDATA[OIDCServiceCreateCallbackResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OIDCServiceCreateCallbackResponse> CreateCallbackAsync(OIDCServiceCreateCallbackRequest oIDCServiceCreateCallbackRequest)
    {
        Task<ApiResult<OIDCServiceCreateCallbackResponse>> task = CreateCallbackWithHttpInfoAsync(oIDCServiceCreateCallbackRequest);
        ApiResult<OIDCServiceCreateCallbackResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Callback (with HTTP info)
    /// </summary>
    /// <remarks>Finalize an Auth Request and get the callback URL for success or failure.  The user must be redirected to the URL in order to inform the application about the success or failure.  On success, the URL contains details for the application to obtain the tokens.  This method can only be called once for an Auth request.   Required permissions:    - `session.link`</remarks>
    /// <param name="oIDCServiceCreateCallbackRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<OIDCServiceCreateCallbackResponse>> CreateCallbackWithHttpInfoAsync(OIDCServiceCreateCallbackRequest oIDCServiceCreateCallbackRequest)
    {
        string path = "/zitadel.oidc.v2.OIDCService/CreateCallback";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OIDCServiceCreateCallbackResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                oIDCServiceCreateCallbackRequest,
                CreateCallbackAccepts,
                "application/json",
                typeof(OIDCServiceCreateCallbackResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Auth Request
    /// </summary>
    /// <remarks>Get OIDC Auth Request details by ID, obtained from the redirect URL.  Returns details that are parsed from the application's Auth Request.   Required permissions:    - `session.read`</remarks>
    /// <param name="oIDCServiceGetAuthRequestRequest"></param>
    /// <returns><![CDATA[OIDCServiceGetAuthRequestResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OIDCServiceGetAuthRequestResponse> GetAuthRequestAsync(OIDCServiceGetAuthRequestRequest oIDCServiceGetAuthRequestRequest)
    {
        Task<ApiResult<OIDCServiceGetAuthRequestResponse>> task = GetAuthRequestWithHttpInfoAsync(oIDCServiceGetAuthRequestRequest);
        ApiResult<OIDCServiceGetAuthRequestResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Auth Request (with HTTP info)
    /// </summary>
    /// <remarks>Get OIDC Auth Request details by ID, obtained from the redirect URL.  Returns details that are parsed from the application's Auth Request.   Required permissions:    - `session.read`</remarks>
    /// <param name="oIDCServiceGetAuthRequestRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<OIDCServiceGetAuthRequestResponse>> GetAuthRequestWithHttpInfoAsync(OIDCServiceGetAuthRequestRequest oIDCServiceGetAuthRequestRequest)
    {
        string path = "/zitadel.oidc.v2.OIDCService/GetAuthRequest";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OIDCServiceGetAuthRequestResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                oIDCServiceGetAuthRequestRequest,
                GetAuthRequestAccepts,
                "application/json",
                typeof(OIDCServiceGetAuthRequestResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Device Authorization Request
    /// </summary>
    /// <remarks>Get the device authorization based on the provided \"user code\".  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.   Required permissions:    - `session.read`</remarks>
    /// <param name="oIDCServiceGetDeviceAuthorizationRequestRequest"></param>
    /// <returns><![CDATA[OIDCServiceGetDeviceAuthorizationRequestResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OIDCServiceGetDeviceAuthorizationRequestResponse> GetDeviceAuthorizationRequestAsync(OIDCServiceGetDeviceAuthorizationRequestRequest oIDCServiceGetDeviceAuthorizationRequestRequest)
    {
        Task<ApiResult<OIDCServiceGetDeviceAuthorizationRequestResponse>> task = GetDeviceAuthorizationRequestWithHttpInfoAsync(oIDCServiceGetDeviceAuthorizationRequestRequest);
        ApiResult<OIDCServiceGetDeviceAuthorizationRequestResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Device Authorization Request (with HTTP info)
    /// </summary>
    /// <remarks>Get the device authorization based on the provided \"user code\".  This will return the device authorization request, which contains the device authorization id  that is required to authorize the request once the user signed in or to deny it.   Required permissions:    - `session.read`</remarks>
    /// <param name="oIDCServiceGetDeviceAuthorizationRequestRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<OIDCServiceGetDeviceAuthorizationRequestResponse>> GetDeviceAuthorizationRequestWithHttpInfoAsync(OIDCServiceGetDeviceAuthorizationRequestRequest oIDCServiceGetDeviceAuthorizationRequestRequest)
    {
        string path = "/zitadel.oidc.v2.OIDCService/GetDeviceAuthorizationRequest";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OIDCServiceGetDeviceAuthorizationRequestResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                oIDCServiceGetDeviceAuthorizationRequestRequest,
                GetDeviceAuthorizationRequestAccepts,
                "application/json",
                typeof(OIDCServiceGetDeviceAuthorizationRequestResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
