// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// OrganizationServiceApi provides methods for the OrganizationService API group.
/// </summary>
public class OrganizationServiceApi : BaseApi
{
    private static readonly string[] ActivateOrganizationAccepts = ["application/json"];

    private static readonly string[] AddOrganizationAccepts = ["application/json"];

    private static readonly string[] AddOrganizationDomainAccepts = ["application/json"];

    private static readonly string[] DeactivateOrganizationAccepts = ["application/json"];

    private static readonly string[] DeleteOrganizationAccepts = ["application/json"];

    private static readonly string[] DeleteOrganizationDomainAccepts = ["application/json"];

    private static readonly string[] DeleteOrganizationMetadataAccepts = ["application/json"];

    private static readonly string[] GenerateOrganizationDomainValidationAccepts =
    [
        "application/json",
    ];

    private static readonly string[] ListOrganizationDomainsAccepts = ["application/json"];

    private static readonly string[] ListOrganizationMetadataAccepts = ["application/json"];

    private static readonly string[] ListOrganizationsAccepts = ["application/json"];

    private static readonly string[] SetOrganizationMetadataAccepts = ["application/json"];

    private static readonly string[] UpdateOrganizationAccepts = ["application/json"];

    private static readonly string[] VerifyOrganizationDomainAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="OrganizationServiceApi"/> with defaults.</summary>
    public OrganizationServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="OrganizationServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public OrganizationServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="OrganizationServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public OrganizationServiceApi(
        IApiClient apiClient,
        Configuration config,
        IAuthenticator? authenticator
    )
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Organization
    /// </summary>
    /// <remarks>Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceActivateOrganizationRequest"></param>
    /// <returns><![CDATA[OrganizationServiceActivateOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceActivateOrganizationResponse> ActivateOrganizationAsync(
        OrganizationServiceActivateOrganizationRequest organizationServiceActivateOrganizationRequest
    )
    {
        Task<ApiResult<OrganizationServiceActivateOrganizationResponse>> task =
            ActivateOrganizationWithHttpInfoAsync(organizationServiceActivateOrganizationRequest);
        ApiResult<OrganizationServiceActivateOrganizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Activate Organization (with HTTP info)
    /// </summary>
    /// <remarks>Set the state of my organization to active. The state of the organization has to be deactivated to perform the request. Users of this organization will be able to log in again.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceActivateOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceActivateOrganizationResponse>
    > ActivateOrganizationWithHttpInfoAsync(
        OrganizationServiceActivateOrganizationRequest organizationServiceActivateOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/ActivateOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceActivateOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceActivateOrganizationRequest,
                ActivateOrganizationAccepts,
                "application/json",
                typeof(OrganizationServiceActivateOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Organization
    /// </summary>
    /// <remarks>Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`</remarks>
    /// <param name="organizationServiceAddOrganizationRequest"></param>
    /// <returns><![CDATA[OrganizationServiceAddOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceAddOrganizationResponse> AddOrganizationAsync(
        OrganizationServiceAddOrganizationRequest organizationServiceAddOrganizationRequest
    )
    {
        Task<ApiResult<OrganizationServiceAddOrganizationResponse>> task =
            AddOrganizationWithHttpInfoAsync(organizationServiceAddOrganizationRequest);
        ApiResult<OrganizationServiceAddOrganizationResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add Organization (with HTTP info)
    /// </summary>
    /// <remarks>Create a new organization with an administrative user. If no specific roles are sent for the users, they will be granted the role ORG_OWNER.   Required permission:   - `org.create`</remarks>
    /// <param name="organizationServiceAddOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceAddOrganizationResponse>
    > AddOrganizationWithHttpInfoAsync(
        OrganizationServiceAddOrganizationRequest organizationServiceAddOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/AddOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceAddOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceAddOrganizationRequest,
                AddOrganizationAccepts,
                "application/json",
                typeof(OrganizationServiceAddOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Organization Domain
    /// </summary>
    /// <remarks>Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceAddOrganizationDomainRequest"></param>
    /// <returns><![CDATA[OrganizationServiceAddOrganizationDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceAddOrganizationDomainResponse> AddOrganizationDomainAsync(
        OrganizationServiceAddOrganizationDomainRequest organizationServiceAddOrganizationDomainRequest
    )
    {
        Task<ApiResult<OrganizationServiceAddOrganizationDomainResponse>> task =
            AddOrganizationDomainWithHttpInfoAsync(organizationServiceAddOrganizationDomainRequest);
        ApiResult<OrganizationServiceAddOrganizationDomainResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Add Organization Domain (with HTTP info)
    /// </summary>
    /// <remarks>Add a new domain to an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceAddOrganizationDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceAddOrganizationDomainResponse>
    > AddOrganizationDomainWithHttpInfoAsync(
        OrganizationServiceAddOrganizationDomainRequest organizationServiceAddOrganizationDomainRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/AddOrganizationDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceAddOrganizationDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceAddOrganizationDomainRequest,
                AddOrganizationDomainAccepts,
                "application/json",
                typeof(OrganizationServiceAddOrganizationDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Organization
    /// </summary>
    /// <remarks>Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceDeactivateOrganizationRequest"></param>
    /// <returns><![CDATA[OrganizationServiceDeactivateOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceDeactivateOrganizationResponse> DeactivateOrganizationAsync(
        OrganizationServiceDeactivateOrganizationRequest organizationServiceDeactivateOrganizationRequest
    )
    {
        Task<ApiResult<OrganizationServiceDeactivateOrganizationResponse>> task =
            DeactivateOrganizationWithHttpInfoAsync(
                organizationServiceDeactivateOrganizationRequest
            );
        ApiResult<OrganizationServiceDeactivateOrganizationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Deactivate Organization (with HTTP info)
    /// </summary>
    /// <remarks>Sets the state of my organization to deactivated. Users of this organization will not be able to log in.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceDeactivateOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceDeactivateOrganizationResponse>
    > DeactivateOrganizationWithHttpInfoAsync(
        OrganizationServiceDeactivateOrganizationRequest organizationServiceDeactivateOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/DeactivateOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceDeactivateOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceDeactivateOrganizationRequest,
                DeactivateOrganizationAccepts,
                "application/json",
                typeof(OrganizationServiceDeactivateOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Organization
    /// </summary>
    /// <remarks>Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`</remarks>
    /// <param name="organizationServiceDeleteOrganizationRequest"></param>
    /// <returns><![CDATA[OrganizationServiceDeleteOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceDeleteOrganizationResponse> DeleteOrganizationAsync(
        OrganizationServiceDeleteOrganizationRequest organizationServiceDeleteOrganizationRequest
    )
    {
        Task<ApiResult<OrganizationServiceDeleteOrganizationResponse>> task =
            DeleteOrganizationWithHttpInfoAsync(organizationServiceDeleteOrganizationRequest);
        ApiResult<OrganizationServiceDeleteOrganizationResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Organization (with HTTP info)
    /// </summary>
    /// <remarks>Deletes the organization and all its resources (Users, Projects, Grants to and from the org). Users of this organization will not be able to log in.   Required permission:   - `org.delete`</remarks>
    /// <param name="organizationServiceDeleteOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceDeleteOrganizationResponse>
    > DeleteOrganizationWithHttpInfoAsync(
        OrganizationServiceDeleteOrganizationRequest organizationServiceDeleteOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/DeleteOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceDeleteOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceDeleteOrganizationRequest,
                DeleteOrganizationAccepts,
                "application/json",
                typeof(OrganizationServiceDeleteOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Organization Domain
    /// </summary>
    /// <remarks>Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceDeleteOrganizationDomainRequest"></param>
    /// <returns><![CDATA[OrganizationServiceDeleteOrganizationDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceDeleteOrganizationDomainResponse> DeleteOrganizationDomainAsync(
        OrganizationServiceDeleteOrganizationDomainRequest organizationServiceDeleteOrganizationDomainRequest
    )
    {
        Task<ApiResult<OrganizationServiceDeleteOrganizationDomainResponse>> task =
            DeleteOrganizationDomainWithHttpInfoAsync(
                organizationServiceDeleteOrganizationDomainRequest
            );
        ApiResult<OrganizationServiceDeleteOrganizationDomainResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Organization Domain (with HTTP info)
    /// </summary>
    /// <remarks>Delete a new domain from an organization. The domains are used to identify to which organization a user belongs. If the uses use the domain for login, this will not be possible afterwards. They have to use another domain instead.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceDeleteOrganizationDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceDeleteOrganizationDomainResponse>
    > DeleteOrganizationDomainWithHttpInfoAsync(
        OrganizationServiceDeleteOrganizationDomainRequest organizationServiceDeleteOrganizationDomainRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/DeleteOrganizationDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceDeleteOrganizationDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceDeleteOrganizationDomainRequest,
                DeleteOrganizationDomainAccepts,
                "application/json",
                typeof(OrganizationServiceDeleteOrganizationDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Organization Metadata
    /// </summary>
    /// <remarks>Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceDeleteOrganizationMetadataRequest"></param>
    /// <returns><![CDATA[OrganizationServiceDeleteOrganizationMetadataResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceDeleteOrganizationMetadataResponse> DeleteOrganizationMetadataAsync(
        OrganizationServiceDeleteOrganizationMetadataRequest organizationServiceDeleteOrganizationMetadataRequest
    )
    {
        Task<ApiResult<OrganizationServiceDeleteOrganizationMetadataResponse>> task =
            DeleteOrganizationMetadataWithHttpInfoAsync(
                organizationServiceDeleteOrganizationMetadataRequest
            );
        ApiResult<OrganizationServiceDeleteOrganizationMetadataResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Delete Organization Metadata (with HTTP info)
    /// </summary>
    /// <remarks>Delete metadata objects from an organization with a specific key.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceDeleteOrganizationMetadataRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceDeleteOrganizationMetadataResponse>
    > DeleteOrganizationMetadataWithHttpInfoAsync(
        OrganizationServiceDeleteOrganizationMetadataRequest organizationServiceDeleteOrganizationMetadataRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/DeleteOrganizationMetadata";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceDeleteOrganizationMetadataResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceDeleteOrganizationMetadataRequest,
                DeleteOrganizationMetadataAccepts,
                "application/json",
                typeof(OrganizationServiceDeleteOrganizationMetadataResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Generate Organization Domain Validation
    /// </summary>
    /// <remarks>Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceGenerateOrganizationDomainValidationRequest"></param>
    /// <returns><![CDATA[OrganizationServiceGenerateOrganizationDomainValidationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceGenerateOrganizationDomainValidationResponse> GenerateOrganizationDomainValidationAsync(
        OrganizationServiceGenerateOrganizationDomainValidationRequest organizationServiceGenerateOrganizationDomainValidationRequest
    )
    {
        Task<ApiResult<OrganizationServiceGenerateOrganizationDomainValidationResponse>> task =
            GenerateOrganizationDomainValidationWithHttpInfoAsync(
                organizationServiceGenerateOrganizationDomainValidationRequest
            );
        ApiResult<OrganizationServiceGenerateOrganizationDomainValidationResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Generate Organization Domain Validation (with HTTP info)
    /// </summary>
    /// <remarks>Generate a new file to be able to verify your domain with DNS or HTTP challenge.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceGenerateOrganizationDomainValidationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceGenerateOrganizationDomainValidationResponse>
    > GenerateOrganizationDomainValidationWithHttpInfoAsync(
        OrganizationServiceGenerateOrganizationDomainValidationRequest organizationServiceGenerateOrganizationDomainValidationRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/GenerateOrganizationDomainValidation";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceGenerateOrganizationDomainValidationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceGenerateOrganizationDomainValidationRequest,
                GenerateOrganizationDomainValidationAccepts,
                "application/json",
                typeof(OrganizationServiceGenerateOrganizationDomainValidationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Organization Domains
    /// </summary>
    /// <remarks>Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.read`</remarks>
    /// <param name="organizationServiceListOrganizationDomainsRequest"></param>
    /// <returns><![CDATA[OrganizationServiceListOrganizationDomainsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceListOrganizationDomainsResponse> ListOrganizationDomainsAsync(
        OrganizationServiceListOrganizationDomainsRequest organizationServiceListOrganizationDomainsRequest
    )
    {
        Task<ApiResult<OrganizationServiceListOrganizationDomainsResponse>> task =
            ListOrganizationDomainsWithHttpInfoAsync(
                organizationServiceListOrganizationDomainsRequest
            );
        ApiResult<OrganizationServiceListOrganizationDomainsResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Organization Domains (with HTTP info)
    /// </summary>
    /// <remarks>Returns the list of registered domains of an organization. The domains are used to identify to which organization a user belongs.   Required permission:   - `org.read`</remarks>
    /// <param name="organizationServiceListOrganizationDomainsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceListOrganizationDomainsResponse>
    > ListOrganizationDomainsWithHttpInfoAsync(
        OrganizationServiceListOrganizationDomainsRequest organizationServiceListOrganizationDomainsRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/ListOrganizationDomains";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceListOrganizationDomainsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceListOrganizationDomainsRequest,
                ListOrganizationDomainsAccepts,
                "application/json",
                typeof(OrganizationServiceListOrganizationDomainsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Organization Metadata
    /// </summary>
    /// <remarks>List metadata of an organization filtered by query.   Required permission:   - `org.read`</remarks>
    /// <param name="organizationServiceListOrganizationMetadataRequest"></param>
    /// <returns><![CDATA[OrganizationServiceListOrganizationMetadataResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceListOrganizationMetadataResponse> ListOrganizationMetadataAsync(
        OrganizationServiceListOrganizationMetadataRequest organizationServiceListOrganizationMetadataRequest
    )
    {
        Task<ApiResult<OrganizationServiceListOrganizationMetadataResponse>> task =
            ListOrganizationMetadataWithHttpInfoAsync(
                organizationServiceListOrganizationMetadataRequest
            );
        ApiResult<OrganizationServiceListOrganizationMetadataResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Organization Metadata (with HTTP info)
    /// </summary>
    /// <remarks>List metadata of an organization filtered by query.   Required permission:   - `org.read`</remarks>
    /// <param name="organizationServiceListOrganizationMetadataRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceListOrganizationMetadataResponse>
    > ListOrganizationMetadataWithHttpInfoAsync(
        OrganizationServiceListOrganizationMetadataRequest organizationServiceListOrganizationMetadataRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/ListOrganizationMetadata";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceListOrganizationMetadataResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceListOrganizationMetadataRequest,
                ListOrganizationMetadataAccepts,
                "application/json",
                typeof(OrganizationServiceListOrganizationMetadataResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Organizations
    /// </summary>
    /// <remarks>Search for Organizations. By default, we will return all organization of the instance that you have permission to read.  Make sure to include a limit and sorting for pagination.   Required permission:   - `org.read`</remarks>
    /// <param name="organizationServiceListOrganizationsRequest"></param>
    /// <returns><![CDATA[OrganizationServiceListOrganizationsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceListOrganizationsResponse> ListOrganizationsAsync(
        OrganizationServiceListOrganizationsRequest organizationServiceListOrganizationsRequest
    )
    {
        Task<ApiResult<OrganizationServiceListOrganizationsResponse>> task =
            ListOrganizationsWithHttpInfoAsync(organizationServiceListOrganizationsRequest);
        ApiResult<OrganizationServiceListOrganizationsResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// List Organizations (with HTTP info)
    /// </summary>
    /// <remarks>Search for Organizations. By default, we will return all organization of the instance that you have permission to read.  Make sure to include a limit and sorting for pagination.   Required permission:   - `org.read`</remarks>
    /// <param name="organizationServiceListOrganizationsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceListOrganizationsResponse>
    > ListOrganizationsWithHttpInfoAsync(
        OrganizationServiceListOrganizationsRequest organizationServiceListOrganizationsRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/ListOrganizations";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceListOrganizationsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceListOrganizationsRequest,
                ListOrganizationsAccepts,
                "application/json",
                typeof(OrganizationServiceListOrganizationsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Organization Metadata
    /// </summary>
    /// <remarks>Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceSetOrganizationMetadataRequest"></param>
    /// <returns><![CDATA[OrganizationServiceSetOrganizationMetadataResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceSetOrganizationMetadataResponse> SetOrganizationMetadataAsync(
        OrganizationServiceSetOrganizationMetadataRequest organizationServiceSetOrganizationMetadataRequest
    )
    {
        Task<ApiResult<OrganizationServiceSetOrganizationMetadataResponse>> task =
            SetOrganizationMetadataWithHttpInfoAsync(
                organizationServiceSetOrganizationMetadataRequest
            );
        ApiResult<OrganizationServiceSetOrganizationMetadataResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Set Organization Metadata (with HTTP info)
    /// </summary>
    /// <remarks>Adds or updates a metadata value for the requested key. Make sure the value is base64 encoded.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceSetOrganizationMetadataRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceSetOrganizationMetadataResponse>
    > SetOrganizationMetadataWithHttpInfoAsync(
        OrganizationServiceSetOrganizationMetadataRequest organizationServiceSetOrganizationMetadataRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/SetOrganizationMetadata";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceSetOrganizationMetadataResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceSetOrganizationMetadataRequest,
                SetOrganizationMetadataAccepts,
                "application/json",
                typeof(OrganizationServiceSetOrganizationMetadataResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Organization
    /// </summary>
    /// <remarks>Change the name of the organization.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceUpdateOrganizationRequest"></param>
    /// <returns><![CDATA[OrganizationServiceUpdateOrganizationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceUpdateOrganizationResponse> UpdateOrganizationAsync(
        OrganizationServiceUpdateOrganizationRequest organizationServiceUpdateOrganizationRequest
    )
    {
        Task<ApiResult<OrganizationServiceUpdateOrganizationResponse>> task =
            UpdateOrganizationWithHttpInfoAsync(organizationServiceUpdateOrganizationRequest);
        ApiResult<OrganizationServiceUpdateOrganizationResponse> result = await task.ConfigureAwait(
            false
        );
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Update Organization (with HTTP info)
    /// </summary>
    /// <remarks>Change the name of the organization.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceUpdateOrganizationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceUpdateOrganizationResponse>
    > UpdateOrganizationWithHttpInfoAsync(
        OrganizationServiceUpdateOrganizationRequest organizationServiceUpdateOrganizationRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/UpdateOrganization";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceUpdateOrganizationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceUpdateOrganizationRequest,
                UpdateOrganizationAccepts,
                "application/json",
                typeof(OrganizationServiceUpdateOrganizationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Verify Organization Domain
    /// </summary>
    /// <remarks>Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceVerifyOrganizationDomainRequest"></param>
    /// <returns><![CDATA[OrganizationServiceVerifyOrganizationDomainResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<OrganizationServiceVerifyOrganizationDomainResponse> VerifyOrganizationDomainAsync(
        OrganizationServiceVerifyOrganizationDomainRequest organizationServiceVerifyOrganizationDomainRequest
    )
    {
        Task<ApiResult<OrganizationServiceVerifyOrganizationDomainResponse>> task =
            VerifyOrganizationDomainWithHttpInfoAsync(
                organizationServiceVerifyOrganizationDomainRequest
            );
        ApiResult<OrganizationServiceVerifyOrganizationDomainResponse> result =
            await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Verify Organization Domain (with HTTP info)
    /// </summary>
    /// <remarks>Make sure you have added the required verification to your domain, depending on the method you have chosen (HTTP or DNS challenge). ZITADEL will check it and set the domain as verified if it was successful. A verify domain has to be unique.   Required permission:   - `org.write`</remarks>
    /// <param name="organizationServiceVerifyOrganizationDomainRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<
        ApiResult<OrganizationServiceVerifyOrganizationDomainResponse>
    > VerifyOrganizationDomainWithHttpInfoAsync(
        OrganizationServiceVerifyOrganizationDomainRequest organizationServiceVerifyOrganizationDomainRequest
    )
    {
        string path = "/zitadel.org.v2.OrganizationService/VerifyOrganizationDomain";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<OrganizationServiceVerifyOrganizationDomainResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                organizationServiceVerifyOrganizationDomainRequest,
                VerifyOrganizationDomainAccepts,
                "application/json",
                typeof(OrganizationServiceVerifyOrganizationDomainResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
