// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// ProjectServiceApi provides methods for the ProjectService API group.
/// </summary>
public class ProjectServiceApi : BaseApi
{

    private static readonly string[] ActivateProjectAccepts = ["application/json"];

    private static readonly string[] ActivateProjectGrantAccepts = ["application/json"];

    private static readonly string[] AddProjectRoleAccepts = ["application/json"];

    private static readonly string[] CreateProjectAccepts = ["application/json"];

    private static readonly string[] CreateProjectGrantAccepts = ["application/json"];

    private static readonly string[] DeactivateProjectAccepts = ["application/json"];

    private static readonly string[] DeactivateProjectGrantAccepts = ["application/json"];

    private static readonly string[] DeleteProjectAccepts = ["application/json"];

    private static readonly string[] DeleteProjectGrantAccepts = ["application/json"];

    private static readonly string[] GetProjectAccepts = ["application/json"];

    private static readonly string[] ListProjectGrantsAccepts = ["application/json"];

    private static readonly string[] ListProjectRolesAccepts = ["application/json"];

    private static readonly string[] ListProjectsAccepts = ["application/json"];

    private static readonly string[] RemoveProjectRoleAccepts = ["application/json"];

    private static readonly string[] UpdateProjectAccepts = ["application/json"];

    private static readonly string[] UpdateProjectGrantAccepts = ["application/json"];

    private static readonly string[] UpdateProjectRoleAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="ProjectServiceApi"/> with defaults.</summary>
    public ProjectServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="ProjectServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public ProjectServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="ProjectServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public ProjectServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Project
    /// </summary>
    /// <remarks>Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`</remarks>
    /// <param name="projectServiceActivateProjectRequest"></param>
    /// <returns><![CDATA[ProjectServiceActivateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceActivateProjectResponse> ActivateProjectAsync(ProjectServiceActivateProjectRequest projectServiceActivateProjectRequest)
    {
        Task<ApiResult<ProjectServiceActivateProjectResponse>> task = ActivateProjectWithHttpInfoAsync(projectServiceActivateProjectRequest);
        ApiResult<ProjectServiceActivateProjectResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Activate Project (with HTTP info)
    /// </summary>
    /// <remarks>Set the state of a project to active. Request returns no error if the project is already activated.   Required permission:    - `project.write`</remarks>
    /// <param name="projectServiceActivateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceActivateProjectResponse>> ActivateProjectWithHttpInfoAsync(ProjectServiceActivateProjectRequest projectServiceActivateProjectRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/ActivateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceActivateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceActivateProjectRequest,
                ActivateProjectAccepts,
                "application/json",
                typeof(ProjectServiceActivateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Activate Project Grant
    /// </summary>
    /// <remarks>Set the state of the project grant to activated.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="projectServiceActivateProjectGrantRequest"></param>
    /// <returns><![CDATA[ProjectServiceActivateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceActivateProjectGrantResponse> ActivateProjectGrantAsync(ProjectServiceActivateProjectGrantRequest projectServiceActivateProjectGrantRequest)
    {
        Task<ApiResult<ProjectServiceActivateProjectGrantResponse>> task = ActivateProjectGrantWithHttpInfoAsync(projectServiceActivateProjectGrantRequest);
        ApiResult<ProjectServiceActivateProjectGrantResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Activate Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Set the state of the project grant to activated.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="projectServiceActivateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceActivateProjectGrantResponse>> ActivateProjectGrantWithHttpInfoAsync(ProjectServiceActivateProjectGrantRequest projectServiceActivateProjectGrantRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/ActivateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceActivateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceActivateProjectGrantRequest,
                ActivateProjectGrantAccepts,
                "application/json",
                typeof(ProjectServiceActivateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Add Project Role
    /// </summary>
    /// <remarks>Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`</remarks>
    /// <param name="projectServiceAddProjectRoleRequest"></param>
    /// <returns><![CDATA[ProjectServiceAddProjectRoleResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceAddProjectRoleResponse> AddProjectRoleAsync(ProjectServiceAddProjectRoleRequest projectServiceAddProjectRoleRequest)
    {
        Task<ApiResult<ProjectServiceAddProjectRoleResponse>> task = AddProjectRoleWithHttpInfoAsync(projectServiceAddProjectRoleRequest);
        ApiResult<ProjectServiceAddProjectRoleResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Add Project Role (with HTTP info)
    /// </summary>
    /// <remarks>Add a new project role to a project. The key must be unique within the project.   Required permission:    - `project.role.write`</remarks>
    /// <param name="projectServiceAddProjectRoleRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceAddProjectRoleResponse>> AddProjectRoleWithHttpInfoAsync(ProjectServiceAddProjectRoleRequest projectServiceAddProjectRoleRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/AddProjectRole";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceAddProjectRoleResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceAddProjectRoleRequest,
                AddProjectRoleAccepts,
                "application/json",
                typeof(ProjectServiceAddProjectRoleResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Project
    /// </summary>
    /// <remarks>Create a new project. A project is a vessel to group applications, roles and  authorizations. Every project belongs to exactly one organization, but  can be granted to other organizations for self-management of their authorizations.   Required permission:    - `project.create`</remarks>
    /// <param name="projectServiceCreateProjectRequest"></param>
    /// <returns><![CDATA[ProjectServiceCreateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceCreateProjectResponse> CreateProjectAsync(ProjectServiceCreateProjectRequest projectServiceCreateProjectRequest)
    {
        Task<ApiResult<ProjectServiceCreateProjectResponse>> task = CreateProjectWithHttpInfoAsync(projectServiceCreateProjectRequest);
        ApiResult<ProjectServiceCreateProjectResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Project (with HTTP info)
    /// </summary>
    /// <remarks>Create a new project. A project is a vessel to group applications, roles and  authorizations. Every project belongs to exactly one organization, but  can be granted to other organizations for self-management of their authorizations.   Required permission:    - `project.create`</remarks>
    /// <param name="projectServiceCreateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceCreateProjectResponse>> CreateProjectWithHttpInfoAsync(ProjectServiceCreateProjectRequest projectServiceCreateProjectRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/CreateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceCreateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceCreateProjectRequest,
                CreateProjectAccepts,
                "application/json",
                typeof(ProjectServiceCreateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Project Grant
    /// </summary>
    /// <remarks>Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.create`</remarks>
    /// <param name="projectServiceCreateProjectGrantRequest"></param>
    /// <returns><![CDATA[ProjectServiceCreateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceCreateProjectGrantResponse> CreateProjectGrantAsync(ProjectServiceCreateProjectGrantRequest projectServiceCreateProjectGrantRequest)
    {
        Task<ApiResult<ProjectServiceCreateProjectGrantResponse>> task = CreateProjectGrantWithHttpInfoAsync(projectServiceCreateProjectGrantRequest);
        ApiResult<ProjectServiceCreateProjectGrantResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Grant a project to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.create`</remarks>
    /// <param name="projectServiceCreateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceCreateProjectGrantResponse>> CreateProjectGrantWithHttpInfoAsync(ProjectServiceCreateProjectGrantRequest projectServiceCreateProjectGrantRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/CreateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceCreateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceCreateProjectGrantRequest,
                CreateProjectGrantAccepts,
                "application/json",
                typeof(ProjectServiceCreateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Project
    /// </summary>
    /// <remarks>Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`</remarks>
    /// <param name="projectServiceDeactivateProjectRequest"></param>
    /// <returns><![CDATA[ProjectServiceDeactivateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceDeactivateProjectResponse> DeactivateProjectAsync(ProjectServiceDeactivateProjectRequest projectServiceDeactivateProjectRequest)
    {
        Task<ApiResult<ProjectServiceDeactivateProjectResponse>> task = DeactivateProjectWithHttpInfoAsync(projectServiceDeactivateProjectRequest);
        ApiResult<ProjectServiceDeactivateProjectResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Deactivate Project (with HTTP info)
    /// </summary>
    /// <remarks>Set the state of a project to deactivated. Request returns no error if the project is already deactivated.  Applications under deactivated projects are not able to login anymore.   Required permission:    - `project.write`</remarks>
    /// <param name="projectServiceDeactivateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceDeactivateProjectResponse>> DeactivateProjectWithHttpInfoAsync(ProjectServiceDeactivateProjectRequest projectServiceDeactivateProjectRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/DeactivateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceDeactivateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceDeactivateProjectRequest,
                DeactivateProjectAccepts,
                "application/json",
                typeof(ProjectServiceDeactivateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Deactivate Project Grant
    /// </summary>
    /// <remarks>Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="projectServiceDeactivateProjectGrantRequest"></param>
    /// <returns><![CDATA[ProjectServiceDeactivateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceDeactivateProjectGrantResponse> DeactivateProjectGrantAsync(ProjectServiceDeactivateProjectGrantRequest projectServiceDeactivateProjectGrantRequest)
    {
        Task<ApiResult<ProjectServiceDeactivateProjectGrantResponse>> task = DeactivateProjectGrantWithHttpInfoAsync(projectServiceDeactivateProjectGrantRequest);
        ApiResult<ProjectServiceDeactivateProjectGrantResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Deactivate Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Set the state of the project grant to deactivated.  Applications under deactivated projects grants are not able to login anymore.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="projectServiceDeactivateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceDeactivateProjectGrantResponse>> DeactivateProjectGrantWithHttpInfoAsync(ProjectServiceDeactivateProjectGrantRequest projectServiceDeactivateProjectGrantRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/DeactivateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceDeactivateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceDeactivateProjectGrantRequest,
                DeactivateProjectGrantAccepts,
                "application/json",
                typeof(ProjectServiceDeactivateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Project
    /// </summary>
    /// <remarks>Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`</remarks>
    /// <param name="projectServiceDeleteProjectRequest"></param>
    /// <returns><![CDATA[ProjectServiceDeleteProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceDeleteProjectResponse> DeleteProjectAsync(ProjectServiceDeleteProjectRequest projectServiceDeleteProjectRequest)
    {
        Task<ApiResult<ProjectServiceDeleteProjectResponse>> task = DeleteProjectWithHttpInfoAsync(projectServiceDeleteProjectRequest);
        ApiResult<ProjectServiceDeleteProjectResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Project (with HTTP info)
    /// </summary>
    /// <remarks>Delete an existing project.  In case the project is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.delete`</remarks>
    /// <param name="projectServiceDeleteProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceDeleteProjectResponse>> DeleteProjectWithHttpInfoAsync(ProjectServiceDeleteProjectRequest projectServiceDeleteProjectRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/DeleteProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceDeleteProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceDeleteProjectRequest,
                DeleteProjectAccepts,
                "application/json",
                typeof(ProjectServiceDeleteProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Project Grant
    /// </summary>
    /// <remarks>Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`</remarks>
    /// <param name="projectServiceDeleteProjectGrantRequest"></param>
    /// <returns><![CDATA[ProjectServiceDeleteProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceDeleteProjectGrantResponse> DeleteProjectGrantAsync(ProjectServiceDeleteProjectGrantRequest projectServiceDeleteProjectGrantRequest)
    {
        Task<ApiResult<ProjectServiceDeleteProjectGrantResponse>> task = DeleteProjectGrantWithHttpInfoAsync(projectServiceDeleteProjectGrantRequest);
        ApiResult<ProjectServiceDeleteProjectGrantResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Delete a project grant. All user grants for this project grant will also be removed.  A user will not have access to the project afterward (if permissions are checked).  In case the project grant is not found, the request will return a successful response as  the desired state is already achieved.   Required permission:    - `project.grant.delete`</remarks>
    /// <param name="projectServiceDeleteProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceDeleteProjectGrantResponse>> DeleteProjectGrantWithHttpInfoAsync(ProjectServiceDeleteProjectGrantRequest projectServiceDeleteProjectGrantRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/DeleteProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceDeleteProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceDeleteProjectGrantRequest,
                DeleteProjectGrantAccepts,
                "application/json",
                typeof(ProjectServiceDeleteProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Project
    /// </summary>
    /// <remarks>Returns the project identified by the requested ID.   Required permission:    - `project.read`</remarks>
    /// <param name="projectServiceGetProjectRequest"></param>
    /// <returns><![CDATA[ProjectServiceGetProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceGetProjectResponse> GetProjectAsync(ProjectServiceGetProjectRequest projectServiceGetProjectRequest)
    {
        Task<ApiResult<ProjectServiceGetProjectResponse>> task = GetProjectWithHttpInfoAsync(projectServiceGetProjectRequest);
        ApiResult<ProjectServiceGetProjectResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Project (with HTTP info)
    /// </summary>
    /// <remarks>Returns the project identified by the requested ID.   Required permission:    - `project.read`</remarks>
    /// <param name="projectServiceGetProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceGetProjectResponse>> GetProjectWithHttpInfoAsync(ProjectServiceGetProjectRequest projectServiceGetProjectRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/GetProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceGetProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceGetProjectRequest,
                GetProjectAccepts,
                "application/json",
                typeof(ProjectServiceGetProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Project Grants
    /// </summary>
    /// <remarks>Returns a list of project grants. A project grant is when the organization grants its project  to another organization.   Required permission:    - `project.grant.read`</remarks>
    /// <param name="projectServiceListProjectGrantsRequest"></param>
    /// <returns><![CDATA[ProjectServiceListProjectGrantsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceListProjectGrantsResponse> ListProjectGrantsAsync(ProjectServiceListProjectGrantsRequest projectServiceListProjectGrantsRequest)
    {
        Task<ApiResult<ProjectServiceListProjectGrantsResponse>> task = ListProjectGrantsWithHttpInfoAsync(projectServiceListProjectGrantsRequest);
        ApiResult<ProjectServiceListProjectGrantsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Project Grants (with HTTP info)
    /// </summary>
    /// <remarks>Returns a list of project grants. A project grant is when the organization grants its project  to another organization.   Required permission:    - `project.grant.read`</remarks>
    /// <param name="projectServiceListProjectGrantsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceListProjectGrantsResponse>> ListProjectGrantsWithHttpInfoAsync(ProjectServiceListProjectGrantsRequest projectServiceListProjectGrantsRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/ListProjectGrants";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceListProjectGrantsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceListProjectGrantsRequest,
                ListProjectGrantsAccepts,
                "application/json",
                typeof(ProjectServiceListProjectGrantsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Project Roles
    /// </summary>
    /// <remarks>Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`</remarks>
    /// <param name="projectServiceListProjectRolesRequest"></param>
    /// <returns><![CDATA[ProjectServiceListProjectRolesResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceListProjectRolesResponse> ListProjectRolesAsync(ProjectServiceListProjectRolesRequest projectServiceListProjectRolesRequest)
    {
        Task<ApiResult<ProjectServiceListProjectRolesResponse>> task = ListProjectRolesWithHttpInfoAsync(projectServiceListProjectRolesRequest);
        ApiResult<ProjectServiceListProjectRolesResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Project Roles (with HTTP info)
    /// </summary>
    /// <remarks>Returns all roles of a project matching the search query.   Required permission:    - `project.role.read`</remarks>
    /// <param name="projectServiceListProjectRolesRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceListProjectRolesResponse>> ListProjectRolesWithHttpInfoAsync(ProjectServiceListProjectRolesRequest projectServiceListProjectRolesRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/ListProjectRoles";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceListProjectRolesResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceListProjectRolesRequest,
                ListProjectRolesAccepts,
                "application/json",
                typeof(ProjectServiceListProjectRolesResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Projects
    /// </summary>
    /// <remarks>List all matching projects. By default all projects of the instance that the caller  has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`</remarks>
    /// <param name="projectServiceListProjectsRequest"></param>
    /// <returns><![CDATA[ProjectServiceListProjectsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceListProjectsResponse> ListProjectsAsync(ProjectServiceListProjectsRequest projectServiceListProjectsRequest)
    {
        Task<ApiResult<ProjectServiceListProjectsResponse>> task = ListProjectsWithHttpInfoAsync(projectServiceListProjectsRequest);
        ApiResult<ProjectServiceListProjectsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Projects (with HTTP info)
    /// </summary>
    /// <remarks>List all matching projects. By default all projects of the instance that the caller  has permission to read are returned.  Make sure to include a limit and sorting for pagination.   Required permission:    - `project.read`</remarks>
    /// <param name="projectServiceListProjectsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceListProjectsResponse>> ListProjectsWithHttpInfoAsync(ProjectServiceListProjectsRequest projectServiceListProjectsRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/ListProjects";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceListProjectsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceListProjectsRequest,
                ListProjectsAccepts,
                "application/json",
                typeof(ProjectServiceListProjectsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Remove Project Role
    /// </summary>
    /// <remarks>Removes the role from the project and on every resource it has a dependency.  This includes project grants and user grants.   Required permission:    - `project.role.write`</remarks>
    /// <param name="projectServiceRemoveProjectRoleRequest"></param>
    /// <returns><![CDATA[ProjectServiceRemoveProjectRoleResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceRemoveProjectRoleResponse> RemoveProjectRoleAsync(ProjectServiceRemoveProjectRoleRequest projectServiceRemoveProjectRoleRequest)
    {
        Task<ApiResult<ProjectServiceRemoveProjectRoleResponse>> task = RemoveProjectRoleWithHttpInfoAsync(projectServiceRemoveProjectRoleRequest);
        ApiResult<ProjectServiceRemoveProjectRoleResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Remove Project Role (with HTTP info)
    /// </summary>
    /// <remarks>Removes the role from the project and on every resource it has a dependency.  This includes project grants and user grants.   Required permission:    - `project.role.write`</remarks>
    /// <param name="projectServiceRemoveProjectRoleRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceRemoveProjectRoleResponse>> RemoveProjectRoleWithHttpInfoAsync(ProjectServiceRemoveProjectRoleRequest projectServiceRemoveProjectRoleRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/RemoveProjectRole";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceRemoveProjectRoleResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceRemoveProjectRoleRequest,
                RemoveProjectRoleAccepts,
                "application/json",
                typeof(ProjectServiceRemoveProjectRoleResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Project
    /// </summary>
    /// <remarks>Update an existing project.   Required permission:    - `project.write`</remarks>
    /// <param name="projectServiceUpdateProjectRequest"></param>
    /// <returns><![CDATA[ProjectServiceUpdateProjectResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceUpdateProjectResponse> UpdateProjectAsync(ProjectServiceUpdateProjectRequest projectServiceUpdateProjectRequest)
    {
        Task<ApiResult<ProjectServiceUpdateProjectResponse>> task = UpdateProjectWithHttpInfoAsync(projectServiceUpdateProjectRequest);
        ApiResult<ProjectServiceUpdateProjectResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Project (with HTTP info)
    /// </summary>
    /// <remarks>Update an existing project.   Required permission:    - `project.write`</remarks>
    /// <param name="projectServiceUpdateProjectRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceUpdateProjectResponse>> UpdateProjectWithHttpInfoAsync(ProjectServiceUpdateProjectRequest projectServiceUpdateProjectRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/UpdateProject";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceUpdateProjectResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceUpdateProjectRequest,
                UpdateProjectAccepts,
                "application/json",
                typeof(ProjectServiceUpdateProjectResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Project Grant
    /// </summary>
    /// <remarks>Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="projectServiceUpdateProjectGrantRequest"></param>
    /// <returns><![CDATA[ProjectServiceUpdateProjectGrantResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceUpdateProjectGrantResponse> UpdateProjectGrantAsync(ProjectServiceUpdateProjectGrantRequest projectServiceUpdateProjectGrantRequest)
    {
        Task<ApiResult<ProjectServiceUpdateProjectGrantResponse>> task = UpdateProjectGrantWithHttpInfoAsync(projectServiceUpdateProjectGrantRequest);
        ApiResult<ProjectServiceUpdateProjectGrantResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Project Grant (with HTTP info)
    /// </summary>
    /// <remarks>Change the roles of the project that is granted to another organization.  The project grant will allow the granted organization to access the project and manage  the authorizations for its users.   Required permission:    - `project.grant.write`</remarks>
    /// <param name="projectServiceUpdateProjectGrantRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceUpdateProjectGrantResponse>> UpdateProjectGrantWithHttpInfoAsync(ProjectServiceUpdateProjectGrantRequest projectServiceUpdateProjectGrantRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/UpdateProjectGrant";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceUpdateProjectGrantResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceUpdateProjectGrantRequest,
                UpdateProjectGrantAccepts,
                "application/json",
                typeof(ProjectServiceUpdateProjectGrantResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Update Project Role
    /// </summary>
    /// <remarks>Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`</remarks>
    /// <param name="projectServiceUpdateProjectRoleRequest"></param>
    /// <returns><![CDATA[ProjectServiceUpdateProjectRoleResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ProjectServiceUpdateProjectRoleResponse> UpdateProjectRoleAsync(ProjectServiceUpdateProjectRoleRequest projectServiceUpdateProjectRoleRequest)
    {
        Task<ApiResult<ProjectServiceUpdateProjectRoleResponse>> task = UpdateProjectRoleWithHttpInfoAsync(projectServiceUpdateProjectRoleRequest);
        ApiResult<ProjectServiceUpdateProjectRoleResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Update Project Role (with HTTP info)
    /// </summary>
    /// <remarks>Change a project role. The key is not editable. If a key should change, remove the role and create a new one.   Required permission:    - `project.role.write`</remarks>
    /// <param name="projectServiceUpdateProjectRoleRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<ProjectServiceUpdateProjectRoleResponse>> UpdateProjectRoleWithHttpInfoAsync(ProjectServiceUpdateProjectRoleRequest projectServiceUpdateProjectRoleRequest)
    {
        string path = "/zitadel.project.v2.ProjectService/UpdateProjectRole";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<ProjectServiceUpdateProjectRoleResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                projectServiceUpdateProjectRoleRequest,
                UpdateProjectRoleAccepts,
                "application/json",
                typeof(ProjectServiceUpdateProjectRoleResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
