// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// SAMLServiceApi provides methods for the SAMLService API group.
/// </summary>
public class SAMLServiceApi : BaseApi
{
    private static readonly string[] CreateResponseAccepts = ["application/json"];

    private static readonly string[] GetSAMLRequestAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="SAMLServiceApi"/> with defaults.</summary>
    public SAMLServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="SAMLServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public SAMLServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="SAMLServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public SAMLServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create Response
    /// </summary>
    /// <remarks>Finalize a SAML Request and get the response definition for success or failure.  The response must be handled as per the SAML definition to inform the application about the success or failure.  On success, the response contains details for the application to obtain the SAMLResponse.  This method can only be called once for an SAML request.   Required permissions:    - `session.link`</remarks>
    /// <param name="sAMLServiceCreateResponseRequest"></param>
    /// <returns><![CDATA[SAMLServiceCreateResponseResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SAMLServiceCreateResponseResponse> CreateResponseAsync(
        SAMLServiceCreateResponseRequest sAMLServiceCreateResponseRequest
    )
    {
        Task<ApiResult<SAMLServiceCreateResponseResponse>> task = CreateResponseWithHttpInfoAsync(
            sAMLServiceCreateResponseRequest
        );
        ApiResult<SAMLServiceCreateResponseResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Create Response (with HTTP info)
    /// </summary>
    /// <remarks>Finalize a SAML Request and get the response definition for success or failure.  The response must be handled as per the SAML definition to inform the application about the success or failure.  On success, the response contains details for the application to obtain the SAMLResponse.  This method can only be called once for an SAML request.   Required permissions:    - `session.link`</remarks>
    /// <param name="sAMLServiceCreateResponseRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SAMLServiceCreateResponseResponse>> CreateResponseWithHttpInfoAsync(
        SAMLServiceCreateResponseRequest sAMLServiceCreateResponseRequest
    )
    {
        string path = "/zitadel.saml.v2.SAMLService/CreateResponse";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SAMLServiceCreateResponseResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                sAMLServiceCreateResponseRequest,
                CreateResponseAccepts,
                "application/json",
                typeof(SAMLServiceCreateResponseResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get SAML Request
    /// </summary>
    /// <remarks>Get SAML Request details by ID. Returns details that are parsed from the application's SAML Request.   Required permissions:    - `session.read`</remarks>
    /// <param name="sAMLServiceGetSAMLRequestRequest"></param>
    /// <returns><![CDATA[SAMLServiceGetSAMLRequestResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SAMLServiceGetSAMLRequestResponse> GetSAMLRequestAsync(
        SAMLServiceGetSAMLRequestRequest sAMLServiceGetSAMLRequestRequest
    )
    {
        Task<ApiResult<SAMLServiceGetSAMLRequestResponse>> task = GetSAMLRequestWithHttpInfoAsync(
            sAMLServiceGetSAMLRequestRequest
        );
        ApiResult<SAMLServiceGetSAMLRequestResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody
            );
    }

    /// <summary>
    /// Get SAML Request (with HTTP info)
    /// </summary>
    /// <remarks>Get SAML Request details by ID. Returns details that are parsed from the application's SAML Request.   Required permissions:    - `session.read`</remarks>
    /// <param name="sAMLServiceGetSAMLRequestRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SAMLServiceGetSAMLRequestResponse>> GetSAMLRequestWithHttpInfoAsync(
        SAMLServiceGetSAMLRequestRequest sAMLServiceGetSAMLRequestRequest
    )
    {
        string path = "/zitadel.saml.v2.SAMLService/GetSAMLRequest";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SAMLServiceGetSAMLRequestResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                sAMLServiceGetSAMLRequestRequest,
                GetSAMLRequestAccepts,
                "application/json",
                typeof(SAMLServiceGetSAMLRequestResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
