// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// SessionServiceApi provides methods for the SessionService API group.
/// </summary>
public class SessionServiceApi : BaseApi
{

    private static readonly string[] CreateSessionAccepts = ["application/json"];

    private static readonly string[] DeleteSessionAccepts = ["application/json"];

    private static readonly string[] GetSessionAccepts = ["application/json"];

    private static readonly string[] ListSessionsAccepts = ["application/json"];

    private static readonly string[] SetSessionAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="SessionServiceApi"/> with defaults.</summary>
    public SessionServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="SessionServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public SessionServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="SessionServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public SessionServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Create Session
    /// </summary>
    /// <remarks>Create a new session with initial checks, metadata and challenges for further verification.  A token will be returned, which is required for using the session as authentication, e.g.  when authenticating an OIDC auth request or SAML request.  Additionally, the session token can be used as OAuth2 access token to authenticate against  the ZITADEL APIs.   Required permissions:    - `session.write`</remarks>
    /// <param name="sessionServiceCreateSessionRequest"></param>
    /// <returns><![CDATA[SessionServiceCreateSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SessionServiceCreateSessionResponse> CreateSessionAsync(SessionServiceCreateSessionRequest sessionServiceCreateSessionRequest)
    {
        Task<ApiResult<SessionServiceCreateSessionResponse>> task = CreateSessionWithHttpInfoAsync(sessionServiceCreateSessionRequest);
        ApiResult<SessionServiceCreateSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Session (with HTTP info)
    /// </summary>
    /// <remarks>Create a new session with initial checks, metadata and challenges for further verification.  A token will be returned, which is required for using the session as authentication, e.g.  when authenticating an OIDC auth request or SAML request.  Additionally, the session token can be used as OAuth2 access token to authenticate against  the ZITADEL APIs.   Required permissions:    - `session.write`</remarks>
    /// <param name="sessionServiceCreateSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SessionServiceCreateSessionResponse>> CreateSessionWithHttpInfoAsync(SessionServiceCreateSessionRequest sessionServiceCreateSessionRequest)
    {
        string path = "/zitadel.session.v2.SessionService/CreateSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SessionServiceCreateSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                sessionServiceCreateSessionRequest,
                CreateSessionAccepts,
                "application/json",
                typeof(SessionServiceCreateSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// DeleteSession
    /// </summary>
    /// <remarks>Terminate an existing session. This invalidates the session and its token.  The session can no longer be used for the authentication of other resources  or to authenticate against the ZITADEL APIs.   You can only terminate your own session, unless you are granted the `session.delete` permission.   Required permissions:    - `session.delete`    - no permission required for own sessions or when providing the current session token</remarks>
    /// <param name="sessionServiceDeleteSessionRequest"></param>
    /// <returns><![CDATA[SessionServiceDeleteSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SessionServiceDeleteSessionResponse> DeleteSessionAsync(SessionServiceDeleteSessionRequest sessionServiceDeleteSessionRequest)
    {
        Task<ApiResult<SessionServiceDeleteSessionResponse>> task = DeleteSessionWithHttpInfoAsync(sessionServiceDeleteSessionRequest);
        ApiResult<SessionServiceDeleteSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// DeleteSession (with HTTP info)
    /// </summary>
    /// <remarks>Terminate an existing session. This invalidates the session and its token.  The session can no longer be used for the authentication of other resources  or to authenticate against the ZITADEL APIs.   You can only terminate your own session, unless you are granted the `session.delete` permission.   Required permissions:    - `session.delete`    - no permission required for own sessions or when providing the current session token</remarks>
    /// <param name="sessionServiceDeleteSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SessionServiceDeleteSessionResponse>> DeleteSessionWithHttpInfoAsync(SessionServiceDeleteSessionRequest sessionServiceDeleteSessionRequest)
    {
        string path = "/zitadel.session.v2.SessionService/DeleteSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SessionServiceDeleteSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                sessionServiceDeleteSessionRequest,
                DeleteSessionAccepts,
                "application/json",
                typeof(SessionServiceDeleteSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Session
    /// </summary>
    /// <remarks>Retrieve a session by its ID. Returns all information about the session, including  the factors that were verified, the metadata, user agent information and possible expiration date.  The session token is required unless either of the following conditions is met:    - the caller created the session    - the authenticated user requests their own session (checked user)    - the security token provided in the authorization header has the same user agent as the session    - the caller is granted the permission session.read permission on either the instance or on the checked user's organization   Required permissions:    - `session.read`    - no permission required to get own sessions (see above) or when providing the current session token</remarks>
    /// <param name="sessionServiceGetSessionRequest"></param>
    /// <returns><![CDATA[SessionServiceGetSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SessionServiceGetSessionResponse> GetSessionAsync(SessionServiceGetSessionRequest sessionServiceGetSessionRequest)
    {
        Task<ApiResult<SessionServiceGetSessionResponse>> task = GetSessionWithHttpInfoAsync(sessionServiceGetSessionRequest);
        ApiResult<SessionServiceGetSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Session (with HTTP info)
    /// </summary>
    /// <remarks>Retrieve a session by its ID. Returns all information about the session, including  the factors that were verified, the metadata, user agent information and possible expiration date.  The session token is required unless either of the following conditions is met:    - the caller created the session    - the authenticated user requests their own session (checked user)    - the security token provided in the authorization header has the same user agent as the session    - the caller is granted the permission session.read permission on either the instance or on the checked user's organization   Required permissions:    - `session.read`    - no permission required to get own sessions (see above) or when providing the current session token</remarks>
    /// <param name="sessionServiceGetSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SessionServiceGetSessionResponse>> GetSessionWithHttpInfoAsync(SessionServiceGetSessionRequest sessionServiceGetSessionRequest)
    {
        string path = "/zitadel.session.v2.SessionService/GetSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SessionServiceGetSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                sessionServiceGetSessionRequest,
                GetSessionAccepts,
                "application/json",
                typeof(SessionServiceGetSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List sessions
    /// </summary>
    /// <remarks>Searches for sessions matching the given query. You can search by session ID, user ID,  creation date, creator, user agent or expiration date.   Required permissions:    - `session.read`    - no permission required to search for own sessions</remarks>
    /// <param name="sessionServiceListSessionsRequest"></param>
    /// <returns><![CDATA[SessionServiceListSessionsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SessionServiceListSessionsResponse> ListSessionsAsync(SessionServiceListSessionsRequest sessionServiceListSessionsRequest)
    {
        Task<ApiResult<SessionServiceListSessionsResponse>> task = ListSessionsWithHttpInfoAsync(sessionServiceListSessionsRequest);
        ApiResult<SessionServiceListSessionsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List sessions (with HTTP info)
    /// </summary>
    /// <remarks>Searches for sessions matching the given query. You can search by session ID, user ID,  creation date, creator, user agent or expiration date.   Required permissions:    - `session.read`    - no permission required to search for own sessions</remarks>
    /// <param name="sessionServiceListSessionsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SessionServiceListSessionsResponse>> ListSessionsWithHttpInfoAsync(SessionServiceListSessionsRequest sessionServiceListSessionsRequest)
    {
        string path = "/zitadel.session.v2.SessionService/ListSessions";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SessionServiceListSessionsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                sessionServiceListSessionsRequest,
                ListSessionsAccepts,
                "application/json",
                typeof(SessionServiceListSessionsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Session
    /// </summary>
    /// <remarks>Update an existing session with new information like additional checks or metadata  or request additional challenges.  A new session token will be returned. Note that the previous token will be invalidated.   Required permissions:    - `session.write`</remarks>
    /// <param name="sessionServiceSetSessionRequest"></param>
    /// <returns><![CDATA[SessionServiceSetSessionResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SessionServiceSetSessionResponse> SetSessionAsync(SessionServiceSetSessionRequest sessionServiceSetSessionRequest)
    {
        Task<ApiResult<SessionServiceSetSessionResponse>> task = SetSessionWithHttpInfoAsync(sessionServiceSetSessionRequest);
        ApiResult<SessionServiceSetSessionResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set Session (with HTTP info)
    /// </summary>
    /// <remarks>Update an existing session with new information like additional checks or metadata  or request additional challenges.  A new session token will be returned. Note that the previous token will be invalidated.   Required permissions:    - `session.write`</remarks>
    /// <param name="sessionServiceSetSessionRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SessionServiceSetSessionResponse>> SetSessionWithHttpInfoAsync(SessionServiceSetSessionRequest sessionServiceSetSessionRequest)
    {
        string path = "/zitadel.session.v2.SessionService/SetSession";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SessionServiceSetSessionResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                sessionServiceSetSessionRequest,
                SetSessionAccepts,
                "application/json",
                typeof(SessionServiceSetSessionResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
