// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// SettingsServiceApi provides methods for the SettingsService API group.
/// </summary>
public class SettingsServiceApi : BaseApi
{

    private static readonly string[] GetActiveIdentityProvidersAccepts = ["application/json"];

    private static readonly string[] GetBrandingSettingsAccepts = ["application/json"];

    private static readonly string[] GetDomainSettingsAccepts = ["application/json"];

    private static readonly string[] GetGeneralSettingsAccepts = ["application/json"];

    private static readonly string[] GetHostedLoginTranslationAccepts = ["application/json"];

    private static readonly string[] GetLegalAndSupportSettingsAccepts = ["application/json"];

    private static readonly string[] GetLockoutSettingsAccepts = ["application/json"];

    private static readonly string[] GetLoginSettingsAccepts = ["application/json"];

    private static readonly string[] GetPasswordComplexitySettingsAccepts = ["application/json"];

    private static readonly string[] GetPasswordExpirySettingsAccepts = ["application/json"];

    private static readonly string[] GetSecuritySettingsAccepts = ["application/json"];

    private static readonly string[] SetHostedLoginTranslationAccepts = ["application/json"];

    private static readonly string[] SetSecuritySettingsAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="SettingsServiceApi"/> with defaults.</summary>
    public SettingsServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="SettingsServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public SettingsServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="SettingsServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public SettingsServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Get Active Identity Providers
    /// </summary>
    /// <remarks>Get the current active identity providers for the requested context.  This can be the instance or an organization. In case of an organization,  the returned identity providers will fall back to the active instance identity providers  if not explicitly set on the organization.   Optionally, filter the identity providers by their allowed actions:    - creation_allowed: only return identity providers that are allowed for user creation    - linking_allowed: only return identity providers that are allowed for linking to existing users    - auto_creation: only return identity providers that are allowed for automatic user creation    - auto_linking: only return identity providers that are allowed for automatic linking to existing users   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetActiveIdentityProvidersRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetActiveIdentityProvidersResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetActiveIdentityProvidersResponse> GetActiveIdentityProvidersAsync(SettingsServiceGetActiveIdentityProvidersRequest settingsServiceGetActiveIdentityProvidersRequest)
    {
        Task<ApiResult<SettingsServiceGetActiveIdentityProvidersResponse>> task = GetActiveIdentityProvidersWithHttpInfoAsync(settingsServiceGetActiveIdentityProvidersRequest);
        ApiResult<SettingsServiceGetActiveIdentityProvidersResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Active Identity Providers (with HTTP info)
    /// </summary>
    /// <remarks>Get the current active identity providers for the requested context.  This can be the instance or an organization. In case of an organization,  the returned identity providers will fall back to the active instance identity providers  if not explicitly set on the organization.   Optionally, filter the identity providers by their allowed actions:    - creation_allowed: only return identity providers that are allowed for user creation    - linking_allowed: only return identity providers that are allowed for linking to existing users    - auto_creation: only return identity providers that are allowed for automatic user creation    - auto_linking: only return identity providers that are allowed for automatic linking to existing users   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetActiveIdentityProvidersRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetActiveIdentityProvidersResponse>> GetActiveIdentityProvidersWithHttpInfoAsync(SettingsServiceGetActiveIdentityProvidersRequest settingsServiceGetActiveIdentityProvidersRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetActiveIdentityProviders";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetActiveIdentityProvidersResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetActiveIdentityProvidersRequest,
                GetActiveIdentityProvidersAccepts,
                "application/json",
                typeof(SettingsServiceGetActiveIdentityProvidersResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Branding Settings
    /// </summary>
    /// <remarks>Get the current active branding settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetBrandingSettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetBrandingSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetBrandingSettingsResponse> GetBrandingSettingsAsync(SettingsServiceGetBrandingSettingsRequest settingsServiceGetBrandingSettingsRequest)
    {
        Task<ApiResult<SettingsServiceGetBrandingSettingsResponse>> task = GetBrandingSettingsWithHttpInfoAsync(settingsServiceGetBrandingSettingsRequest);
        ApiResult<SettingsServiceGetBrandingSettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Branding Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the current active branding settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetBrandingSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetBrandingSettingsResponse>> GetBrandingSettingsWithHttpInfoAsync(SettingsServiceGetBrandingSettingsRequest settingsServiceGetBrandingSettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetBrandingSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetBrandingSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetBrandingSettingsRequest,
                GetBrandingSettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetBrandingSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Domain Settings
    /// </summary>
    /// <remarks>Get the domain settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetDomainSettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetDomainSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetDomainSettingsResponse> GetDomainSettingsAsync(SettingsServiceGetDomainSettingsRequest settingsServiceGetDomainSettingsRequest)
    {
        Task<ApiResult<SettingsServiceGetDomainSettingsResponse>> task = GetDomainSettingsWithHttpInfoAsync(settingsServiceGetDomainSettingsRequest);
        ApiResult<SettingsServiceGetDomainSettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Domain Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the domain settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetDomainSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetDomainSettingsResponse>> GetDomainSettingsWithHttpInfoAsync(SettingsServiceGetDomainSettingsRequest settingsServiceGetDomainSettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetDomainSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetDomainSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetDomainSettingsRequest,
                GetDomainSettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetDomainSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get General Settings
    /// </summary>
    /// <remarks>Get basic information of the instance like the default organization, default language and supported languages.   Required permissions:    - `policy.read`</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[SettingsServiceGetGeneralSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetGeneralSettingsResponse> GetGeneralSettingsAsync(Object body)
    {
        Task<ApiResult<SettingsServiceGetGeneralSettingsResponse>> task = GetGeneralSettingsWithHttpInfoAsync(body);
        ApiResult<SettingsServiceGetGeneralSettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get General Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get basic information of the instance like the default organization, default language and supported languages.   Required permissions:    - `policy.read`</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetGeneralSettingsResponse>> GetGeneralSettingsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetGeneralSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetGeneralSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                GetGeneralSettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetGeneralSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Hosted Login Translation
    /// </summary>
    /// <remarks>Returns the translations in the requested locale for the hosted login.  The translations returned are based on the input level specified (system, instance or organization).   If the requested level doesn't contain all translations, and ignore_inheritance is set to false,  a merging process fallbacks onto the higher levels ensuring all keys in the file have a translation,  which could be in the default language if the one of the locale is missing on all levels.   The etag returned in the response represents the hash of the translations as they are stored on DB  and its reliable only if ignore_inheritance = true.   Required permissions:    - `iam.policy.read`</remarks>
    /// <param name="settingsServiceGetHostedLoginTranslationRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetHostedLoginTranslationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetHostedLoginTranslationResponse> GetHostedLoginTranslationAsync(SettingsServiceGetHostedLoginTranslationRequest settingsServiceGetHostedLoginTranslationRequest)
    {
        Task<ApiResult<SettingsServiceGetHostedLoginTranslationResponse>> task = GetHostedLoginTranslationWithHttpInfoAsync(settingsServiceGetHostedLoginTranslationRequest);
        ApiResult<SettingsServiceGetHostedLoginTranslationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Hosted Login Translation (with HTTP info)
    /// </summary>
    /// <remarks>Returns the translations in the requested locale for the hosted login.  The translations returned are based on the input level specified (system, instance or organization).   If the requested level doesn't contain all translations, and ignore_inheritance is set to false,  a merging process fallbacks onto the higher levels ensuring all keys in the file have a translation,  which could be in the default language if the one of the locale is missing on all levels.   The etag returned in the response represents the hash of the translations as they are stored on DB  and its reliable only if ignore_inheritance = true.   Required permissions:    - `iam.policy.read`</remarks>
    /// <param name="settingsServiceGetHostedLoginTranslationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetHostedLoginTranslationResponse>> GetHostedLoginTranslationWithHttpInfoAsync(SettingsServiceGetHostedLoginTranslationRequest settingsServiceGetHostedLoginTranslationRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetHostedLoginTranslation";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetHostedLoginTranslationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetHostedLoginTranslationRequest,
                GetHostedLoginTranslationAccepts,
                "application/json",
                typeof(SettingsServiceGetHostedLoginTranslationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Legal and Support Settings
    /// </summary>
    /// <remarks>Get the legal and support settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetLegalAndSupportSettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetLegalAndSupportSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetLegalAndSupportSettingsResponse> GetLegalAndSupportSettingsAsync(SettingsServiceGetLegalAndSupportSettingsRequest settingsServiceGetLegalAndSupportSettingsRequest)
    {
        Task<ApiResult<SettingsServiceGetLegalAndSupportSettingsResponse>> task = GetLegalAndSupportSettingsWithHttpInfoAsync(settingsServiceGetLegalAndSupportSettingsRequest);
        ApiResult<SettingsServiceGetLegalAndSupportSettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Legal and Support Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the legal and support settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetLegalAndSupportSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetLegalAndSupportSettingsResponse>> GetLegalAndSupportSettingsWithHttpInfoAsync(SettingsServiceGetLegalAndSupportSettingsRequest settingsServiceGetLegalAndSupportSettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetLegalAndSupportSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetLegalAndSupportSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetLegalAndSupportSettingsRequest,
                GetLegalAndSupportSettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetLegalAndSupportSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Lockout Settings
    /// </summary>
    /// <remarks>Get the lockout settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Lockout settings define how many failed attempts are allowed before a user is locked out.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetLockoutSettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetLockoutSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetLockoutSettingsResponse> GetLockoutSettingsAsync(SettingsServiceGetLockoutSettingsRequest settingsServiceGetLockoutSettingsRequest)
    {
        Task<ApiResult<SettingsServiceGetLockoutSettingsResponse>> task = GetLockoutSettingsWithHttpInfoAsync(settingsServiceGetLockoutSettingsRequest);
        ApiResult<SettingsServiceGetLockoutSettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Lockout Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the lockout settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Lockout settings define how many failed attempts are allowed before a user is locked out.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetLockoutSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetLockoutSettingsResponse>> GetLockoutSettingsWithHttpInfoAsync(SettingsServiceGetLockoutSettingsRequest settingsServiceGetLockoutSettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetLockoutSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetLockoutSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetLockoutSettingsRequest,
                GetLockoutSettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetLockoutSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Login Settings
    /// </summary>
    /// <remarks>Get the login settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetLoginSettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetLoginSettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetLoginSettingsResponse> GetLoginSettingsAsync(SettingsServiceGetLoginSettingsRequest settingsServiceGetLoginSettingsRequest)
    {
        Task<ApiResult<SettingsServiceGetLoginSettingsResponse>> task = GetLoginSettingsWithHttpInfoAsync(settingsServiceGetLoginSettingsRequest);
        ApiResult<SettingsServiceGetLoginSettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Login Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the login settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetLoginSettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetLoginSettingsResponse>> GetLoginSettingsWithHttpInfoAsync(SettingsServiceGetLoginSettingsRequest settingsServiceGetLoginSettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetLoginSettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetLoginSettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetLoginSettingsRequest,
                GetLoginSettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetLoginSettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Password Complexity Settings
    /// </summary>
    /// <remarks>Get the password complexity settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetPasswordComplexitySettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetPasswordComplexitySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetPasswordComplexitySettingsResponse> GetPasswordComplexitySettingsAsync(SettingsServiceGetPasswordComplexitySettingsRequest settingsServiceGetPasswordComplexitySettingsRequest)
    {
        Task<ApiResult<SettingsServiceGetPasswordComplexitySettingsResponse>> task = GetPasswordComplexitySettingsWithHttpInfoAsync(settingsServiceGetPasswordComplexitySettingsRequest);
        ApiResult<SettingsServiceGetPasswordComplexitySettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Password Complexity Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the password complexity settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetPasswordComplexitySettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetPasswordComplexitySettingsResponse>> GetPasswordComplexitySettingsWithHttpInfoAsync(SettingsServiceGetPasswordComplexitySettingsRequest settingsServiceGetPasswordComplexitySettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetPasswordComplexitySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetPasswordComplexitySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetPasswordComplexitySettingsRequest,
                GetPasswordComplexitySettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetPasswordComplexitySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Password Expiry Settings
    /// </summary>
    /// <remarks>Get the password expiry settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetPasswordExpirySettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceGetPasswordExpirySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetPasswordExpirySettingsResponse> GetPasswordExpirySettingsAsync(SettingsServiceGetPasswordExpirySettingsRequest settingsServiceGetPasswordExpirySettingsRequest)
    {
        Task<ApiResult<SettingsServiceGetPasswordExpirySettingsResponse>> task = GetPasswordExpirySettingsWithHttpInfoAsync(settingsServiceGetPasswordExpirySettingsRequest);
        ApiResult<SettingsServiceGetPasswordExpirySettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Password Expiry Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the password expiry settings for the requested context.  This can be the instance or an organization. In case of an organization,  the returned settings will fall back to the instance settings if not explicitly set on the organization.   Required permissions:    - `policy.read`</remarks>
    /// <param name="settingsServiceGetPasswordExpirySettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetPasswordExpirySettingsResponse>> GetPasswordExpirySettingsWithHttpInfoAsync(SettingsServiceGetPasswordExpirySettingsRequest settingsServiceGetPasswordExpirySettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetPasswordExpirySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetPasswordExpirySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceGetPasswordExpirySettingsRequest,
                GetPasswordExpirySettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetPasswordExpirySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Get Security Settings
    /// </summary>
    /// <remarks>Get the security settings of the ZITADEL instance.  Security settings include settings like enabling impersonation and embedded iframe settings.   Required permissions:    - `iam.policy.read`</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[SettingsServiceGetSecuritySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceGetSecuritySettingsResponse> GetSecuritySettingsAsync(Object body)
    {
        Task<ApiResult<SettingsServiceGetSecuritySettingsResponse>> task = GetSecuritySettingsWithHttpInfoAsync(body);
        ApiResult<SettingsServiceGetSecuritySettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Get Security Settings (with HTTP info)
    /// </summary>
    /// <remarks>Get the security settings of the ZITADEL instance.  Security settings include settings like enabling impersonation and embedded iframe settings.   Required permissions:    - `iam.policy.read`</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceGetSecuritySettingsResponse>> GetSecuritySettingsWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.settings.v2.SettingsService/GetSecuritySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceGetSecuritySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                GetSecuritySettingsAccepts,
                "application/json",
                typeof(SettingsServiceGetSecuritySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Hosted Login Translation
    /// </summary>
    /// <remarks>Sets the input translations at the specified level (instance or organization) for the input language.   Required permissions:    - `iam.policy.write`</remarks>
    /// <param name="settingsServiceSetHostedLoginTranslationRequest"></param>
    /// <returns><![CDATA[SettingsServiceSetHostedLoginTranslationResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceSetHostedLoginTranslationResponse> SetHostedLoginTranslationAsync(SettingsServiceSetHostedLoginTranslationRequest settingsServiceSetHostedLoginTranslationRequest)
    {
        Task<ApiResult<SettingsServiceSetHostedLoginTranslationResponse>> task = SetHostedLoginTranslationWithHttpInfoAsync(settingsServiceSetHostedLoginTranslationRequest);
        ApiResult<SettingsServiceSetHostedLoginTranslationResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set Hosted Login Translation (with HTTP info)
    /// </summary>
    /// <remarks>Sets the input translations at the specified level (instance or organization) for the input language.   Required permissions:    - `iam.policy.write`</remarks>
    /// <param name="settingsServiceSetHostedLoginTranslationRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceSetHostedLoginTranslationResponse>> SetHostedLoginTranslationWithHttpInfoAsync(SettingsServiceSetHostedLoginTranslationRequest settingsServiceSetHostedLoginTranslationRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/SetHostedLoginTranslation";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceSetHostedLoginTranslationResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceSetHostedLoginTranslationRequest,
                SetHostedLoginTranslationAccepts,
                "application/json",
                typeof(SettingsServiceSetHostedLoginTranslationResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Set Security Settings
    /// </summary>
    /// <remarks>Set the security settings of the instance.   Required permissions:    - `iam.policy.write`</remarks>
    /// <param name="settingsServiceSetSecuritySettingsRequest"></param>
    /// <returns><![CDATA[SettingsServiceSetSecuritySettingsResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<SettingsServiceSetSecuritySettingsResponse> SetSecuritySettingsAsync(SettingsServiceSetSecuritySettingsRequest settingsServiceSetSecuritySettingsRequest)
    {
        Task<ApiResult<SettingsServiceSetSecuritySettingsResponse>> task = SetSecuritySettingsWithHttpInfoAsync(settingsServiceSetSecuritySettingsRequest);
        ApiResult<SettingsServiceSetSecuritySettingsResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Set Security Settings (with HTTP info)
    /// </summary>
    /// <remarks>Set the security settings of the instance.   Required permissions:    - `iam.policy.write`</remarks>
    /// <param name="settingsServiceSetSecuritySettingsRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<SettingsServiceSetSecuritySettingsResponse>> SetSecuritySettingsWithHttpInfoAsync(SettingsServiceSetSecuritySettingsRequest settingsServiceSetSecuritySettingsRequest)
    {
        string path = "/zitadel.settings.v2.SettingsService/SetSecuritySettings";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<SettingsServiceSetSecuritySettingsResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                settingsServiceSetSecuritySettingsRequest,
                SetSecuritySettingsAccepts,
                "application/json",
                typeof(SettingsServiceSetSecuritySettingsResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
