// <auto-generated/>
// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating with your Zitadel environment. This SDK enables you to handle resources, settings, and configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech
#nullable enable

using Zitadel.Client.Auth;
using Zitadel.Client.Models;

namespace Zitadel.Client.Api;

/// <summary>
/// WebKeyServiceApi provides methods for the WebKeyService API group.
/// </summary>
public class WebKeyServiceApi : BaseApi
{

    private static readonly string[] ActivateWebKeyAccepts = ["application/json"];

    private static readonly string[] CreateWebKeyAccepts = ["application/json"];

    private static readonly string[] DeleteWebKeyAccepts = ["application/json"];

    private static readonly string[] ListWebKeysAccepts = ["application/json"];

    /// <summary>Initializes a new instance of <see cref="WebKeyServiceApi"/> with defaults.</summary>
    public WebKeyServiceApi()
        : base() { }

    /// <summary>Initializes a new instance of <see cref="WebKeyServiceApi"/> with the given client and configuration.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    public WebKeyServiceApi(IApiClient apiClient, Configuration config)
        : base(apiClient, config) { }

    /// <summary>Initializes a new instance of <see cref="WebKeyServiceApi"/> with the given client, configuration, and default authenticator.</summary>
    /// <param name="apiClient">The HTTP client used to make API calls.</param>
    /// <param name="config">The configuration for the API client.</param>
    /// <param name="authenticator">Optional default authenticator applied when none is passed per-operation.</param>
    public WebKeyServiceApi(IApiClient apiClient, Configuration config, IAuthenticator? authenticator)
        : base(apiClient, config, authenticator) { }

    /// <summary>
    /// Activate Web Key
    /// </summary>
    /// <remarks>Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="webKeyServiceActivateWebKeyRequest"></param>
    /// <returns><![CDATA[WebKeyServiceActivateWebKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<WebKeyServiceActivateWebKeyResponse> ActivateWebKeyAsync(WebKeyServiceActivateWebKeyRequest webKeyServiceActivateWebKeyRequest)
    {
        Task<ApiResult<WebKeyServiceActivateWebKeyResponse>> task = ActivateWebKeyWithHttpInfoAsync(webKeyServiceActivateWebKeyRequest);
        ApiResult<WebKeyServiceActivateWebKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Activate Web Key (with HTTP info)
    /// </summary>
    /// <remarks>Switch the active signing web key. The previously active key will be deactivated.  Note that the JWKs OIDC endpoint returns a cacheable response.  Therefore it is not advised to activate a key that has been created within the cache duration (default is 5min),  as the public key may not have been propagated to caches and clients yet.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="webKeyServiceActivateWebKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<WebKeyServiceActivateWebKeyResponse>> ActivateWebKeyWithHttpInfoAsync(WebKeyServiceActivateWebKeyRequest webKeyServiceActivateWebKeyRequest)
    {
        string path = "/zitadel.webkey.v2.WebKeyService/ActivateWebKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<WebKeyServiceActivateWebKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                webKeyServiceActivateWebKeyRequest,
                ActivateWebKeyAccepts,
                "application/json",
                typeof(WebKeyServiceActivateWebKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Create Web Key
    /// </summary>
    /// <remarks>Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="webKeyServiceCreateWebKeyRequest"></param>
    /// <returns><![CDATA[WebKeyServiceCreateWebKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<WebKeyServiceCreateWebKeyResponse> CreateWebKeyAsync(WebKeyServiceCreateWebKeyRequest webKeyServiceCreateWebKeyRequest)
    {
        Task<ApiResult<WebKeyServiceCreateWebKeyResponse>> task = CreateWebKeyWithHttpInfoAsync(webKeyServiceCreateWebKeyRequest);
        ApiResult<WebKeyServiceCreateWebKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Create Web Key (with HTTP info)
    /// </summary>
    /// <remarks>Generate a private and public key pair. The private key can be used to sign OIDC tokens after activation.  The public key can be used to validate OIDC tokens.  The newly created key will have the state `STATE_INITIAL` and is published to the public key endpoint.  Note that the JWKs OIDC endpoint returns a cacheable response.   If no key type is provided, a RSA key pair with 2048 bits and SHA256 hashing will be created.   Required permission:    - `iam.web_key.write`</remarks>
    /// <param name="webKeyServiceCreateWebKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<WebKeyServiceCreateWebKeyResponse>> CreateWebKeyWithHttpInfoAsync(WebKeyServiceCreateWebKeyRequest webKeyServiceCreateWebKeyRequest)
    {
        string path = "/zitadel.webkey.v2.WebKeyService/CreateWebKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<WebKeyServiceCreateWebKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                webKeyServiceCreateWebKeyRequest,
                CreateWebKeyAccepts,
                "application/json",
                typeof(WebKeyServiceCreateWebKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// Delete Web Key
    /// </summary>
    /// <remarks>Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`</remarks>
    /// <param name="webKeyServiceDeleteWebKeyRequest"></param>
    /// <returns><![CDATA[WebKeyServiceDeleteWebKeyResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<WebKeyServiceDeleteWebKeyResponse> DeleteWebKeyAsync(WebKeyServiceDeleteWebKeyRequest webKeyServiceDeleteWebKeyRequest)
    {
        Task<ApiResult<WebKeyServiceDeleteWebKeyResponse>> task = DeleteWebKeyWithHttpInfoAsync(webKeyServiceDeleteWebKeyRequest);
        ApiResult<WebKeyServiceDeleteWebKeyResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// Delete Web Key (with HTTP info)
    /// </summary>
    /// <remarks>Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,  any tokens signed by this key will be invalid.  Note that the JWKs OIDC endpoint returns a cacheable response.  In case the web key is not found, the request will return a successful response as  the desired state is already achieved.  You can check the change date in the response to verify if the web key was deleted during the request.   Required permission:    - `iam.web_key.delete`</remarks>
    /// <param name="webKeyServiceDeleteWebKeyRequest"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<WebKeyServiceDeleteWebKeyResponse>> DeleteWebKeyWithHttpInfoAsync(WebKeyServiceDeleteWebKeyRequest webKeyServiceDeleteWebKeyRequest)
    {
        string path = "/zitadel.webkey.v2.WebKeyService/DeleteWebKey";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<WebKeyServiceDeleteWebKeyResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                webKeyServiceDeleteWebKeyRequest,
                DeleteWebKeyAccepts,
                "application/json",
                typeof(WebKeyServiceDeleteWebKeyResponse),
                null
            )
            .ConfigureAwait(false);
    }

    /// <summary>
    /// List Web Keys
    /// </summary>
    /// <remarks>List all web keys and their states.   Required permission:    - `iam.web_key.read`</remarks>
    /// <param name="body"></param>
    /// <returns><![CDATA[WebKeyServiceListWebKeysResponse]]></returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<WebKeyServiceListWebKeysResponse> ListWebKeysAsync(Object body)
    {
        Task<ApiResult<WebKeyServiceListWebKeysResponse>> task = ListWebKeysWithHttpInfoAsync(body);
        ApiResult<WebKeyServiceListWebKeysResponse> result = await task.ConfigureAwait(false);
        /* convenience-empty-body-handling: a body-returning operation that
         * receives no decodable body surfaces the same typed, catchable
         * ApiException as any other API failure (carrying the status code,
         * headers and raw body) — never a silent null or a non-SDK
         * exception type. Matches the harmonised cross-SDK canonical. */
        return result.Data
            ?? throw new ApiException(
                result.StatusCode,
                "Expected a non-empty response body but none was returned",
                new Dictionary<string, string>(result.Headers),
                result.RawBody);
    }

    /// <summary>
    /// List Web Keys (with HTTP info)
    /// </summary>
    /// <remarks>List all web keys and their states.   Required permission:    - `iam.web_key.read`</remarks>
    /// <param name="body"></param>
    /// <returns>ApiResult containing the response data, status code, raw body, and headers.</returns>
    /// <exception cref="ApiException">Thrown when the API call fails.</exception>
    public async Task<ApiResult<WebKeyServiceListWebKeysResponse>> ListWebKeysWithHttpInfoAsync(Object body)
    {
        string path = "/zitadel.webkey.v2.WebKeyService/ListWebKeys";

        Dictionary<string, object?> queryParams = [];
        Dictionary<string, string> headerParams = [];
        return await InvokeApiForResultAsync<WebKeyServiceListWebKeysResponse>(
                "POST",
                path,
                queryParams,
                headerParams,
                body,
                ListWebKeysAccepts,
                "application/json",
                typeof(WebKeyServiceListWebKeysResponse),
                null
            )
            .ConfigureAwait(false);
    }
}
